<h1>Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><p><%= f.label "First name" %></p>
  <%= f.text_field :first_name %></div>

  <div><p><%= f.label "Last name" %></p>
  <%= f.text_field :last_name %></div>

  <div><p><%= f.label :email %></p>
  <%= f.email_field :email %></div>

  <div><p><%= f.label :password %></p>
  <%= f.password_field :password %></div>

  <div><p><%= f.label :password_confirmation %></p>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :privacy_policy, :class => 'checkbox' do %>
  <%= f.check_box :privacy_policy %>I agree to the <%= link_to "Privacy policy", privacy_path %><% end %></div>

  <div><p><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
