<% content_for :title do %>Edit <%= @artist.name %>'s details<% end %>
<%= image_tag "/images/f-bulge-left.png", :alt => "Shadow", :id => "bulge-left" %>
<%= image_tag "/images/f-bulge-right.png", :alt => "Shadow", :id => "bulge-right" %>
<% 
image_width = 100
image_height = 100
%>
<div id="steps">
<%= form_for @artist do |f| %>
<span id="fields">
<fieldset class="step">
	<div class="step-back manage-details-step">
		<div class="step-left left">
			<ul>
				<li>
					<strong><%= f.label "Artist Name*" %></strong>
					<%= f.text_field :name, :class => 'form-text mfvalidate' %>
				</li>
				<li>
					<strong><%= f.label "Genre*" %></strong>
					<%= f.text_field :genre, :class => 'form-text mfvalidate' %>
				</li>
				<li>
					<strong><%= f.label "Label*" %></strong>
					<%= f.text_field :label_name, :class => 'form-text mfvalidate' %>
				</li>
				<li>
					<strong><%= f.label "Bio*" %></strong>
					<%= f.text_area :bio, :rows => 8, :cols => 40, :class => 'form-text mfvalidate' %>
				</li>
				<li>
					<strong><%= f.label "Website" %></strong>
					<%= f.text_field :website, :class => 'form-text' %>
				</li>
				<li>
					<strong><%= f.label "Twitter" %></strong>
					<%= f.text_field :twitter, :class => 'form-text' %>
				</li>
				<li>
					<strong><%= f.label "Soundcloud" %></strong>
					<%= f.text_field :soundcloud, :class => 'form-text' %>
				</li>
				<li>
					<strong><%= f.label "Youtube" %></strong>
					<%= f.text_field :youtube, :class => 'form-text' %>
				</li>
			</ul>
		</div>
		<div class="step-right right">
			Here is the information we have managed to gather from your Facebook fan page. Please check this information, by completing any missing or incorrect fields.
			<br/>
			<br/>
			We recommend a maximum of 330 characters for the biography, making it short but sweet.
			<br/>
			<br/>
			Furthermore, please only enter your username for the Twitter, Soundcloud and Youtube fields.
			<br/>
			<br/>
			Please be aware, all of this information will be available to the public.
			<br/>
			<br/>
			<strong>* Required fields.</strong>
		</div>
		<div id="details-line"></div>
	</div>
</fieldset>
<fieldset class="step">
	<div class="step-back manage-picture-step">
		<div class="step-left left">
			<strong><%= f.label :picture %></strong>
			<%= f.file_field 'image', :tabindex => -1 %></br/><br/>
			<strong>Preview:</strong><br/>
			<div class="manage-image"><%= image_tag (@artist.image :manage), :id => 'manage-image-current' %>
			<canvas id="canvas" width="<%= image_width %>" height="<%= image_height %>"></canvas></div>
		</div>
		<div class="step-right right">
			Please upload a picture which would best represent you as an artist.
			<br/>
			</br/>
			The artwork needs to be at least 365px width by 300px height. The file size can be no bigger than 1MB.
			<br/>
			</br/>
			<div class="default-button">
			 <div class="o-button norm-o-pad right signika-font font-13" id="manage-image-restore">
					<span>Restore to default</span>
				</div>
			</div>
		</div>
		<div id="picture-line"></div>
	</div>
</fieldset>

<fieldset class="step">
	<div class="step-back manage-summary-step">
		<div class="step-left left">
						<ul id="artist-summary">
							<li>
								<strong>Artist Name:</strong> <span id="name"></span>
							</li>
							<li>
								<strong>Genre:</strong> <span id="genre"></span>
							</li>
							<li>
								<strong>Label:</strong> <span id="label"></span>
							</li>
							<li>
								<strong>Bio:</strong> <span id="bio"></span>
							</li> 
							<li>
								<strong>Website:</strong> <span id="website"></span>
							</li>
							<li>
								<strong>Twitter:</strong> <span id="twitter"></span>
							</li>
							<li>
								<strong>Soundcloud:</strong> <span id="soundcloud"></span>
							</li>
							<li>
								<strong>Youtube:</strong> <span id="youtube"></span>
							</li>
						</ul>
					</div>
					<div class="step-right right">
						Here is a summary of all the information you have entered for your artist profile. Please read over and check everything.
						<br/>
						<br/>
						If you wish to change anything, please use the menu below to return to previous stages. Once you are happy with your artist profile settings,  click the submit button below.
						<br/>
						<br/>
						<strong>If you would like information on how to get started with using your artist timeline, and adding new releases, then head on over to our help page.</strong>
						<div id="submit-pad">
							<div class="o-button right norm-o-pad signika-font">
										<%= f.submit "Submit", :class => 'submit-button', :tabindex => -1 %>
							</div>
						</div>
					</div>
					<div id="summary-line"></div>
	</div>
</fieldset>
</span>
<% end %>
</div>
<div id="navigation" style="display:none;">
			<ul>
				<li class="selected signika-font o-button norm-o-pad">
					<a href="#" class="manage-details"><h3>1. Details</h3><div class="white-tint"></div></a>
				</li>
				<li class="signika-font o-button norm-o-pad">
					<a href="#" class="manage-picture"><h3>2. Picture</h3><div class="white-tint-2"></div></a>
				</li>
				<li class="signika-font o-button norm-o-pad">
					<a href="#" class="manage-summary"><h3>3. Summary</h3><div class="white-tint-3"></div></a>
				</li>
			</ul>
		</div>
		<div id="progress-bar">
			<div class="progress o-button">
				<div class="percent instruct-font">
					50%
				</div>
			</div>
		</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".manage-details").click(function() {
			$(".step-back").animate({
				height : 421
			}, "slow");
			$(".step").animate({
				height : 510
			}, "slow");
			$(".progress").animate({
				width : 130
			}, "slow");
			$('#bulge-left').animate({
					height : 607
				}, "slow");
				$('#bulge-left').animate({
					width : 48
				}, 10);
				$('#bulge-right').animate({
					height : 607
				}, "slow");
				$('#bulge-right').animate({
					width : 48
				}, 10);
			$('.percent').html('50%');
			$('.white-tint').hide();
			$('.white-tint-2').show();
			$('.white-tint-3').show();
		});
		$(".manage-picture").click(function() {
			$(".step-back").animate({
				height : 187
			}, "slow");
			$(".step").animate({
				height : 275
			}, "slow");
			$(".progress").animate({
				width : 195
			}, "slow");
			$('#bulge-left').animate({
					height : 371
				}, "slow");
				$('#bulge-left').animate({
					width : 48
				}, 10);
				$('#bulge-right').animate({
					height : 371
				}, "slow");
				$('#bulge-right').animate({
					width : 48
				}, 10);
			$('.percent').html('75%');
			$('.white-tint-2').hide();
			$('.white-tint-3').show();
			$('.white-tint').show();
		});
		$(".manage-summary").click(function() {
			$(".step-back").animate({
				height : 283
			}, "slow");
			$(".step").animate({
				height : 371
			}, "slow");
			$(".progress").animate({
				width : 265
			}, "slow");
			$('#bulge-left').animate({
					height : 467
				}, "slow");
				$('#bulge-left').animate({
					width : 48
				}, 10);
				$('#bulge-right').animate({
					height : 467
				}, "slow");
				$('#bulge-right').animate({
					width : 48
				}, 10);
			$('.percent').html('100%');
			$('.white-tint-3').hide();
			$('.white-tint-2').show();
			$('.white-tint').show();
			// Fill in summary info
			$('#artist-summary #name').html($('#artist_name').val());
			$('#artist-summary #genre').html($('#artist_genre').val());
			$('#artist-summary #label').html($('#artist_label_name').val());
			$('#artist-summary #bio').html($('#artist_bio').val().substring(0,100));
			$('#artist-summary #website').html($('#artist_website').val());
			$('#artist-summary #twitter').html($('#artist_twitter').val());
			$('#artist-summary #soundcloud').html($('#artist_soundcloud').val());
			$('#artist-summary #youtube').html($('#artist_youtube').val());			
		});
			$('.submit-button').bind('click',function(){
		if($('#fields').data('errors')){
			alert('Please go back and complete required fields.');
			return false;
		}	
	});
	}); 
	$(function() {
	var fieldsetCount = $('#fields').children().length;
	var current 	= 1;
	var stepsWidth	= 0;
    var widths 		= new Array();
	$('#steps .step').each(function(i){
        var $step 		= $(this);
		widths[i]  		= stepsWidth;
        stepsWidth	 	+= $step.width();
    });
	$('#steps').width(stepsWidth);
	$('#fields').children(':first').find(':input:first').focus();	
	$('#navigation').show();
    $('#navigation a').bind('click',function(e){
		var $this	= $(this);
		var prev	= current;
		$this.closest('ul').find('li').removeClass('selected');
        $this.parent().addClass('selected');
		current = $this.parent().index() + 1;
        $('#steps').stop().animate({
            marginLeft: '-' + widths[current-1] + 'px'
        },500,function(){
			if(current == fieldsetCount)
				validateSteps();
			else
				validateStep(prev);
			$('#fields').children(':nth-child('+ parseInt(current) +')').find(':input:first').focus();	
		});
        e.preventDefault();
    });
    			   /*   $('#fields > fieldset').each(function() {
                                var $fieldset = $(this);
                                $fieldset.children(':last').find(':li').keydown(function(e) {
                              if(e.which == 9) {
                             $('#navigation li:nth-child(' + (parseInt(current) + 1) + ') a').click();
                                $(this).blur();
                                e.preventDefault();
                                }
                                });
                                }); */
	function validateSteps(){
		var FormErrors = false;
		for(var i = 1; i < fieldsetCount; ++i){
			var error = validateStep(i);
			if(error == -1)
				FormErrors = true;
		}
		$('#fields').data('errors',FormErrors);	
	}
			function validateStep(step) {
				if(step == fieldsetCount)
					return;
	

				var error = 1;
				var hasError = false;
		$('#fields').children(':nth-child('+ parseInt(step) +')').find(':input.mfvalidate:not("button")').each(function(){
			var $this 		= $(this);
			var valueLength = jQuery.trim($this.val()).length;
			
			if(valueLength == ''){
				hasError = true;
			
			}	
		});
				var $link = $('#navigation li:nth-child(' + parseInt(step) + ') a');
				$link.parent().find('.error,.checked').remove();
				
				var valclass = 'checked';
				if(hasError) {
					error = -1;
					valclass = 'error';
				}
				$('<span class="' + valclass + '"></span>').insertAfter($link);

				return error;
			}
	// Image Preview 
  function draw(ev) {
      var ctx = document.getElementById('canvas').getContext('2d'),
          img = new Image(),
          f = document.getElementById("artist_image").files[0],
          url = window.URL || window.webkitURL,
          src = url.createObjectURL(f),
          canvasCopy = document.getElementById('canvas');
      var ctx2 = canvas.getContext("2d");
      img.src = src;
      img.onload = function() {
        $('#manage-image-current').hide();
        var maxWidth = <%= image_width %>, maxHeight = <%= image_height %>, ratio = 1;

        if(img.width > maxWidth)
          ratio = maxWidth / img.width;
          else if(img.height > maxHeight) ratio = maxHeight / img.height;
  
          canvasCopy.width = img.width;
          canvasCopy.height = img.height;
          
          canvas.width = img.width * ratio;
          canvas.height = img.height * ratio;
          ctx.drawImage(img, 0, 0, canvasCopy.width, canvasCopy.height);
          url.revokeObjectURL(src);
        }      
  };
  document.getElementById("artist_image").addEventListener("change", draw, false);
  
  // Image Restore (Reset to existing image)
  $('#manage-image-restore').click(function(){
    document.getElementById('artist_image').value = "";
    $('#manage-image-current').show();
    document.getElementById('canvas').getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
  });
});
</script>


