<% content_for :content_class, 'content-pad-187-bottom' %>
<div id="manage-form">
<h2 class="signika-txt top-header font-35 add-release-header">Edit <%= @artist.name %>'s details</h2>	
<%= render 'artists/form' %>
</div>

<h2>Confirm Store Identity</h2>
<p>To ensure we have the correct Artists on our partner sites associated with you, please confirm that this is <em>you</em>!</p>
<p>If all information is correct, that's brilliant! You don't need to do anything</p>
<h3>7digital Identity</h3>
<% if !@artist.sdid? %>
  <p>We couldn't find you on 7digital, if you aren't on there, don't worry, you don't need to do anything.</p>
<% else %>
  <%= image_tag @sd_info['response']['artist']['image'] %> 
  <p><%= link_to @sd_info['response']['artist']['name'] + " on 7digital", @sd_info['response']['artist']['url'] %></p>
  <%= link_to "This isn't me" %>
  <%= form_for @artist, :remote => true do |f| %>
    <%= hidden_field_tag "sdid_delete" %>
    <%= f.submit "I'm not on 7digital" %>
  <% end %>
  <%= form_for @artist, :url => artist_scrape_confirm_path(:artist_id => @artist.id, :format => :js), :remote => true do |f| %>
    <%= text_field_tag :search, @artist.name %>
    <%= hidden_field_tag :store, "7digital" %>
    <%= f.submit "Search" %>
  <% end %>
  <div id="ajax-7digital-search-results"></div>
<% end %>

<h3>iTunes Identity</h3>
<% if !@artist.itunes_id? %>
<p>We couldn't find you on iTunes, if you aren't on there, don't worry, you don't need to do anything.</p>
<% else %>
<p><%= link_to @itunes_info['results'][0]['artistName'] + " on iTunes", @itunes_info['results'][0]['artistLinkUrl'] %></p>
<p>Genre: <%=  @itunes_info['results'][0]['primaryGenreName'] %></p>
<%= link_to "This isn't me" %>
<%= form_for @artist, :remote => true do |f| %>
  <%= hidden_field_tag "itunes_id_delete" %>
  <%= f.submit "I'm not on iTunes" %>
<% end %>
<% end %>