<% content_for :title do %>Search results for "<%= params[:search] %>"<% end %>
<div class="content content-pad-191-bottom">
<h2 class="signika-txt top-header font-35">Search Results</h2>
<div id="artist-search">
	<% @artists.each do |artist| %>
	<div class="artist-search-row">
		<div class="artist-search-image" style="background-image:url(<%= artist.image.url :thumb %>);background-repeat:no-repeat;background-position:center;"></div>
		<div class="artist-search-info">
		<h3 class="font-15 instruct-font artist-search-name"><%= link_to artist.name, artist %></h3>
		<div class="instruct-font orange-txt"><%= artist.followers %> TRKR'S</div>
		<%= truncate(artist.genre, :length => 20) %>
		</div>
		</div>
<!--		<td><%= link_to artist.name, artist %></td>
		<td><%= truncate(artist.genre, :length => 20) %></td>
		<td><%= link_to 'Show', artist %></td> -->

	<% end %>
	</div>
<%= paginate @artists %>
