<% content_for :title do %>Search results for "<%= @search %>"<% end %>
<% if @artists %>
  <% content_for :description do %>Search results: <% @artists.each do |artist| %><%= artist.name %>, <% end %><% end %>
<% else %>
  <% content_for :description do %>Search results empty<% end %>
<% end %>
<div class="row">
  <div class="span9">
    <div id="artist-search">
    	<h1>Search Results</h1>
    	<!-- JSON URL: <%= url_for artists_url(:search => @search, :format => :json)  %> -->
      <% if @empty_search or @short_search or @artists.empty? %>
	<div class="result-warning">
      	<% if @empty_search %>
        	<p> Your search was empty, you have to type <strong>something</strong>! </p>
        <% elsif @short_search %>
          <p> Your search word wasn't long enough, you must type at least <strong>two characters</strong>.</p>
      	<% elsif @artists.empty? %>
          <p> Sorry, your search returned no results, but see below for Facebook artists with that name.</p>
        <% end %>
        </div>
      <% else %>
      	<ul>
      		<% @artists.each do |artist| %>
      		<li>
      		<div class="artist-search-row">
      			<div class="artist-search-image" style="background-image:url(<%= artist.image.url :friend_activity_artist %>);background-repeat:no-repeat;background-position:center;"></div>
      			<div class="artist-search-info">
      				<h2><%= link_to artist.name, artist %></h2>
      				<div><%= artist.followers %> TRKRS</div>
      				<%= artist.genre %>
      			</div>
      		</div>
      		<%= render :partial => 'shared/search_trk_artist', :object => artist %>
      		</li>
      		<% end %>
      	</ul>
      	<div id="paginate-outer">
      	<%= if @artists then paginate @artists, :window => 2 end %>
      	</div>
      	<div class="clear"></div>
  	  <% end %>
      <% if user_signed_in? and !@empty_search and !@short_search  %>
      	<h1 class="fb-result-header">Facebook Results</h1>
      	<p>If you don't see the artist you were looking for above, you can add their facebook page to SNGTRKR here. Make sure to choose the artist's offical page, and not a fan page.</p>
        <%= render 'artists/fb_search' %>
        <%= render 'shared/fb_async' %>
      <% else %>
        <!-- content to show in replacement of facebook search results, if not logged in -->
      <% end %>

    </div>
  </div>
</div>
