<% content_for :title do %>Search results for "<%= @search %>"<% end %>
<% if @artists %>
  <% content_for :description do %>Search results: <% @artists.each do |artist| %><%= artist.name %>, <% end %><% end %>
<% else %>
  <% content_for :description do %>Search results empty<% end %>
<% end %>
<div class="row-fluid">
  <div class="span10">
    <div class="result_search">
      <h1>Search</h1>
      <div class="search_input">
        <p><strong>1 release and 1 artist found</strong></p>
        <input type="text" placeholder="Search" class="span12">
      </div>
      <div class="clearfix"></div>
    </div>
      <div class="tabbable tabs-left search-tabs">
        <ul id="myTab" class="nav nav-tabs nav-stacked each-tab">
          <li class="active">
            <a href="#tab1" data-toggle="tab"><i class="icon-search"></i>Everything</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab"><%= image_tag "/images/ppl_black.png", :class => "blk ppl"%><%= image_tag "/images/ppl_white.png", :class => "wht ppl"%>Artists</a>
          </li>
          <li>
            <a href="#tab3" data-toggle="tab"><%= image_tag "/images/release_blk.png", :class => "blk rel"%><%= image_tag "/images/release_wht.png", :class => "wht rel"%>Releases</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane active" id="tab1">
            <div class="result">
              <%= image_tag "http://placehold.it/110x110" %>
              <span>
                <div>Out The Blue</div>
                Sub Focus<br/>
                <i class="icon-calendar"></i>29th April 2012
              </span>
              <div class="btn btn-small">Buy</div>
              <div class="btn btn-small" data-toggle="popover" data-content="hello"><i class="icon-share"></i>Share</div>
            </div>
            <div class="result">
              <%= image_tag "http://placehold.it/110x110" %>
              <span>
                <div>Sub Focus</div>
                Ram Records<br/>
                <i class="icon-screenshot"></i>11 Trackers
              </span>
              <div class="btn btn-small">Track</div>
            </div>
          </div>
          <div class="tab-pane" id="tab2">
            <div class="result">
              <%= image_tag "http://placehold.it/110x110" %>
              <span>
                <div>Out The Blue</div>
                Sub Focus<br/>
                29th April 2012
              </span>
              <div class="btn btn-small">Buy</div>
              <div class="btn btn-small">Share</div>
            </div>
          </div>
          <div class="tab-pane" id="tab3">
            <div class="result">
              <%= image_tag "http://placehold.it/110x110" %>
              <span>
                <div>Sub Focus</div>
                Ram Records<br/>
                11 Trackers
              </span>
              <div class="btn btn-small">Track</div>
            </div>
          </div>
        </div>
      </div> 
  </div>
</div>
