<% content_for :og_name, @artist.name
content_for :og_url, request.url
content_for :og_image, File.join(root_url , @artist.image.url(:large))
content_for :og_description, @artist.name + " is telling users about their new releases on SNGTRKR. Why don't you follow them too?"
content_for :og_id, @artist.id.to_s
%>
<style type="text/css">
#artist-image {
background-image:url(<%= @artist.image.url :large %>);
background-repeat:no-repeat;
}
</style>
<% content_for :title do %><%= @artist.name %> information and releases 2012<% end %>
	<div class="content content-pad-160-bottom">
	<div id="content-artist">
	<div id="artist-image"></div>
	<div id="artist-info">
	<strong><div class="font-25"><%= @artist.name %></div></strong>
	<div class="orange-txt font-13 genre"><%= @artist.genre %></div>
	<%= @artist.label_name %><br/>
	<div class="left artist-trkr-pos"><%= render :partial => 'shared/trk_artist', :object => @artist %></div>
	<div class="clear"></div>
	<%= truncate((strip_tags @artist.bio || "" ), :length => 300) %>
	</div>
	<ul>
			<li class="left">
				<a href="http://www.facebook.com/<%= @artist.fbid %>" target="_blank"><img src="/assets/images/a-fb.png"></a>
			</li>
			<% if @artist.twitter? %>
			<li class="left">
				<a href="http://www.twitter.com/<%= @artist.twitter %>" target="_blank"><img src="/assets/images/a-twit.png"></a>
			</li>
			<% else %><% end %>
			<% if @artist.soundcloud? %>
			<li class="left">
				<a href="http://www.soundcloud.com/<%= @artist.soundcloud %>" target="_blank"><img src="/assets/images/a-sc.png"></a>
			</li>
			<% else %><% end %>
			<% if @artist.website? %>
			<li class="left">
				<a href="http://<%= @artist.website %>" target="_blank"><img src="/assets/images/a-web.png"></a>
			</li>
			<% else %><% end %>
			<% if @artist.youtube? %>
			<li class="left">
				<a href="http://www.youtube.com/<%= @artist.youtube %>" target="_blank"><img src="/assets/images/a-yt.png"></a>
			</li>
			<% else %><% end %>
			<li class="left">
				<img src="/assets/images/a-music.png">
			</li>
		</ul>
	</div>

