<% content_for :og_name, @artist.name
content_for :og_url, request.url
content_for :og_image, File.join(root_url , @artist.image.url(:profile))
content_for :og_description, "#{@artist.name} is telling fans about their new releases on SNGTRKR. Why don't you follow them too?"
content_for :og_id, @artist.id.to_s
content_for :og_type, "sngtrkr:artist"
%>
<% content_for :description do %><%= truncate((strip_tags @artist.bio || "" ), :length => 150) %><% end %>
<% content_for :title do %><%= @artist.name %> information and releases 2012<% end %>
<% content_for :extra_head do %> <%= javascript_include_tag "timeline" %> <% end %>
<div class="row-fluid">
  <div class="span2 release_artist">
    <%= image_tag 'http://placehold.it/170x170' %>
    <h2><%= @artist.name %></h2>
    <h3><%= @artist.label_name %></h3>
    <div class="trackers">
      <%= image_tag "/images/ppl_black.png" %>
      <%= @artist.followers %> tracker<% if @artist.followers > 1 %>s<% end %>
    </div>
    <div class="releases">
      <%= image_tag "/images/release_blk.png" %>
      0 releases
    </div>
    <div class="btn track">Track</div>
    <div class="btn share share_artist" data-placement="bottom"><i class="icon-share"></i>Share</div>
    <ul>
      <% if @artist.fbid? %>
      <li><a href="http://www.facebook.com/<%= @artist.fbid %>" target="_blank"><%= image_tag "/images/social/fb.png" %><p>Facebook</p></a></li> 
      <% end %>
      <% if @artist.twitter? %>
      <li><a href="http://www.twitter.com/<%= @artist.twitter %>" target="_blank"><%= image_tag "/images/social/twitter.png" %><p>Twitter</p></a></li>
      <% end %>
      <% if @artist.youtube? %>
      <li><a href="http://www.youtube.com/<%= @artist.youtube %>" target="_blank"><%= image_tag "/images/social/yt.png" %><p>YouTube</p></a></li>
      <% end %>
      <% if @artist.soundcloud? %>
      <li><a href="http://www.soundcloud.com/<%= @artist.soundcloud %>" target="_blank"><%= image_tag "/images/social/sc.png" %><p>Soundcloud</p></a></li>
      <% end %>
      <% if @artist.website? %>
      <li><a href="http://<%= @artist.website %>" target="_blank"><%= image_tag "/images/social/www.png" %><p>Website</p></a></li>
      <% end %>
      <% if @artist.sd? %>
      <li><a href="<%= @artist.sd %>" target="_blank"><%= image_tag "/images/social/7d.png" %><p>7Digital</p></a></li>
      <% end %>
      <% if @artist.itunes? %>
      <li><a href="<%= @artist.itunes %>" target="_blank"><%= image_tag "/images/social/it.png" %><p>iTunes</p></a></li>
      <% end %>
    </ul>
  </div>
  <div class="span8 artist_timeline">

  </div>
</div>
<div class="art_pop">
  <div class="share_content">
    <div>
      <a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com<%= url_for @artist %>%2F&t=SNGTRKR','ShareSNGTRKRonFacebook','scrollbars=no,width=620,height=340'); return false;">
        <%= image_tag "/images/social/fb.png", :alt => "Facebook" %>
      </a>
      <a href="#" title="Share on Twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com&text=<%= @artist.name %>+is+using+SNGTRKR+to+keep+their+fans+up+to+date+with+releases.+Check+them+out+&#45;+www.sngtrkr.com<%= url_for @artist %>&via=SNGTRKR','ShareSNGTRKRonTwitter','scrollbars=no,width=620,height=340'); return false;">
        <%= image_tag "/images/social/twitter.png", :alt => "Twitter" %>
      </a>
      <a href="#" title="Share on Tumblr" onClick="MyWindow=window.open('http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.sngtrkr.com<%= url_for @artist %>&name=<%= @artist.name %>&description=<%= @artist.name %> online:<br/><% if @artist.fbid? %>http://www.facebook.com/<%= @artist.fbid %><br/><% end %><% if @artist.twitter? %>http://www.twitter.com/<%= @artist.twitter %><br/><% end %><% if @artist.youtube? %>http://www.youtube.com/<%= @artist.youtube %><br/><% end %><% if @artist.soundcloud? %>http://www.soundcloud.com/<%= @artist.soundcloud %><br/><% end %><% if @artist.website? %><%= @artist.website %><% end %>','Share on Tumblr','scrollbars=no,width=620,height=340'); return false;">
        <%= image_tag "/images/social/tb.png", :alt => "Tumblr" %>
      </a>
      <a href="#" title="Share on Google Plus" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com<%= url_for @artist %>','ShareSNGTRKRonGooglePlus','scrollbars=no,width=620,height=340'); return false;">
        <%= image_tag "/images/social/gplus.png", :alt => "Google+" %>
      </a>
    </div>
    <span>Link:</span>
    <input type="text" onClick="this.select();" value="<%= root_url %><%= url_for(@artist) %>">
  </div>
</div>
<%= render 'shared/fb_async' %>
