<span style="font-size: 24px; font-weight:bold;">Hello <%= @user.first_name %> <%= @user.last_name %>,</span><br /><br />
	Here is your <%= @date_adjective %> personal digest of artist releases, for <b><%= Date.today.strftime("#{Date.today.day.ordinalize} %B %Y ") %></b>
<table style="margin-left:-10px;" border="0" cellpadding="10" cellspacing="0" width="100%">
		<% @releases.each do |release| %>
		<tr>
		<td style="height:83px;width:83px;"><img src="<%= @domain + release.image.url(:release_carousel) %>"/></td>
		<td style="line-height:1.4em;"><%= link_to release.name, artist_release_url(release.artist, release), :target => "_blank", :style => "color: #F15A24;text-decoration:none;font-weight:bold;font-size:22px;" %><br/>
		<b>Artist</b>: <%= link_to release.artist.name, artist_url(release.artist), :target => "_blank", :style => "color: #F15A24;text-decoration:none;" %><br/>
		<b>Label</b>: <%= release.label_name %><br/>
		</td>
		<td style="text-align:center;"><span style="font-size:45px;"><%= release.date.strftime("%d") %></span><br/><span style="font-size:22px;line-height:40px;"><%= release.date.strftime("%b") %></span></td>
		</tr>
		<% end %>
</table>
<br/>
		<% if @many_releases %>
		<p>There are even more new releases since your last email. To see the rest of them, check out your timeline</p>
		<% end %>