<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"> <head>
<link rel="icon" type="image/ico" href="/images/icon.png" >
<meta property="fb:page_id" content="43929265776" />           
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="Your personal Weekly digest - <%= Date.today.strftime("#{Date.today.day.ordinalize} %B %Y ") %>">
        
        <title>Your personal <%= @date_adjective %> digest - <%= Date.today.strftime("#{Date.today.day.ordinalize} %B %Y ") %></title>
		
	<style type="text/css">
		body{
			width:100% !important;
		}
		body{
			-webkit-text-size-adjust:none;
		}
		body{
			margin:0;
			padding:0;
		}
		@font-face {
		font-family: "Instruction";
		src: url("http://sngtrkr.com/font/instruction.otf");
		src: local("?"),
		url("http://sngtrkr.com/font/instruction.otf") format("opentype");
		}
		.instruct-font {
		font-family: "Instruction", Helvetica, Arial, sans-serif;
		}
		img{
			border:0;
			height:auto;
			line-height:100%;
			outline:none;
			text-decoration:none;
		}
		table td{
			border-collapse:collapse;
		}
		#backgroundTable{
			height:100% !important;
			margin:0;
			padding:0;
			width:100% !important;
		}
		body,#backgroundTable{
			background-color:#FAFAFA;
		}
		#templateContainer{
			border:0px solid #DDDDDD;
		}
		h1,.h1{
			color:#202020;
			display:block;
			font-family:Arial;
			font-size:34px;
			font-weight:bold;
			line-height:100%;
			margin-top:0;
			margin-right:0;
			margin-bottom:10px;
			margin-left:0;
			text-align:left;
		}
		h2,.h2{
			color:#202020;
			display:block;
			font-family:Arial;
			font-size:22px;
			font-weight:bold;
			line-height:100%;
			margin-top:0;
			margin-right:0;
			margin-bottom:10px;
			margin-left:0;
			text-align:left;
	
                }
		#templatePreheader{
			background-color:#51AECB;
		}
		.preheaderContent div{
			color:#000000;
			font-family:Arial;
			font-size:10px;
			line-height:100%;
			text-align:left;
		}
		.preheaderContent div a:link,.preheaderContent div a:visited,.preheaderContent div a .yshortcuts {
			color:#336699;
			font-weight:normal;
			text-decoration:underline;
		}
		#templateHeader{
			background-color:#51AECB;
			border-bottom:0px none;
		}
		.headerContent{
			color:#ffffff;
			font-family:Arial;
			font-size:34px;
			font-weight:bold;
			line-height:100%;
			padding:0;
			text-align:center;
			vertical-align:middle;
		}
		.headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts {
			color:#336699;
			font-weight:normal;
			text-decoration:underline;
		}
		#headerImage{
			height:auto;
			max-width:600px;
		}
		#templateContainer,.bodyContent{
			background-color:#FFFFFF;
		}
		.bodyContent div{
			color:#000000;
			font-family:Arial;
			font-size:14px;
			line-height:150%;
			text-align:left;
		}
		.bodyContent img{
			display:inline;
			height:auto;
		}
		#templateFooter{
			background-color:#333333;
			border-top:0;
		}
		.footerContent div{
			color:#707070;
			font-family:Arial;
			font-size:12px;
			line-height:125%;
			text-align:left;
		}
		.footerContent div a:link,.footerContent div a:visited,.footerContent div a .yshortcuts {
			color:#336699;
			font-weight:normal;
			text-decoration:underline;
		}
		.footerContent img{
			display:inline;
		}
		#social{
			background-color:#333333;
			border:0;
		}
		#social div{
			text-align:center;
		}
		#utility{
			background-color:#333333;
			border:0;
		}
		#utility div{
			text-align:center;
		}
		.headerContent a{
			color:#000000;
			text-decoration:none;
		}
		body,#backgroundTable{
			background-color:#51AECB;
		}
		#templateContainer,.bodyContent{
			background-color:#ffffff;
		}
		.footerContent div a:link,.footerContent div a:visited,.footerContent div a .yshortcuts{
			color:#F15A24;
		}
		.headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts{
			color:#000000;
		}
		.preheaderContent div a:link,.preheaderContent div a:visited,.preheaderContent div a .yshortcuts{
			color:#FFFFFF;
		}
		.bodyContent div a:link,.bodyContent div a:visited,.bodyContent div a .yshortcuts{
			color:#F15A24;
		}
		.release-list {
			list-style-type:none;
			margin-left:-40px;
			width:558px;
			position:relative;
		}
		.release-list li {
			height:100px;
			position:relative;
		}
		.release-list li .r-artwork {
			position:relative;
			height:83px;
			width:83px;
			background-color:black;
			top:3px;
			
		}
		.release-list li .r-info {
			position:relative;
			left:98px;
			top:-83px;
			line-height:1.4em;
		}
		.release-list li .r-info a:link { color:#000; text-decoration: none; }
		.release-list li .r-info a:active { color:#000; text-decoration: none;  }
		.release-list li .r-info a:visited { color:#000; text-decoration: none;  }
		.release-list li .r-info a:hover { color:#F15A24; text-decoration: none;  }
		
		.release-list li .r-date {
			position:absolute;
			left:400px;
			top:50px;
		}
		strong {
			font-weight:bold;
		}
		
</style></head>
    
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #51AECB;width: 100% !important;">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #51AECB;height: 100% !important;width: 100% !important;">
            	<tr>
                	<td align="center" valign="top" style="border-collapse: collapse;">
                        <!-- // Begin Template Preheader \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #51AECB;">
                            <tr>
                                <td valign="top" class="preheaderContent" style="border-collapse: collapse;">
                                
                                	<!-- // Begin Module: Standard Preheader \ -->
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                    	<tr>
                                        	<td valign="top" style="border-collapse: collapse;">
                                            	<div style="color: #000000;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">Your weekly personal digest of artist releases.</div>
                                            </td>
                                        </tr>
                                    </table>
                                	<!-- // End Module: Standard Preheader \ -->
                                
                                </td>
                            </tr>
                        </table>
                        <!-- // End Template Preheader \\ -->
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 0px solid #DDDDDD;background-color: #ffffff;">
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #51AECB;border-bottom: 0px none;">
                                        <tr>
                                            <td class="headerContent" style="border-collapse: collapse;color: #ffffff;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">
                                            
                                            	<!-- // Begin Module: Standard Header Image \\ -->
                                            	<div style="text-align: center;"><a href="http://www.sngtrkr.com" target="_blank" style="color: #000000;text-decoration: underline;font-weight: normal;"><img src="http://sngtrkr.com/images/email-header.png" alt="SNGTRKR" border="0" style="border: 0px solid #51AECB;border-color: #51AECB;border-style: solid;border-width: 0px;height: 153px;width: 600px;margin: 0;padding: 0;max-width: 600px;line-height: 100%;outline: none;text-decoration: none;" width="600" height="153" id="headerImage campaign-icon"></a></div>
                                            	<!-- // End Module: Standard Header Image \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #ffffff;">
                                
                                                <!-- // Begin Module: Standard Postcard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div style="color: #000000;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;"><h1 class="h1" style="color: #202020;display: block;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;margin-top:-30px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
	<br>
	<span style="font-size: 22px; line-height: 100%; ">Hello <%= @user.first_name %> <%= @user.last_name %>,</span></h1>
	Here is your <%= @date_adjective %> personal digest of artist releases, for <strong><%= Date.today.strftime("#{Date.today.day.ordinalize} %B %Y ") %></strong>
	<ul class="release-list">
<% @releases.each do |release| %>
<li class="left">
<hr>
<%= link_to [release.artist, release], :target => "_blank" do %><div class="r-artwork" style="background-image:url(<%= release.image :release_email %>);background-repeat:no-repeat;background-position:center;"></div><% end %>
<div class="r-info"><h2><%= link_to release.name, [release.artist, release], :target => "_blank" %></h2>
<strong>Artist</strong>: <%= link_to release.artist.name, release.artist, :target => "_blank" %></br>
<strong>Label</strong>: <%= release.label_name %><br/>
<strong>Catalogue No</strong>: <%= release.cat_no %></div>
<div class="r-date instruct-font"><%= release.date.strftime("%d %b") %></div>
</li>
<% end %>
	</ul>
</div>                                                 </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Postcard Content \\ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Footer \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #333333;border-top: 0;">
                                    	<tr>
                                        	<td valign="top" class="footerContent" style="border-collapse: collapse;">
                                            
                                                <!-- // Begin Module: Standard Footer \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #333333;border: 0;">
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height:50%;text-align: center;height"><span style="color:#ffffff;">For more news and updates on SNGTRKR, check out our social media sites:</span><a href="https://www.facebook.com/pages/Sngtrkr/358652204169145" target="_blank" style="color: #F15A24;font-weight: normal;text-decoration: underline;"><br>
<br/><br/>
<img align="none" alt="Facebook" height="87" src="http://sngtrkr.com/images/sm-fb.png" style="width: 87px;height: 87px;border: 0;line-height: 100%;outline: none;text-decoration: none;display: inline;" width="87"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://plus.google.com/111951759053908858363/posts" target="_blank" style="color: #F15A24;font-weight: normal;text-decoration: underline;"><img align="none" alt="Google+" height="87" src="http://sngtrkr.com/images/sm-google.png" style="width: 87px;height: 87px;border: 0;line-height: 100%;outline: none;text-decoration: none;display: inline;" width="87"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/#!/sngtrkr" target="_blank" style="color: #F15A24;font-weight: normal;text-decoration: underline;"><img align="none" alt="Twitter" height="87" src="http://sngtrkr.com/images/sm-twit.png" style="width: 87px;height: 87px;border: 0;line-height: 100%;outline: none;text-decoration: none;display: inline;" width="87"></a><br>
<br>
<br>
</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="350" style="border-collapse: collapse;">
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;"><div style="text-align:center;color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;">
	<span style="color:#ffffff;"><em>Copyright &copy; 2012 SNGTRKR, All rights reserved.<br/>You are receiving this email since you opted in for updates on new artist releases at <a href="http://sngtrkr.com" target="_blank">sngtrkr.com</a>.<br/>To change your email settings, please click <a href="http://sngtrkr.com/users/1/edit" target="_blank">here</a></em><br>
	</span></div>
</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Footer \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>    
</html>
