<div class="result">
  <%= link_to artist do %>
      <img src="<%= artist.image.medium %>" class="image" height="110" width="110"/>
  <% end %>
  <span>
                  <div><%= link_to artist.name, artist %></div>
    <%= artist.label_name %><br/>
    <%= artist.followers %> trackers
                </span>
  <%= follow_button_small artist %>
  <div class="btn btn-small share_artist share" data-placement="bottom" id="<%= artist.id %>"><i class="icon-share"></i>Share
  </div>
  <%= artist_popover artist %>
</div>