<% content_for :title do %>Search results for "<%= @search %>"
<% end %>
<% if @artists %>
    <% content_for :description do %>Search results:
        <% @artists.each do |artist| %><%= artist.name %>,
        <% end %>
    <% end %>
<% else %>
    <% content_for :description do %>Search results empty
    <% end %>
<% end %>
<% cache "search_results_tab", expires_in: 1.month do %>
    <div class="g_three_col">
      <div class="g_sidebar_large">
        <div class="result_search g_fixed">
          <h1>Search</h1>

          <div class="tabbable tabs-left search-tabs">
            <ul id="myTab" class="nav nav-tabs nav-stacked each-tab">
              <li class="active">
                <a href="#tab1" data-toggle="tab"><i class="icon-search"></i>Top results</a>
              </li>
              <li>
                <a href="#tab2" data-toggle="tab"><%= image_tag "/images/ppl_black.png", :class => "blk ppl" %><%= image_tag "/images/ppl_white.png", :class => "wht ppl" %>
                  Artists</a>
              </li>
              <li>
                <a href="#tab3" data-toggle="tab"><%= image_tag "/images/release_blk.png", :class => "blk rel" %><%= image_tag "/images/release_wht.png", :class => "wht rel" %>
                  Releases</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
<% end %>
<div class="g_main g_tabs_large">
  <div class="tab-content search-tab-content" id="myTabContent">
    <div class="search_input">
      <p>
        <strong><%= pluralize @releases_count, "release" %> and <%= pluralize @artists_count, "artist" %> found</strong>
      </p>
      <%= form_tag search_path, :method => 'get' do %>
          <%= text_field_tag(:query, params[:query], :autocomplete => 'off',
                             :placeholder => "Search") %>
      <% end %>
    </div>
    <div class="tab-pane active" id="tab1">
      <% if @empty_search or @short_search or @artists.empty? %>
          <% if @empty_search %>
              <p> Your search was empty, you have to type <strong>something</strong>! </p>
          <% elsif @short_search %>
              <p> Your search word wasn't long enough, you must type at least <strong>two characters</strong>.</p>
          <% elsif @artists.empty? %>
              <p>We didn't find any results for '<strong><%= @search %></strong>'. Check your spelling, or try a
                different search.</p>
          <% end %>
      <% else %>
          <% @artists.take(5).each do |artist| %>
              <div class="result">
                <%= link_to image_tag(artist.image.medium, :class => 'image', :height => '110', :width => '110'), artist %>
                <span>
                  <div><%= link_to artist.name, artist %></div>
                  <%= artist.label_name %><br/>
                  <%= artist.followers %> trackers
                </span>
                <%= follow_button_small artist %>
                <div class="btn btn-small share_artist share" id="<%= artist.id %>">
                  <i class="icon-share"></i>Share
                </div>
                <%= artist_popover artist %>
              </div>
          <% end %>
          <% @releases.take(5).each do |release| %>
              <div class="result">
                <%= link_to image_tag(release.image.medium, :class => 'image', :height => '110', :width => '110'), [release.artist, release] %>
                <span>
                  <div><%= link_to release.name, [release.artist, release] %></div>
                  <%= link_to release.artist.name, release.artist, :class => 'artist_l' %><br/>
                  <%= release.date.strftime("#{release.date.day.ordinalize} %B %Y ") %>
                </span>

                <div class="btn btn-small buy" id="<%= release.id %>">Buy</div>
                <div class="btn btn-small share_release share" id="<%= release.id %>">
                  <i class="icon-share"></i>Share
                </div>
                <%= buy_popover release %>
                <%= release_popover release, release.artist %>
              </div>
          <% end %>

      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% if @empty_search or @short_search or @artists.empty? %>
          <% if @empty_search %>
              <p> Your search was empty, you have to type <strong>something</strong>! </p>
          <% elsif @short_search %>
              <p> Your search word wasn't long enough, you must type at least <strong>two characters</strong>.</p>
          <% elsif @artists.empty? %>
              <p>We didn't find any results for '<strong><%= @search %></strong>'. Check your spelling, or try a
                different search.</p>
          <% end %>
      <% else %>
          <% @artists.each do |artist| %>
              <div class="result">
                <%= link_to image_tag(artist.image.medium, :class => 'image', :height => '110', :width => '110'), artist %>
                <span>
                  <div><%= link_to artist.name, artist %></div>
                  <%= artist.label_name %><br/>
                  <%= artist.followers %> trackers
                </span>
                <%= follow_button_small artist %>
                <div class="btn btn-small share_artist share" id="<%= artist.id %>">
                  <i class="icon-share"></i>Share
                </div>
                <%= artist_popover artist %>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab3" data-query="<%= @search %>">
      <% if @empty_search or @short_search or @artists.empty? %>
          <% if @empty_search %>
              <p> Your search was empty, you have to type <strong>something</strong>! </p>
          <% elsif @short_search %>
              <p> Your search word wasn't long enough, you must type at least <strong>two characters</strong>.</p>
          <% elsif @artists.empty? %>
              <p>We didn't find any results for '<strong><%= @search %></strong>'. Check your spelling, or try a
                different search.</p>
          <% end %>
      <% else %>

          <% @releases.each do |release| %>
              <div class="result">
                <%= link_to image_tag(release.image.medium, :class => 'image', :height => '110', :width => '110'), [release.artist, release] %>
                <span>
                  <div><%= link_to release.name, [release.artist, release] %></div>
                  <%= link_to release.artist.name, release.artist, :class => 'artist_l' %><br/>
                  <%= release.date.strftime("#{release.date.day.ordinalize} %B %Y ") %>
                </span>

                <div class="btn btn-small buy" id="<%= release.id %>">Buy</div>
                <div class="btn btn-small share_release share" id="<%= release.id %>">
                  <i class="icon-share"></i>Share
                </div>
                <%= buy_popover release %>
                <%= release_popover release, release.artist %>
              </div>
          <% end %>

      <% end %>
    </div>
  </div>
</div>
</div>