<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
<!-- <script>window.jQuery || document.write("<%=j javascript_include_tag "/jquery-1.7.2.min.js" %>")</script> -->
<%= javascript_include_tag '/showdown.js' %>

<style type="text/css">
  label{
    font-family: sans-serif !important;
  }
</style>

<div id="composer" style="position:absolute; left:10px; top:20px;">
  <h1>Email Composer</h1>

  <%= form_tag "", :class => "markdown-form" do %>
    <label>Subject</label><br/>
    <%= text_field_tag :subject, "", :size => 50 %><br/>
    <label>Body</label><br/>
    <%= text_area_tag :body, "", :rows => 25, :cols => 50, :id => "markdown-composer" %><br/>
    <%= submit_tag "Mail!" %>
  <% end %>
</div>

<div id="markdown-preview"></div>

<script>
  $(document).ready(function(){
    var converter = new Showdown.converter();
    $('#markdown-composer').keyup(function(){
      $('#markdown-preview').html(converter.makeHtml($(this).val()));      
    })
  })
</script>