<h1>Listing labels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Website</th>
    <th>Twitter</th>
    <th>Facebook</th>
    <th>Sdigital</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @labels.each do |label| %>
  <tr>
    <td><%= label.name %></td>
    <td><%= label.bio %></td>
    <td><%= label.website %></td>
    <td><%= label.twitter %></td>
    <td><%= label.facebook %></td>
    <td><%= label.sdigital %></td>
    <td><%= link_to 'Show', label %></td>
    <td><%= link_to 'Edit', edit_label_path(label) %></td>
    <td><%= link_to 'Destroy', label, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Label', new_label_path %>
