<li>
 <% if activity[:action] == 'follow' %>
  <% artist = Artist.find(activity[:id]) %>
  <div class="each-activity">
  <div class="activity-image" style="background-image:url(<%= artist.image :friend_activity_artist %>);background-repeat:no-repeat;background-position:center;"><i class="icon-screenshot"></i></div>
    <div class="follow-info"><h2><%= link_to artist.name, artist %></h2><% if artist.genre? %><%= artist.genre %><br/><% else %><% end %>
    <div><%= artist.followers %> TRKRS</div>
    <span><%= time_ago_in_words(activity[:time]) %> ago.</span></div>
  </div>
  <%= render :partial => 'shared/activity_trk_artist', :object => artist %>
<% elsif activity[:action] == 'rate' %>
  <% release = Release.find(activity[:id]) %>
  <div class="each-activity">
  <div class="activity-image" style="background-image:url(<%= release.image :friend_activity_release %>);background-repeat:no-repeat;background-position:center;"><i class="icon-star-empty"></i></div>
    <div class="rate-info"><h2><%= link_to release.artist.name, release.artist %></h2><div><%= link_to release.name, [release.artist, release] %></div><%= activity[:stars] %> stars<br/><span><%= time_ago_in_words(activity[:time]) %> ago.</span></div>
  </div>
    <div class="activity-play"><i class="icon-play"></i></div>
  <% end %>
</li>