<%  if activity[:action] == 'follow' 
      releases = activity[:artist].releases.limit(5).order(:date)
  %>
  <li class="activity">
    <div class="single-activity"><div class="a-image" style="background-image:url(<%= activity[:artist].image :activity %>);"></div>
    <div class="a-info">
      <div>Tracked <strong><%= link_to activity[:artist].name, activity[:artist] %></strong></div>
      <span><%= time_ago_in_words(activity[:time]) %> ago</span> 
      <ul class="releases" class="clearfix">
        <% releases.each do |r| %>
          <%= link_to artist_release_path(r.artist_id,r.id) do %><li class="tooltip-parent" data-title="<%= r.name %>" data-placement="bottom" style="background-image:url(<%= r.image :mini_release %>);"></li><% end %>
        <% end %>
      </ul>
    </div>

    </div>
    <div class="a-options">
      <div>
        <%= render :partial => 'shared/trk_artist', :object => activity[:artist] %>
      </div>
      <div>
        <i class="icon-share-alt"></i>
      </div>
  </li>

<% elsif activity[:action] == 'rate' %>
  <li class="activity">
    <div class="single-activity"><div class="a-image"><%= image_tag activity[:release].image :release_carousel %></div>
    <div class="a-info">
      <div>Rated <strong><%= activity[:release].name %></strong></div>
      <span>8 hours ago</span> 
      <p><%= activity[:release].stars %> stars</p>
      <ul class="releases" class="clearfix">

      </ul>
    </div>

    </div><div class="a-options"><div><i class="icon-play"></i></div><div><i class="icon-share-alt"></i></div>
  </li>
<% end %>