<li>
 <% if activity[:action] == 'follow' %>
  <% artist = Artist.find(activity[:id]) %>
  <div class="each-activity">
  <div class="activity-image" style="background-image:url(<%= artist.image :friend_activity_artist %>);background-repeat:no-repeat;background-position:center;"><i class="icon-screenshot"></i></div>
    <h4 class="follow-info"><div class="instruct-font font-15 a-name"><%= link_to artist.name, artist %></div><div class="orange-txt line-height-1-25"><%= artist.genre %></div>
    <div class="font-11"><%= time_ago_in_words(activity[:time]) %> ago.</div></h4>
  </div>
  <%= render :partial => 'follows/follow_artist', :object => artist, :locals => { :css_class => "left" } %>
<% elsif activity[:action] == 'rate' %>
  <% release = Release.find(activity[:id]) %>
  <div class="each-activity">
  <div class="activity-image" style="background-image:url(<%= release.image :friend_activity_release %>);background-repeat:no-repeat;background-position:center;"><i class="icon-star-empty"></i></div>
    <h4 class="rate-info"><div class="instruct-font font-15 a-name"><%= link_to release.artist.name, release.artist %></div><div class="orange-txt line-height-1-25"><%= link_to release.artist.name, [release.artist, release] %></div><strong><%= activity[:stars] %> stars</strong> - <span class="font-11"><%= time_ago_in_words(activity[:time]) %> ago.</span></h4>
  </div>
    <div class="activity-play o-button"><i class="icon-play"></i></div>
  <% end %>
</li>