<% activity = group_activity %>
<li>
 <% if activity[:action] == 'follow' %>
  <% artist = Artist.find(activity[:id]) %>
  <div class="each-activity">
  <%= image_tag artist.image :sidebar_suggest %>
    <div>
      <strong><%= link_to(activity[:user_first_name] +" "+ activity[:user_last_name], user_path(activity[:user_id])) %></strong> tracked <strong><%= link_to artist.name, artist %></strong><br/><span><%= time_ago_in_words(activity[:time]) %> ago.</span></div>
<% elsif activity[:action] == 'rate' %>
  <% release = Release.find(activity[:id]) %>
  <div class="each-activity">
  <%= image_tag release.image :activity_release %>
    <div>
      <strong><%= link_to(activity[:user_first_name] +" "+ activity[:user_last_name], user_path(activity[:user_id])) %></strong> rated <strong><%= link_to truncate((strip_tags release.name || "" ), :length => 26), [release.artist, release] %></strong> with <strong><%= activity[:stars] %> stars</strong><br/><span><%= time_ago_in_words(activity[:time]) %> ago.</span></div> 
  </div>
  <% end %>
</li>