<% content_for :title do %>Profile Settings<% end %>
<% content_for :description do %>Editing the profile settings for <%= @user.first_name %>. You can change your email address, update your email notification settings and delete your account.<% end %>
<div class="content content-pad-160-bottom">
	<h2 class="signika-txt top-header font-35">Profile Settings</h2>
	<div id="p-settings">
		<div id="change-email">
			<h3><div class="font-13"><strong>Change Email</strong></div></h3>
			<br/>
			Your current email address is <strong><%= @user.email %></strong></ENTER>.
			<br/>
			<br/>
			<%= form_for(@user) do |f| %>
			<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :value => '', :class => 'form-text' %>
				</li>
				<li id="change-email-submit-pad">
					<div class="o-button left norm-o-pad signika-font">
						<%= f.submit "Change Email" %>
					</div>
				</li>
			</ul>
			<% end %>
			<%= form_for(@user) do |f| %>
		</div>
		<div class="clear"></div>
		<div id="email-notify">
			<h3><div class="font-13"><strong>Email Notifications</strong></div></h3>
			<br/>
			You can change how often you receive emails for new releases, from the options provided below.
			The default setting is ‘Weekly’.
			<br/>
			<br/>
			<!--<form method="post" action="email_notify.php" onsubmit="" class="enform">-->
			<ul>
				<li class="radio-pad">
					<%= f.radio_button :email_frequency, :always, :class => 'form-text left' %>
					<%= f.label :always %>
				</li>
				<li class="radio-pad">
					<%= f.radio_button :email_frequency, :daily, :class => 'form-text left' %>
					<%= f.label :daily %>
				</li>
				<li class="radio-pad">
					<%= f.radio_button :email_frequency, :weekly, :class => 'form-text left' %>
					<%= f.label :weekly %>
				</li>
				<li class="radio-pad">
					<%= f.radio_button :email_frequency, :fortnightly, :class => 'form-text left' %>
					<%= f.label :fortnightly %>
				</li>
				<li>
					<!-- left so you have a frame of reference for what it used to be	<input class="form-text radio" type="radio" name="e-notify" id="monthly" />
					<label for="monthly">Monthly</label>-->
					<%= f.radio_button :email_frequency, :monthly , :class => 'form-text left' %>
					<%= f.label :monthly %>
				</li>
				<div class="clear"></div>
				<div id="save-settings-submit-pad">
					<div class="o-button left norm-o-pad signika-font">
						<%= f.submit 'Save Email Changes' %>
					</div>
				</div>
			</ul>
			<% end %>
		</div>
		<div class="clear"></div>
		<div id="delete-account">
			<h3><div class="font-13"><strong>Delete Your Account</strong></div></h3>
			<br/>
			Your account, tracked artists and all personal details will be permanently removed.
			<div id="delete-submit-pad">
				<div class="o-button norm-o-pad left signika-font font-13">
					<a href="#delete-confirmation">Delete Account</a>
				</div>
			</div>
		</div>
	</div>

		<div id="delete-confirmation">
		<%= render :partial => 'delete_confirm' %>
	</div>
