<% content_for :title do %>Profile Settings<% end %>
<% content_for :description do %>Editing the profile settings for <%= @user.first_name %>. You can change your email address, update your email notification settings and delete your account.<% end %>
<div class="row"><div class="span10 offset1">
		<div id="change-email">
			<h1>Profile Settings</h1>
			<h3>Change Email</h3>
			<br/>
			Your current email address is <strong><%= @user.email %></strong>.
			<br/>
			<br/>
			<%= form_for(@user) do |f| %>
			<% if @user.errors.any? %>
			<div id="error_explanation">
			<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :value => '' %>
				</li>
				<div class="clear"></div>
			</ul>
			<%= f.submit "Change Email" %>
			<% end %>
			<%= form_for(@user) do |f| %>
		</div></div></div>
	<div class="row"><div class="span10 offset1">
		<div id="email-notify">
			<h3>Email Notifications</h3>
			<br/>
			You can change how often you receive emails for new releases, from the options provided below.
			The default setting is <strong>Daily</strong>.
			<br/>
			<br/>
			<ul>
				<li>
					<%= f.radio_button :email_frequency, 0 %>
					<%= f.label :instant %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 1 %>
					<%= f.label :daily %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 2 %>
					<%= f.label :weekly %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 3 %>
					<%= f.label :fortnightly %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 4 %>
					<%= f.label :monthly %>
				</li>
				<div class="clear"></div>
			</ul>
			<%= f.submit 'Save Email Changes' %>
			<% end %>
		</div></div></div>
		<% if @user.manager? %>
	<div class="row"><div class="span10 offset1">
				<div id="manage-artist">
			<h3>Artist management</h3>
			<br/>
			You are currently managing the artist known as <strong><%= @user.managing.first.name %></strong>.
			<br/>
			<br/>
			<%= link_to edit_artist_path(@user.managing.first) do %><div>
			Edit</div><% end %>
			<span><a href="#unmanage-confirmation">Delete</a></span>
				</div></div></div>
				<% else %><% end %>
	<div class="row"><div class="span10 offset1">
		<div id="delete-account">
			<h3>Delete Your Account</h3>
			<br/>
			Your account, tracked artists and all personal details will be permanently removed.<br/><br/>
				<span><a href="#delete-confirmation">Delete Account</a></span>
		</div></div></div>
	<div id="delete-confirmation">
		<%= render :partial => 'delete_confirm' %>
	</div>
	<% if @user.manager? %>
	<div id="unmanage-confirmation">
  	<%= render :partial => 'unmanage_confirm' %>
	</div>
	<% end %>