<% content_for :title do %>Profile Settings<% end %>
<% content_for :description do %>Editing the profile settings for <%= @user.first_name %>. You can change your email address, update your email notification settings and delete your account.<% end %>
<div class="row profile-settings"><div class="span9">
<div class="row change-email"><div class="span9">
			<h1>Profile Settings</h1>
			<h3>Change Email</h3>
			<p>Your current email address is <strong><%= @user.email %></strong>.</p>
			<%= form_for(@user) do |f| %>
			<% if @user.errors.any? %>
			<div id="error_explanation">
			<strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :value => '' %>
				</li>
				<div class="clear"></div>
			</ul>
			<%= f.submit "Change Email" %>
			<div class="clear"></div>
			<% end %>
					</div></div>
<div class="row email-notify"><div class="span9">
			<%= form_for(@user) do |f| %>
			<h3>Email Notifications</h3>
			<p>
				You can change how often you receive emails for new releases, from the options provided below. The recommended setting is <strong>Daily</strong>. Please note, <strong>we will only email you if there are new releases.</strong> 
			</p>
			<ul>
				<li>
					<%= f.radio_button :email_frequency, 0 %>
					<%= f.label :instant %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 1 %>
					<%= f.label :daily %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 2 %>
					<%= f.label :weekly %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 3 %>
					<%= f.label :fortnightly %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 4 %>
					<%= f.label :monthly %>
				</li>
				<li>
					<%= f.radio_button :email_frequency, 5 %>
					<%= f.label :never %>
				</li>
				<div class="clear"></div>
			</ul>
			<%= f.submit 'Save Email Changes' %>
			<% end %>
		</div></div>
		<% if @user.manager? %>
<div class="row manage-artist"><div class="span9">
			<h3>Artist management</h3>
			<p>You are currently managing the artist known as <strong><%= @user.managing.first.name %></strong>.</p>
			<%= link_to edit_artist_path(@user.managing.first) do %><span>
			Edit</span><% end %>
			<span><a href="#unmanage-confirmation" data-toggle="modal">Delete</a></span>
			
				</div></div>
				<% else %><% end %>
<div class="row delete-account"><div class="span9">
			<h3>Delete Your Account</h3>
			<p>Your account, tracked artists and all personal details will be permanently removed.</p>
				<span><a href="#delete-confirmation" data-toggle="modal">Delete Account</a></span>
		</div></div></div></div>
	<div class="modal hide fade" id="delete-confirmation">
		<%= render :partial => 'delete_confirm' %>
	</div>
	<% if @user.manager? %>
	<div class="modal hide fade" id="unmanage-confirmation">
  	<%= render :partial => 'unmanage_confirm' %>
	</div>
	<% end %>