<% content_for :title do %><%= @user.first_name %>'s friends on SNGTRKR<% end %>

<div class="content content-pad-160-bottom">
	<h2 class="signika-txt top-header font-35">Friends (<%= @app_friends.count %>)</h2>
	<% if !@app_friends.empty? %>
	<div id="friends-list">
		<div class="friends-search">
			<input type="text" id="filter"/>
			<img class="white-search-25 right" src="/assets/images/white-search.png"/>
		</div>
		<ul>
			<% @app_friends.each do |friend| %>
			<li class="left">
				<div class="friends-image" style="background-image:url(<%= "//graph.facebook.com/"+friend.fbid+"/picture?type=normal" %>);background-repeat:no-repeat;background-position:center;"></div>
				<div class="friends-info">
					<h3><strong><%= link_to(friend) do %><span class="font-13 name"><%= friend.first_name + " " + friend.last_name %></span><% end %></strong></h3>
					<span class="orange-txt instruct-font"><%= friend.following.count %> TRKINGS</span>
				</div>
			</li>
			<% end %>
		</ul>

	</div>
	<% # If the user has no friends... 
	else %>
	<p>No friends!</p>
	<% end %>
	<div class="clear"></div>
