<% content_for :title do %>Manage an artist<% end %>
<% content_for :description do %>Joining SNGTRKR as an artist, could not be any easier. Increase record sales and web presence; keep your fans up to date with future releases with your personalised timeline.<% end %>
<div class="row manage-top"><div class="span8 offset2">
	<div class="row"><div class="span4">
	<h1>Join now and build a closer relationship to your fans...</h1><br/>
	<a href="#manage-choice"><div>Manage an artist</div></a>
	</div>
	<div class="span4">
	<%= image_tag "/images/macbook2.png", :alt => "Macbook Pro", :class => "macbook-2"%>
	</div></div>
</div></div>
<div class="row manage-point"><div class="span8 offset2">
<div class="row"><div class="span6">
		<h2>Manage your profile</h2>
		<span>Manage and update your personal profile with information such as genre, label, biography, social media links, 		website and much more. Create your personal, tailored timeline by adding releases, old and new, to deliver a rich 			source of information for your fans to experience and enjoy.</span>
		</div>
		<div class="span2">
		<%= image_tag "/images/manage1.png", :alt => "Timeline", :id => "manage1" %>
		</div></div>
</div></div>
	</li>
<div class="row manage-point"><div class="span8 offset2">
<div class="row"><div class="span6">
		<h2>Keep your fans up to date</h2>
		<span>Keep your fans in the loop by adding new releases to your intuitive timeline, and automatically sending 				notifications straight to their inbox. All of this is supported by share, buy and listen links to easily keep exisiting 		fans up to date and also expand your fanbase even more.</span>
		</div>
		<div class="span2">
		<%= image_tag "/images/manage2.png", :alt => "Discover new music", :id => "manage2" %>
		</div></div>
</div></div>
<div class="row manage-point"><div class="span8 offset2">
<div class="row"><div class="span6">
		<h2>Increase web presence</h2>
		<span>Struggling to get yourself known and your music heard? SNGTRKR is the full package platform, to enable up and 		coming and popular artists alike, reinforce and grow their fanbase. A strong music community coupled with the social 		media platform makes it easy to gain presence, both on and offline.</span>
		</div>
		<div class="span2">
		<%= image_tag "/images/manage3.png", :alt => "Music media", :id => "manage3" %>
		</div></div>
</div></div>
<div id="manage-buffer"></div>
	<div id="manage-choice">
	<div id="manage-options">
	<h3 class="signika-txt font-25">Artist choice</h3>
	<% if @manageable.count.zero? %>
			<span class="font-13"><strong>If seems you don't have any Facebook artists to manage.</strong></span><br/><br/>
			Please make sure you have a Facebook page for the artist, and set the category for the page to 'Musician/Band'.
			<% else %>
			<%= form_for [current_user, Manage.new] do |f| %>
					<ul>
				<% @manageable.each do |artist| %>
				<li class="left">
					<div class="a-image" style='background-image:url(<%= "//graph.facebook.com/"+artist.fbid+"/picture?type=normal" %>);background-repeat:no-repeat;background-position:center;'></div>
					<div class="artists-info">
						<h3><strong><span class="font-13 name"><%= truncate((strip_tags f.label(:artist_id, artist.name) || "" ), :length => 17) %></span></span></strong></h3>
						Dubstep
					</div>
					<div class="artist-radio">
						<%= f.radio_button(:artist_id, artist.id) %>
					</div>
				</li>
				<% end %>
				<div class="clear"></div>
			</ul>
			<div id="manage-buttons">
				<a href="javascript:$.fancybox.close();"><%= f.submit "Manage" %></a>
				<a href="javascript:$.fancybox.close();"><div>Cancel</div></a>
				</div>
			<% end %>
			<% end %>
			</div>
	</div>
	<div id="manage-form"></div>