<% content_for :title do %>Manage an artist<% end %>
<div class="content content-pad-191-bottom">
	<h2 class="signika-txt top-header font-35">Manage an Artist</h2>

	<div id="manage-form">
		<div id="steps">
			<%= form_for [current_user, Manage.new], :remote => true do |f| %>
			<fieldset class="step">
				<div class="step-back manage-artist-step">
					<div class="step-left left">
						<% @manageable.each do |artist| %>
						<%= f.radio_button(:artist_id, artist.id) %>
						<%= f.label(:artist_id, artist.name) %>
						<!-- <%= image_tag ("//graph.facebook.com/"+artist.fbid+"/picture?type=small") %> -->
						<br/>
						<%= f.submit "Manage" %>
						<% end %>
					</div>
					<div class="step-right right">
						Please select the artist you wish to manage on SNGTRKR. We will then attempt to grab as much information from your Facebook fan page as possible.
						<br/>
						<br/>
						<strong>At least one field is required.</strong>
					</div>
					<div id="artist-line"></div>
					<div class="clear"></div>
				</div>
			</fieldset>
			<% end %>
			<!-- AJAX FOR OTHER FORMS -->
		</div>
		<div id="navigation" style="display:none;">
			<ul>
				<li class="selected signika-font">
					<a href="#" class="manage-artist"><h3>1. Artist</h3><div class="white-tint"></div></a>
				</li>
				<li class="signika-font">
					<a href="#" class="manage-details"><h3>2. Details</h3></a>
				</li>
				<li class="signika-font">
					<a href="#" class="manage-picture"><h3>3. Picture</h3></a>
				</li>
				<li class="signika-font">
					<a href="#" class="manage-summary"><h3>4. Summary</h3></a>
				</li>
			</ul>
		</div>
		<div id="progress-bar">
			<div id="progress">
				<div class="percent instruct-font">
					25%
				</div>
			</div>
		</div>
	</div>
	<div id="ajax-form"></div>

	<script>
		$('#ajax-form').load('/artists/1/edit')
	</script>

	<!--		<% @manageable.each do |artist| %>
	<%= "//graph.facebook.com/"+artist.fbid+"/picture?type=large" %>

	<%= (link_to 'Manage', manage_artist_path(artist)) rescue (debug artist) %>
	<% end %>
	<% @managing.each do |artist| %>
	Stop managing <%= link_to artist["name"], unmanage_artist_path(artist) %>
	<% end %> -->
