<% content_for :title do %><%= @user.first_name %>'s profile<% end %>
<div class="row-fluid">
  <div class="span10">
      <div class="tabbable tabs-left profile-tabs">
      	<%= image_tag '//graph.facebook.com/'+@user.fbid+'/picture?width=200&height=200' %>
      	<h1><%= @user.first_name + " " + @user.last_name %></h1>
      	<p>Bristol, United Kingdom</p>
        <ul id="myTab" class="nav nav-tabs nav-stacked each-tab">
          <li class="active">
            <a href="#tab1" data-toggle="tab"><i class="icon-screenshot"></i><%= @user.following.count %> trackings</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab"><%= image_tag "/images/ppl_black.png", :class => "blk ppl"%><%= image_tag "/images/ppl_white.png", :class => "wht ppl"%><%= @app_friends.count %> friend<% if @app_friends.count > 1 %>s<% end %></a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <%= link_to edit_user_path(@user) do %><div class="btn"><i class="icon-pencil"></i>Edit</div><% end %>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane active" id="tab1">
            <% if !@user.following.count.zero? %>
    	      	<table class="table table-striped">
        			  <tbody>
                  <% @following.each do |artist_tracked| %>
          			    <tr>
          			      <td>
                        <%= image_tag "http://placehold.it/75x75" %>
                            <%= link_to artist_path(artist_tracked) do %>
                              <%= artist_tracked.name %>
                            <% end %>
                            <span>
                              <div class="btn track">Track</div>
                              <div class="btn share"><i class="icon-share"></i>Share</div>
                            </span>
                      </td>
          			    </tr>
                  <% end %>
        			  </tbody>
        			</table>
            <% else %>
              <p>You are not tracking anyone.</p>
            <% end %>
          </div>
          <div class="tab-pane" id="tab2">
              <% if !@app_friends.empty? %>
                <% @app_friends.each do |friend| %>
            			<div>
            				<%= image_tag "//graph.facebook.com/"+friend.fbid+"/picture?width=75&height=75" %>
            				<span><%= friend.first_name + " " + friend.last_name %></span>
            				<%= Follow.where('user_id = ?',friend.id).count %> trackers
            			</div>
                <% end %>
              <% else %>
                <p>You have no friends</p>
              <% end %>
          </div>
        </div>
      </div> 
  </div>
</div>
<% content_for :fb_js do %>
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
			FB.login();
		} else {
			// the user isn't logged in to Facebook.
			FB.login();
		}
	});
	FB.api(<%= "'#{@user.fbid}picture?type=large'" %>, function(response) {
		// The response will literally just be the URL to the friend's profile picture
	});
	FB.api(<%= "'#{@user.fbid}?fields=cover'" %>, function(response){
		if(response['cover']){
		   $('#user-cover').css("background-image","url("+response['cover']['source']+")");
		} else {
		   /*$('#user-cover').fadeOut();
		   $('#user-information').animate({marginTop : -194}, "slow").css("width",400).css("overflow","hidden");*/
		}
	});
<% end %>
<%= render 'shared/fb_async' %>

