<% content_for :title do %><%= @user.first_name %>'s profile
<% end %>
<% cache "user_info_1/#{@user.id}-#{@user.updated_at}", expires_in: 24.hours do %>
    <div class="g_three_col">
      <div class="g_sidebar">
        <div class="tabbable tabs-left profile-tabs g_fixed">
          <div class="scrollable">
            <div class="scrollable_inner">
              <%= image_tag '//graph.facebook.com/'+@user.fbid+'/picture?width=200&height=200' %>
              <h1><%= @user.first_name + " " + @user.last_name %></h1>

              <p>Bristol, United Kingdom</p>
              <ul id="myTab" class="nav nav-tabs nav-stacked each-tab">
                <li class="active">
<% end %>
<a href="#tab1" data-toggle="tab"><i class="icon-screenshot"></i><span id="tracking-<%= current_user.id %>"><%= @user.follows.count %></span>
  trackings</a>
<% cache "user_info_2/#{@user.id}-#{@user.updated_at}", expires_in: 24.hours do %>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab"><%= image_tag "/images/ppl_black.png", :class => "blk ppl" %><%= image_tag "/images/ppl_white.png", :class => "wht ppl" %><%= @app_friends.count %>
        friend
        <% if @app_friends.count > 1 %>s
        <% end %></a>
    </li>
    </ul>
    <div class="clearfix"></div>
    <%= link_to edit_user_registration_path(@user) do %><div class="btn"><i class="icon-pencil"></i>Edit</div>
    <% end %>
    </div>
    </div>
    </div>
    </div>
<% end %>
<div class="g_main g_tabs">
  <div class="tab-content profile-tab-content" id="myTabContent">
    <div class="tab-pane active" id="tab1" data-user="<%= current_user.id %>">
      <% if !@following.count.zero? %>
          <table class="table table-striped">
            <tbody>
            <% @following.each do |artist_tracked| %>
                <tr id="row-<%= artist_tracked.id %>" class="animated">
                  <td>
                    <%= link_to artist_path(artist_tracked) do %>
                        <%= image_tag artist_tracked.image.medium.url, :class => "image", :height => "75", :width => "75" %>
                    <% end %>
                    <%= link_to artist_path(artist_tracked) do %>
                        <%= artist_tracked.name %>
                    <% end %>
                    <span class="actions">
                              <%= follow_button artist_tracked %>
                      <div class="btn share share_artist" id="<%= artist_tracked.id %>" data-placement="bottom">
                        <i class="icon-share"></i>Share
                      </div>
                            </span>
                    <%= artist_popover artist_tracked %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <p>You are not tracking anyone.</p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% if !@app_friends.empty? %>
          <% @app_friends.each do |friend| %>
              <div>
                <%= image_tag "//graph.facebook.com/"+friend.fbid+"/picture?width=75&height=75" %>
                <span><%= friend.first_name + " " + friend.last_name %></span>
                <%= Follow.where('user_id = ?', friend.id).count %> trackers
              </div>
          <% end %>
      <% else %>
          <p>You have no friends</p>
      <% end %>
    </div>
  </div>
</div>
<% cache "user_sidebar", expires_in: 1.week do %>
    <div class="g_right_sidebar">
      <div class="profile_left_sidebar g_fixed g_right_border">
        <div class="scrollable">
          <div class="scrollable_inner">
            <div class="share_sidebar">
              <%= image_tag "/images/computer_small.png", :id => "computer_small", :alt => "Stay connected" %>
              <div class="actions">
                <h3>Stay connected</h3>

                <p>Share and discover new artists and releases with your friends</p>
                <button class="btn btn-small share_sngtrkr share" data-placement="bottom"><i class="icon-share"></i>Share
                </button>
              </div>
            </div>
            <!-- <h2>Track artists from Facebook</h2>
            <div class="icon"><span></span><i class="icon-facebook"></i></div>
            <p>Import your favourite artists from your Facebook and add them to your timeline.</p>
            <div class="btn">Import</div> -->
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="sngtrkr_pop">
      <div class="share_content">
        <div>
          <a href="#" alt="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com&t=SNGTRKR','Share on Facebook','scrollbars=no,width=620,height=340'); return false;">
            <%= image_tag "/images/social/fb.png", :alt => "Facebook" %>
          </a>
          <a href="#" title="Share on Twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com&text=I%27m+currently+using+SNGTRKR+to+track+artist+releases+and+discover+new+music.+Come+get+involved+at&url=http%3A%2F%2Fwww.sngtrkr.com&via=SNGTRKR','Share on Twitter','scrollbars=no,width=620,height=340'); return false;">
            <%= image_tag "/images/social/twitter.png", :alt => "Twitter" %>
          </a>
          <a href="#" title="Share on Tumblr" onClick="MyWindow=window.open('http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.sngtrkr.com&name=SNGTRKR - Never miss another release&description=I%27m+currently+using+SNGTRKR+to+track+artist+releases+and+discover+new+music.+Come+get+involved+at+http%3A%2F%2Fwww.sngtrkr.com','Share on Tumblr','scrollbars=no,width=620,height=340'); return false;">
            <%= image_tag "/images/social/tb.png", :alt => "Tumblr" %>
          </a>
          <a href="#" title="Share on Google Plus" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com','Share on Google+','scrollbars=no,width=620,height=340'); return false;">
            <%= image_tag "/images/social/gplus.png", :alt => "Google+" %>
          </a>
        </div>
        <span>Link:</span>
        <input type="text" onClick="this.select();" value="<%= root_url %>">
      </div>
    </div>
<% end %>