<% content_for :title do %><%= @user.first_name %> on SNGTRKR<% end %>
<% content_for :description do %>Profile page for <%= @user.first_name %>. You will be able to change the settings of your profile, manage any Facebook artists you control and view the list of artists you are currently tracking. <% end %>
<div class="content content-pad-160-bottom">
	<div id="content-profile-top">
		<div class="profile-menu">
			<ul>
				<% if @user.manager? %>
				<li class="profile-menu-button-nudge-2">
					<div id="trkrs-button">
						<div class="trkrs-button-txt instruct-font">
							<div class="font-25">
								<%= @trackers %>
							</div>
							<br/>
							<div class="font-15 instruct-font">
								TRKR'S
							</div>
						</div>
					</div>
				</li>
				<% else %>
				<% end %>
				<li class="profile-menu-button-nudge">
					<div class="o-button menu-width norm-o-pad font-13 signika-font">
						<%= link_to 'Friends', friends_user_path(@user) %><span></span>
					</div>
				</li>
				<% if @user.manager? %>
				<li class="profile-menu-button-nudge">
					<div class="o-button menu-width norm-o-pad font-13 signika-font artist-menu-pad">
						<%= link_to 'Add Release', new_artist_release_path(@artist) %>
						<span></span>
					</div>
				</li>
				<% else %>
				<li class="profile-menu-button-nudge">
					<div class="o-button menu-width norm-o-pad font-13 signika-font">
						<%= link_to 'Manage Artist', managing_user_path(@user) %><span></span>
					</div>
				</li>
				<% end %>
				<li class="profile-menu-button-nudge">
					<% if @user.manager? %>
					<div class="o-button menu-width norm-o-pad font-13 signika-font artist-menu-pad">
						<% else %>
						<div class="o-button menu-width norm-o-pad font-13 signika-font">
							<% end %>
							<%= link_to "Profile Settings", edit_user_path(@user) %><span></span>
						</div>
				</li>
			</ul>
		</div>
		<div class="profile-welcome">
			<% if @user.manager? %>
			<h2>
			<div class="font-15">
				Welcome to your profile, <strong><%= @artist.name %></strong>!
			</div></h2>
			<br/>
			Here you will be able to view how many of your fans are TRKing you, along with adding releases, new and old, to your personalized artist timeline.
			Your interactive timeline will enable you to edit and delete releases you have already added.
			<br/>
			<br/>
			Even as an artist, you still want to keep up to
			date with artists releasing content, old and new.  Below you will find  a list of the artists you are currently tracking, alongside recommended
			artists we think you will find interesting.
			<br/>
			<br/>
			If you need further
			help with anything, including your artist profile, then be sure to visit our Help and FAQ page.
			<% else %>
			<h2>
			<div class="font-15">
				Welcome to your profile, <strong><%= @user.first_name %> <%= @user.last_name %></strong>!
			</div></h2>
			<br/>
			Here you will be able to change the settings of your profile, manage any Facebook artists you control and view the list of artists you are currently tracking.
			<br/>
			<br/>
			If you need further help with anything, then be sure to visit our Help and Frequently Asked Questions page.
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
	<div id="track-num-search">
		<img class="p-bulge-t" src="/assets/images/p-bulge-top.png"/>
		<div class="font-15 no-trk">
			<strong><%= @user.following.count %> TRKed Artists</strong>
		</div>
		<div class="artist-trkr-list-search">
			<input type="text" id="filter"/>
			<img class="white-search-25 right" src="/assets/images/white-search.png"/>
		</div>
	</div>
	<div id="tracked-artists">
		<% if @user.following.count.zero? %>
		<div class="no-trk-notify">
			You are not TRKing anyone yet.
		</div>
		<% else %>
		<ul>
			<% @following.each do |artist| %>
			<li class="left">
				<div class="each-artist-outer">
					<strong> <%= link_to artist do %>
					<div class="font-13 name">
						<%= truncate(artist.name, :length => 20) %>
					</div><% end %></strong>
					<div class="instruct-font orange-txt">
						<%= artist.followers %> TRKR's
					</div>
					<%= link_to unfollow_artist_path(artist), :remote => true, :class => 'untrk-artist' do %><img class="remove-artist-button" src="/assets/images/x.png"/><% end %>
				</div>
			</li>
			<% end %>
		</ul>
		<% end %>
		<img class="p-bulge-b" src="/assets/images/p-bulge-bot.png"/>
	</div>

	<div class="clear"></div>
	<div class="content-top recommend-text-nudge">
		<h3 class="signika-txt top-header font-35 left">Here are a few artists we have recommended for you...</h3>
		<div class="content-top-right">
			We noticed you’ve already liked a few artists on Facebook, so decided to recommend some you might want to track.
			With one simple click, it’s easy to add and remove artists to your tracking timeline.
			<br/>
			<br/>
			Navigate to the home page, where you will able to view your personalized
			timeline of releases, new and old...
		</div>
	</div>
	<div class="clear"></div>
	<div class="recommended-artists-outer">
		<div class="recommended-artists">
			<ul>
				<%= render :partial => 'shared/artist_suggestion', :collection => @user.suggested[0, 6] %>
			</ul>
		</div>
	</div>
	<%= render :partial => 'shared/artist_suggestion_replace' %>
