<% content_for :title do %><%= @user.first_name %> on SNGTRKR<% end %>
<% content_for :description do %>Profile page for <%= @user.first_name %>. You will be able to change the settings of your profile, manage any Facebook artists you control and view the list of artists you are currently tracking. <% end %>
<div class="content-pad-160-bottom">
	<div id="content-profile-top">
		<div class="profile-menu">
			<ul>
				<% if @user.manager? %>
				<li class="trkrs-button">
				<span class="trkr-txt">
							<div class="font-25"><%= @trackers %></div>
							<br/>
							<div class="font-15 instruct-font">TRKR'S</div>
				</span>
				</li>
				<% else %>
				<% end %>
				<li class="font-13 signika-font o-button p-menu">
					<%= link_to 'Friends', friends_user_path(@user) %>
				</li>
				<% if @user.manager? %>
				<li class="font-13 signika-font o-button p-menu">
						<%= link_to 'Add Release', new_artist_release_path(@artist) %>
				</li>
				<% else %>
				<li class="font-13 signika-font o-button p-menu">
					<%= link_to 'Manage Artist', managing_user_path(@user) %>
				</li>
				<% end %>
				<li class="font-13 signika-font o-button p-menu">
					<%= link_to "Profile Settings", edit_user_path(@user) %>
				</li>
			</ul>
		</div>
		<div class="profile-welcome">
			<% if @user.manager? %>
			<span class="artist"><h2>
			<div class="font-15">
				Welcome to your profile, <strong><%= @artist.name %></strong>!
			</div></h2>
			<br/>
			Here you will be able to view how many of your fans are TRKing you, along with adding releases, new and old, to your personalized artist timeline.
			Your interactive timeline will enable you to edit and delete releases you have already added.
			<br/>
			<br/>
			Even as an artist, you still want to keep up to
			date with artists releasing content, old and new.  Below you will find  a list of the artists you are currently tracking, alongside recommended
			artists we think you will find interesting.
			<br/>
			<br/>
			If you need further help with anything, then be sure to visit our Help page.</span>
						<% else %>
			<span class="user"><h2>
			<div class="font-15">
			Welcome to your profile, <strong><%= @user.first_name %> <%= @user.last_name %></strong>!
			</div></h2>
			<br/>
			Here you will be able to change the settings of your profile, manage any Facebook artists you control and view the list of artists you are currently tracking.
			<br/>
			<br/>
			If you need further help with anything, then be sure to visit our Help page.</span>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
	<div id="track-num-search">
		<div class="font-15 no-trk">
			<strong><%= @user.following.count %> TRKed Artists</strong>
		</div>
		<div class="artist-trkr-list-search">
			<input type="text" id="filter" placeholder="Search TRKR's..."/>
			<div class="search right search-button"><%= image_tag "/images/white-search-2.png", :alt => "Search", :id => "search-pad" %></div></div>
			<%= image_tag "/images/p-bulge-top.png", :alt => "Shadow", :class => "p-bulge-t" %>
	</div>
	<div id="tracked-artists">
	
			<% if @user.following.count.zero? %>
		<div class="no-trk-notify">
			You are not TRKing anyone yet.
		</div>
		<% else %>
		<ul>
		  <%= render :partial => 'shared/artist_tracked', :collection => @following %>
		</ul>
		<% end %>
		<%= image_tag "/images/p-bulge-bot.png", :alt => "Shadow", :class => "p-bulge-b" %>
	</div>
	<div class="clear"></div>
	<div class="content-top recommend-text-nudge">
		<h3 class="signika-txt top-header font-35 left">Here are a few artists we have recommended for you...</h3>
		<div class="content-top-right">
			We noticed you’ve already liked a few artists on Facebook, so decided to recommend some you might want to track.
			With one simple click, it’s easy to add and remove artists to your tracking timeline.
			<br/>
			<br/>
			Navigate to the home page, where you will able to view your personalized
			timeline of releases, new and old...
		</div>
	</div>
	<div class="clear"></div>
	<div class="recommended-artists-outer">
	 <% if @user.suggested.count.zero? %>
	 <p>Sorry, we have no suggestions for you at the moment... </p>
	 <% else %>
		<div class="recommended-artists">
			<ul>
				<%= render :partial => 'shared/artist_suggestion', :collection => @user.suggested[0, 6] %>
			</ul>
		</div>
		<% end %>
	</div>
	<%= render :partial => 'shared/artist_suggestion_replace' %>
	<%= render :partial => 'shared/fb_async' %>
