<% content_for :title do %><%= @user.first_name %> on SNGTRKR<% end %>
<% content_for :description do %>Profile page for <%= @user.first_name %>. You will be able to change the settings of your profile, manage any Facebook artists you control and view the list of artists you are currently tracking. <% end %>
<div class="row"><div class="span9">
<div id="user-information">
	<div id="user-cover"></div>
	<div class="user-info">
			<h2><%= link_to @user.first_name + " " + @user.last_name, "http://facebook.com/#{@user.fbid}", :target => "_blank" %></h2>
			<span><%= @user.following.count %> TRKINGS</span>
	</div>
	<%= link_to "http://facebook.com/#{@user.fbid}" do %><div id="user-image" style="background-image:url(<%= "//graph.facebook.com/"+@user.fbid+"/picture?type=normal" %>);"></div><% end %>
</div>
</div>
</div>
<div class="row user-trkrs"><div class="span9">
	<div class="row"><div class="span6">
		<h2 class="no-trk"><%= @user.following.count %> TRKED Artists</h2>
	</div>
		<div class="span3">
			<div class="artist-trkr-list-search">
			<input type="text" id="filter" placeholder="Search TRKRs..."/>
			<div><%= image_tag "/images/white-search-2.png", :alt => "Search", :id => "search-pad" %></div></div>
	</div></div>
	<div class="row"><div class="span9" id="tracked-artists-container">
	<ul id="tracked-artists">
		<% if @user.following.count.zero? %>
		<div class="no-trk-notify">
			You are not TRKing anyone yet.
		</div>
		<% else %>
		  <%= render :partial => 'shared/artist_tracked', :collection => @following.ordered %>
		<% end %>
	</ul>
	<div class="clear"></div>
	</div></div>
</div></div>

	<script>
<% content_for :fb_js do %>
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
			FB.login();
		} else {
			// the user isn't logged in to Facebook.
			FB.login();
		}
	});
	FB.api(<%= '\''+@user.fbid+'/picture?type=large\'' %>, function(response) {
		// The response will literally just be the URL to the friend's profile picture
	});
	FB.api(<%= '\''+@user.fbid+'?fields=cover\'' %>, function(response){
		if(response['cover']){
		   $('#friend-cover').css("background-image","url("+response['cover']['source']+")");
		} else {
		   $('#friend-cover').fadeOut();
		   $('#friend-information').animate({marginTop : -194}, "slow").css("width",400).css("overflow","hidden");
		}
	});
<% end %>

</script>
<%= render 'shared/fb_async' %>