<% content_for :title do %>Friend: <%= @friend.first_name %> <%= @friend.last_name %><% end %>
<div class="g_two_col">
  <div class="g_sidebar ">
    <div class="g_fixed friend_info">
      <div class="scrollable">
        <div class="scrollable_inner">
          <%= image_tag '//graph.facebook.com/'+@friend.fbid+'/picture?width=200&height=200' %>
          <h1><%= @user.first_name + " " + @user.last_name %></h1>
          <div class="trackers">
            <div></div>
            <span><%= pluralize @friend.follows.count, "tracker" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g_main artist_timeline">
    <% if @following.empty? %>
    No followings
    <% else %>
      <%= render :partial => 'explore/artist', :collection => @following %>
    <% end %>
  </div>
</div>