<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @friend.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @friend.last_name %>
</p>

<p>
  <b>Password:</b>
  <%= @friend.password %>
</p>

<p>
  <b>Type:</b>
  <%= @friend.type %>
</p>

<p>
  <b>Email:</b>
  <%= @friend.email %>
</p>

<p>
  <b>Email frequency:</b>
  <%= @friend.email_frequency %>
</p>

<p>
  <b>Last email:</b>
  <%= @friend.last_email %>
</p>

<p>
  <b>Username:</b>
  <%= @friend.username %>
</p>

<p>
  <b>Role:</b>
  <%= @friend.role %>
</p>
