<% content_for :title do %>Friend: <%= @friend.first_name %> <%= @friend.last_name %><% end %>
<div class="content content-pad-160-bottom">
	<div id="friend-info-top">
		<div class="left friend-info">
			<div id="friend-image"  style="background-image:url(<%= "//graph.facebook.com/"+@friend.fbid+"/picture?type=normal" %>);background-repeat:no-repeat;background-position:center;"></div>
			<div id="f-info">
				<h2><div class="font-15"><strong><%= @friend.first_name + " " + @friend.last_name %></strong></div></h2>
				<div class="orange-txt instruct-font">
					<%= @friend.following.count %> TRKINGS
				</div>
				Last login: 
			</div>
		</div>
		<div id="friend-trkr-search">
			<input type="text" id="filter"/>
			<img class="white-search-25 right" src="/assets/images/white-search.png"/>
		</div>
	</div>
	<div class="clear"></div>
	<div class="recommended-artists-outer friend-recommend-nudge">
		<div class="recommended-artists">
			<% if @artists.none? %>
				<div class="center-txt"><strong>It seems <%= @friend.first_name %> isn't tracking any artists yet...</strong></div>
				<% end %>
			<ul>
				<% @artists.each do |artist| %>
				<li class="left new-recommend" style="background-image:url(<%= artist.image.url %>);background-repeat:no-repeat;background-position:center;">
					<div class="each-recommend">
						<div class="black-tint"></div>
						<div class="instruct-font font-20 recommend-info">
							<h3><%= artist.name %></h3>
						</div>
						<%= render :partial => 'shared/trk_artist', :object => artist %>
						<%= link_to (image_tag '/assets/images/ignore.png'), unsuggest_artist_path(sug), :remote => true, "data-type" => "json", :class => 'ignore-button' %>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<script>
		window.fbAsyncInit = function() {
FB.init({
appId      : <%= '\''+FB_APP_ID+'\'' %>
	, // App ID
	channelUrl : '//localhost/channel.html', // Channel File
	status     : true, // check login status
	cookie     : true, // enable cookies to allow the server to access the session
	xfbml      : true  // parse XFBML
	});

	// Additional initialization code here
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
			FB.login();
		} else {
			// the user isn't logged in to Facebook.
			FB.login();
		}
	});
	FB.api(<%= '\''+@friend.fbid+'/picture?type=large\'' %>, function(response) {
		// The response will literally just be the URL to the friend's profile picture
	});
	};

	// Load the SDK Asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if(d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	</script>
