<% content_for :title do %>Friend: <%= @friend.first_name %> <%= @friend.last_name %><% end %>
<% content_for :description do %>Public profile page for your friend, <%= @friend.first_name %> <%= @friend.last_name %>. You can see when they last logged in, how many artists they are tracking and who they are tracking.<% end %>
<div class="content content-pad-115-bottom">
	<div id="friend-wrapper">
	<div id="friend-cover">
		<div id="friend-trkr-search">
			<input type="text" id="filter" placeholder="Search TRKRs..."/>
			<div class="search right search-button"><%= image_tag "/images/white-search-2.png", :alt => "Search", :id => "search-pad" %></div>
		</div>
		
	</div>
			<div class="friend-info">
			<div id="f-info">
				<h2><div class="font-14"><strong><%= link_to @friend.first_name + " " + @friend.last_name, "http://facebook.com/#{@friend.fbid}", :target => "_blank" %></strong></div></h2>
				<div class="orange-txt instruct-font">
					<%= @friend.following.count %> TRKINGS</div>
			</div>
			</div>
	<div id="friend-image"  style="background-image:url(<%= "//graph.facebook.com/"+@friend.fbid+"/picture?type=normal" %>);background-repeat:no-repeat;background-position:center;"></div>
	</div>
	<div id="friend-data">
	<div id="friend-activity">
	<ul>
	 <% if @friend.recent_activity.empty? %>
  	 <li>   
       <p><%= @friend.first_name %> hasn't peformed any actions yet.</p>
     </li>
   <% end %>
  	<%= render :partial => 'users/activity', :collection => @friend.recent_activity %>
  	<div class="clear"></div>
	</ul>
	</div>
	<div id="friend-trkrs">
 <% if @friend.following.empty? %>
   <p><%= @friend.first_name %> hasn't tracked any artists yet.</p>
 <% end %>
	<ul id="friend-trkr-list">
	 <%= render :partial => 'shared/friend_artist_suggestion', :collection => @friend.following.ordered %>	
	 <div class="clear"></div>
	</ul>	
	</div>
	</div>
	<script>
		window.fbAsyncInit = function() {
FB.init({
appId      : <%= '\''+FB_APP_ID+'\'' %>
	, // App ID
	channelUrl : '//localhost/channel.html', // Channel File
	status     : true, // check login status
	cookie     : true, // enable cookies to allow the server to access the session
	xfbml      : true  // parse XFBML
	});

	// Additional initialization code here
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
			FB.login();
		} else {
			// the user isn't logged in to Facebook.
			FB.login();
		}
	});
	FB.api(<%= '\''+@friend.fbid+'/picture?type=large\'' %>, function(response) {
		// The response will literally just be the URL to the friend's profile picture
	});
	FB.api(<%= '\''+@friend.fbid+'?fields=cover\'' %>, function(response){
	   $('#friend-cover').css("background-image","url("+response['cover']['source']+")");
	});
	};

	// Load the SDK Asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if(d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	</script>
<script type="text/javascript">
$(document).ready(function () {
		$(".mini-share").click(function() {
			$(this).closest(".each-friend").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-friend").find('.share-artist').animate({right : 0}, "slow");
			 $(this).closest(".each-friend").find('.friend-info').fadeOut("normal");
		});
		$(".share-cancel").click(function() {
			$(this).closest(".each-friend").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-friend").find('.share-artist').animate({right : -202}, "slow");
			 $(this).closest(".each-friend").find('.friend-info').fadeIn("normal");
		});
		$(".sm-trigger").click(function() {
			$(this).closest(".each-friend").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-friend").find('.share-artist').animate({right : -202}, "slow");
			 $(this).closest(".each-friend").find('.friend-info').fadeIn("normal");
		});
		totalheight = $("#friend-activity").height();
		friendheight = totalheight-13;
		$("#friend-trkrs").css("height", friendheight );
		$("#friend-trkr-list").css("height", friendheight );
});
</script>