<% content_for :title do %>Friend: <%= @friend.first_name %> <%= @friend.last_name %><% end %>
<% content_for :description do %>Public profile page for your friend, <%= @friend.first_name %> <%= @friend.last_name %>. You can see when they last logged in, how many artists they are tracking and who they are tracking.<% end %>
<div class="row"><div class="span10 offset1">
<div id="friend-information">
	<div id="friend-cover">
		<div id="friend-trkr-search">
			<input type="text" id="filter" placeholder="Search TRKRs..."/>
			<div class="search right search-button"><%= image_tag "/images/white-search-2.png", :alt => "Search", :id => "search-pad" %></div>
		</div></div>
	<div class="friend-info">
			<h2><%= link_to @friend.first_name + " " + @friend.last_name, "http://facebook.com/#{@friend.fbid}", :target => "_blank" %></h2>
			<span><%= @friend.following.count %> TRKINGS</span>
	</div>
	<%= link_to "http://facebook.com/#{@friend.fbid}" do %><div id="friend-image" style="background-image:url(<%= "//graph.facebook.com/"+@friend.fbid+"/picture?type=normal" %>);"></div><% end %>
</div>
</div></div>
<div class="row"><div class="span10 offset1">
	<div class="row"><div class="span5">
	<ul id="friend-activity">
	 <% if @friend.recent_activity.empty? %>
  	 <li>   
       <p><%= @friend.first_name %> hasn't peformed any actions yet.</p>
     </li>
   <% end %>
  	<%= render :partial => 'users/activity', :collection => @friend.recent_activity %>
  	<div class="clear"></div>
	</ul>
	</div>
	<div class="span5">
	<div id="friend-trkrs">
 <% if @friend.following.empty? %>
   <p><%= @friend.first_name %> hasn't tracked any artists yet.</p>
 <% end %>
	<ul id="friend-trkr-list">
	 <%= render :partial => 'shared/friend_artist_suggestion', :collection => @friend.following.ordered %>	
	 <div class="clear"></div>
	</ul>	
	<!--<%= image_tag "/images/p-bulge-bot.png", :alt => "Shadow", :class => "f-bulge-b" %> -->
	</div></div>
</div></div></div>
	<script>
		window.fbAsyncInit = function() {
FB.init({
appId      : <%= '\''+FB_APP_ID+'\'' %>
	, // App ID
	channelUrl : '//localhost/channel.html', // Channel File
	status     : true, // check login status
	cookie     : true, // enable cookies to allow the server to access the session
	xfbml      : true  // parse XFBML
	});

	// Additional initialization code here
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
			FB.login();
		} else {
			// the user isn't logged in to Facebook.
			FB.login();
		}
	});
	FB.api(<%= '\''+@friend.fbid+'/picture?type=large\'' %>, function(response) {
		// The response will literally just be the URL to the friend's profile picture
	});
	FB.api(<%= '\''+@friend.fbid+'?fields=cover\'' %>, function(response){
		if(response['cover']){
		   $('#friend-cover').css("background-image","url("+response['cover']['source']+")");
		} else {
		   $('#friend-cover').fadeOut();
		   $('#friend-information').animate({marginTop : -194}, "slow").css("width",400).css("overflow","hidden");
		}
	});
	};

	// Load the SDK Asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if(d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));

	$(document).ready(function () {
		$(".mini-share").click(function() {
			$(this).closest(".each-friend").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-friend").find('.share-artist').animate({right : 0}, "slow");
			 $(this).closest(".each-friend").find('.friend-info').fadeOut("normal");
		});
		$(".share-cancel").click(function() {
			$(this).closest(".each-friend").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-friend").find('.share-artist').animate({right : -202}, "slow");
			 $(this).closest(".each-friend").find('.friend-info').fadeIn("normal");
		});
		$(".each-friend .share-artist a li").click(function() {
			$(this).closest(".each-friend").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-friend").find('.share-artist').animate({right : -202}, "slow");
			 $(this).closest(".each-friend").find('.friend-info').fadeIn("normal");
		});
		totalheight = $("#friend-activity").height();
		friendheight = totalheight-13;
		if(friendheight < 500){
			friendheight = 500;
		}
		$("#friend-trkrs").css("height", friendheight );
		$("#friend-trkr-list").css("height", friendheight );

		function add_remove_friend_trkr_bind(){
			// Ajax track replacement
	    	$('a.friend-remove-trkr').bind('ajax:complete', function () {
	    	  console.log('Added tracker');
	    	  var artist_id = $(this).data('id');
	    	  $(this).replaceWith('<a href="/artists/'+artist_id+'/follows" class="friend-add-trkr" data-id="'+artist_id+'" data-method="post" data-remote="true" rel="nofollow"><div class="activity-trkr"><i class="icon-plus"></i></div></a>');
	    	  add_remove_friend_trkr_bind()
	    	});
	    	$('a.friend-add-trkr').bind('ajax:complete', function () {
	    	  console.log('Removed tracker');
	    	  var artist_id = $(this).data('id');
	    	  $(this).replaceWith('<a href="/artists/'+artist_id+'/unfollow" class="friend-remove-trkr" data-id="'+artist_id+'" data-method="post" data-remote="true" rel="nofollow"><div class="activity-trkr"><i class="icon-minus"></i></div></a>');
	    	  add_remove_friend_trkr_bind();
	    	});
	    };
	    add_remove_friend_trkr_bind();


	});
</script>