<% content_for :title do %>Friend: <%= @friend.first_name %> <%= @friend.last_name %><% end %>
<% content_for :description do %>Public profile page for your friend, <%= @friend.first_name %> <%= @friend.last_name %>. You can see when they last logged in, how many artists they are tracking and who they are tracking.<% end %>
<div class="content content-pad-160-bottom">
	<img id="friend-cover" />
	<div id="friend-info-top">
		<div class="left friend-info">
			<div id="friend-image"  style="background-image:url(<%= "//graph.facebook.com/"+@friend.fbid+"/picture?type=normal" %>);background-repeat:no-repeat;background-position:center;"></div>
			<div id="f-info">
				<h2><div class="font-15"><strong><%= @friend.first_name + " " + @friend.last_name %></strong></div></h2>
				<div class="orange-txt instruct-font">
					<%= @friend.following.count %> TRKINGS
				</div>
				Last logged in <%= (time_ago_in_words @friend.last_sign_in_at) rescue @friend.last_sign_in_at %> ago
			</div>
		</div>
		<div id="friend-trkr-search">
			<input type="text" id="filter" placeholder="Search friends TRKR's..."/>
			<div class="search right search-button"><%= image_tag "/images/white-search-2.png", :alt => "Search", :id => "search-pad" %></div>
		</div>
	</div>
	<div class="clear"></div>
	<ul>
  	<%= render :partial => 'users/activity', :collection => User.find(1).recent_activity %>
	</ul>
	<div class="friend-artists-outer friend-trkrs-nudge">
		<div class="friend-artists">
			<% if @friend.following.none? %>
				<div class="center-txt"><strong>It seems <%= @friend.first_name %> isn't tracking any artists yet...</strong></div>
				<% end %>
				<ul>
				
				<%= render :partial => 'shared/friend_artist_suggestion', :collection => @friend.following.ordered %>

			</ul>
		</div>
	</div>
	<script>
		window.fbAsyncInit = function() {
FB.init({
appId      : <%= '\''+FB_APP_ID+'\'' %>
	, // App ID
	channelUrl : '//localhost/channel.html', // Channel File
	status     : true, // check login status
	cookie     : true, // enable cookies to allow the server to access the session
	xfbml      : true  // parse XFBML
	});

	// Additional initialization code here
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
			FB.login();
		} else {
			// the user isn't logged in to Facebook.
			FB.login();
		}
	});
	FB.api(<%= '\''+@friend.fbid+'/picture?type=large\'' %>, function(response) {
		// The response will literally just be the URL to the friend's profile picture
	});
	FB.api(<%= '\''+@friend.fbid+'?fields=cover\'' %>, function(response){
	   $('#friend-cover').attr("src",response['cover']['source']);
	});
	};

	// Load the SDK Asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if(d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	</script>
