<% content_for :title do %>Your Timeline<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<div class="content content-pad-160">
</div>
</div>
<div id="timeline">
<ul class="release-list">
  <% @timeline[0..10].each do |release| %>
	<li class="left each-release" style="background-image:url(<%= release.image :release %>); background-position:center;">
	<div class="r-grad">
	<div class="release-info">
	<strong><span class="font-18"><%= release.name %></span></strong><br/>
	<%= link_to release.artist.name, release.artist %><br/>
	<span class="font-11"><%= release.label_name %></span>
		</div>
	<div class="release-menu font-13">
		<ul class="menu">
		<li class="left menu-item buy-release">Buy</li>
		<li class="left menu-item">Listen</li>
		<li class="left menu-item share-release">Share</li>
		</ul>
	</div>
	</div> <!-- r-grad -->
	<div class="opac-50"></div>
	<div id="share-release">
	<div class="signika-txt font-22 center-txt share-header">Share this track</div>
	<ul class="share-list">
	<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com%2F&t=SNGTRKR','Share SNGTRKR on Facebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><%= image_tag "/images/release-fb.png", :alt => "Facebook" %></li></a>
	<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com&text=<%= release.artist.name%>+&#45;+<%= release.name %>+released+on+<%= release.label_name %>.+Check+out+<%= release.artist.name %>+on+SNGTRKR+&#45;&via=SNGTRKR','Share SNGTRKR on Facebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><%= image_tag "/images/release-twit.png", :alt => "Twitter" %></li></a>
	<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com','Share SNGTRKR on Facebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><%= image_tag "/images/release-goo.png", :alt => "Google+" %></li></a>
	</ul>
	<div class="clear"></div>
	<div class="font-13 o-button norm-o-pad signika-font left share-cancel">Cancel</div>
	</div>
	<div id="buy-release">
	<div class="signika-txt font-22 center-txt buy-header">Buy this track</div>
	<ul class="buy-list">
	<li class="left"><%= image_tag "/images/release-it.png", :alt => "iTunes" %></li>
	<li class="left"><%= image_tag "/images/release-amaz.png", :alt => "Amazon" %></li>
	<li class="left"><%= image_tag "/images/release-7d.png", :alt => "7Digital" %></li>
	</ul>
	<div class="clear"></div>
	<div class="font-13 o-button norm-o-pad signika-font left buy-cancel">Cancel</div>
	</div>
	</li>
	<% end %>
</ul>
<div class="clear"></div>
<%= image_tag "/images/shadow-line.png", :id => 'shadow-top' %>
<%= image_tag "/images/shadow-line-bot.png", :id => 'shadow-bot' %>
</div>
<div class="content content-pad-160-bottom">
<script type="text/javascript">
	$(document).ready(function() {
		$(".share-release").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : -100}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeOut("normal");
			$(this).closest(".each-release").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : 0}, "slow");
		});
		$(".r-grad").mouseover(function(){
				$(this).closest(".each-release").find('.release-info').stop().animate({bottom : 33}, "slow");
				$(this).closest(".each-release").find('.release-menu').stop().animate({bottom : 0}, "slow");
			}).mouseout(function(){
				$(this).closest(".each-release").find('.release-info').stop().animate({bottom : 13}, "slow");
				$(this).closest(".each-release").find('.release-menu').stop().animate({bottom : -25}, "slow");
			});
		$(".share-cancel").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : -210}, "slow");
		});
		$(".buy-release").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : -100}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeOut("normal");
			$(this).closest(".each-release").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : 0}, "slow");
		});
		$(".buy-cancel").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : -210}, "slow");
		});
		$('#timeline').mousedown(function (event) {
            $(this)
                .data('down', true)
                .data('x', event.clientX)
                .data('scrollLeft', this.scrollLeft);
                
            return false;
        }).mouseup(function (event) {
            $(this).data('down', false);
        }).mousemove(function (event) {
            if ($(this).data('down') == true) {
                this.scrollLeft = $(this).data('scrollLeft') + $(this).data('x') - event.clientX;
            }
        }).mousewheel(function (event, delta) {
            this.scrollLeft -= (delta * 30);
        }).css({
            'overflow' : 'hidden',
            'cursor' : '-moz-grab'
        });
    });
    
    $(window).mouseout(function (event) {
        if ($('#timeline').data('down')) {
            try {
                if (event.originalTarget.nodeName == 'BODY' || event.originalTarget.nodeName == 'HTML') {
                    $('#timeline').data('down', false);
                }                
            } catch (e) {}
        }
		});
		</script>
