<% content_for :title do %>Your Timeline<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<style type="text/css">
#wrapper {
background:url("/images/grid2.png");
background-repeat:repeat;
}
</style>
<% content_for :timeline do %>
	<% if @timeline.empty? %>
		<%= render 'timeline/user_empty' %>
	<% else %>
			<ol class="release-list">
				<%= render :partial => 'timeline/release', :collection => @timeline %>
			</ol>
	<% end %>
<% end %>
<%= render 'timeline/timeline' %>

<script>
$(document).ready(function(){
	timeline_scroll();
});

function today_content(cycle){
	return '<li class="today today-'+cycle+'"><div class="joining-line"></div>Your Timeline <span><%= 
		Date.today.strftime("%B #{Date.today.day.ordinalize}") 
		%></span></li>'
}
function today(li){
	if($(li).hasClass('release-outer-even')){
		var cycle = "odd"
	} else {
		var cycle = "even"
	}
	$(li).after(today_content(cycle));
	$('html, body').animate({
         scrollTop: $(li).offset().top - 50
     }, 1000);
};
function today_first(){
	$('.release-list').prepend(today_content('even release-outer-first'));
}

$(document).ready(function(){
	timeline_setup();

	var first_date = new Date($($('.release-list li.release-outer')[0]).data('release-date'));
	if(first_date - new Date() < 0){
		console.log("Old releases:");
		today_first();
		return false;
	}

	var this_date, previous_date, todays_date = new Date();
	$('.release-list li.release-outer').each(function(index){
		previous_date = this_date;
		this_date = new Date($(this).data('release-date'));
		if(this_date - todays_date < 10000 && this_date - todays_date > -10000){
			console.log("Window: " + this_date);
			today($('.release-list li.release-outer')[index-1]);
			return false;
		};
		if(this_date < todays_date && previous_date > todays_date){
			console.log("Split: " + this_date);
			today($('.release-list li.release-outer')[index-1]);
			return false;
		};
	});

});
</script>