<% content_for :title do %>Your Timeline<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<div class="content content-pad-160">
</div>
</div>
<div id="timeline-outer">
<div id="timeline">
<%= image_tag "/images/timeline-left.png", :alt => "SNGTRKR", :id => "left-logo" %>
<div id="left-line"></div>
<ul class="release-list">
<%= render :partial => 'timeline/release', :collection => @timeline[0..10] %>
</ul>
<div class="clear"></div>
</div>
<%= image_tag "/images/shadow-line.png", :id => 'shadow-top' %>
<%= image_tag "/images/shadow-line-bot.png", :id => 'shadow-bot' %>
</div>
<div class="content content-pad-160-bottom">
<script type="text/javascript">
	$(document).ready(function() {
		$(".share-release").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : -100}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeOut("normal");
			$(this).closest(".each-release").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : 0}, "slow");
		});
		$(".r-grad").mouseover(function(){
				$(this).closest(".each-release").find('.release-info').stop().animate({bottom : 33}, "slow");
				$(this).closest(".each-release").find('.release-menu').stop().animate({bottom : 0}, "slow");
			}).mouseout(function(){
				$(this).closest(".each-release").find('.release-info').stop().animate({bottom : 13}, "slow");
				$(this).closest(".each-release").find('.release-menu').stop().animate({bottom : -25}, "slow");
			});
		$(".share-cancel").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : -210}, "slow");
		});
		$(".buy-release").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : -100}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeOut("normal");
			$(this).closest(".each-release").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : 0}, "slow");
		});
		$(".buy-cancel").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : -210}, "slow");
		});
		});
		</script>
		<script type="text/javascript" charset="utf-8">
$(document).ready(function () {        
        $('#timeline').mousedown(function (event) {
            $(this)
                .data('down', true)
                .data('x', event.clientX)
                .data('scrollLeft', this.scrollLeft);
                
            return false;
        }).mouseup(function (event) {
            $(this).data('down', false);
        }).mousemove(function (event) {
            if ($(this).data('down') == true) {
                this.scrollLeft = $(this).data('scrollLeft') + $(this).data('x') - event.clientX;
            }
        }).mousewheel(function (event, delta) {
            this.scrollLeft -= (delta * 30);
        }).css({
            'overflow' : 'hidden',
            'cursor' : '-moz-grab'
        });
    });
    
    $(window).mouseout(function (event) {
        if ($('#timeline').data('down')) {
            try {
                if (event.originalTarget.nodeName == 'BODY' || event.originalTarget.nodeName == 'HTML') {
                    $('#timeline').data('down', false);
                }                
            } catch (e) {}
        }
    });
        //mousewheel
        var stepsWidth = 0;
			var widths = new Array();
			$('.release-list .each-release').each(function(i) {
				var $step = $(this);
				widths[i] = stepsWidth;
				stepsWidth += $step.width();
			});
			$('.release-list').width(stepsWidth+220);
		</script>
