<% content_for :title do %>Your Timeline<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<div class="content content-pad-160">
</div>
</div>
<div id="timeline-outer">
<%= image_tag "/images/shadow-line.png", :id => 'shadow-top' %>
<div id="timelime-trim">
<div id="timeline">
<%= image_tag "/images/timeline-left.png", :alt => "SNGTRKR", :id => "left-logo" %>
<div id="left-line"></div>
<ul class="release-list">
<%= render :partial => 'timeline/release', :collection => @timeline %>
</ul>
<div class="clear"></div>
</div>
</div>
<%= image_tag "/images/shadow-line-bot.png", :id => 'shadow-bot' %>
</div>
<div class="content content-pad-160-bottom">

<script type="text/javascript">
		function timeline_widths(){
      // Width setting
      var stepsWidth = 0;
  		var widths = new Array();
  		$('.release-list .each-release').each(function(i) {
  			var $step = $(this);
  			widths[i] = stepsWidth;
  			stepsWidth += $step.width()+1;
  		});
  		return stepsWidth+220
		}
			$(document).ready(function() {
    // Scroll to end of timeline
    $("#timeline").scrollTo('max');

		$('.release-list').width(timeline_widths());
		var page = 2
    // Ajax scroll load
    $('#timeline').scroll(function(){
      if ($('#timeline').scrollLeft() < 10){
         console.log('Scrolled to end!');
         $.get('/users/me/timeline/'+page);
         page++;
      }
    });

    
		$(".share-release").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : -100}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeOut("normal");
			$(this).closest(".each-release").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : 0}, "slow");
		});
		$(".r-grad").mouseover(function(){
				$(this).closest(".each-release").find('.release-info').stop().animate({bottom : 33}, "slow");
				$(this).closest(".each-release").find('.release-menu').stop().animate({bottom : 0}, "slow");
			}).mouseout(function(){
				$(this).closest(".each-release").find('.release-info').stop().animate({bottom : 13}, "slow");
				$(this).closest(".each-release").find('.release-menu').stop().animate({bottom : -25}, "slow");
			});
		$(".share-cancel").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : -210}, "slow");
		});
		$(".sm-trigger").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#share-release').animate({right : -210}, "slow");
		});
		$(".buy-release").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : -100}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeOut("normal");
			$(this).closest(".each-release").find('.opac-50').fadeIn("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : 0}, "slow");
		});
		$(".buy-cancel").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : -210}, "slow");
		});
		$(".buy-trigger").click(function() {
			$(this).closest(".each-release").find('.release-info').animate({bottom : 13}, "slow");
			$(this).closest(".each-release").find('.release-menu').animate({bottom : -25}, "slow");
			$(this).closest(".each-release").find('.r-grad').fadeIn("normal");
			$(this).closest(".each-release").find('.opac-50').fadeOut("normal");
			$(this).closest(".each-release").find('#buy-release').animate({left : -210}, "slow");
		});
		$(".artist-list").carouFredSel({
    	circular: false,
    	infinite: false,
    	auto 	: false,
    	scroll	: {
    		items	: "page"
    	},
    	prev	: {	
    		button	: "#rel_prev",
    		key		: "left"
    	},
    	next	: { 
    		button	: "#rel_next",
    		key		: "right"
    	},
    });
    
    $('#timeline').mousedown(function (event) {
        $(this)
            .data('down', true)
            .data('x', event.clientX)
            .data('scrollLeft', this.scrollLeft);
            
        return false;
    }).mouseup(function (event) {
        $(this).data('down', false);
    }).mousemove(function (event) {
        if ($(this).data('down') == true) {
            this.scrollLeft = $(this).data('scrollLeft') + $(this).data('x') - event.clientX;
        }
    }).mousewheel(function (event, delta) { // MATT - COMMENTED OUT AS BROWSER WAS SAYING NO SUCH EVENT
        this.scrollLeft -= (delta * 30);
    }).css({
        'overflow' : 'hidden',
        'cursor' : '-moz-grab'
    });
  });
    
    $(window).mouseout(function (event) {
        if ($('#timeline').data('down')) {
            try {
                if (event.originalTarget.nodeName == 'BODY' || event.originalTarget.nodeName == 'HTML') {
                    $('#timeline').data('down', false);
                }                
            } catch (e) {}
        }
    });
    //mousewheel
		</script>
