<% content_for :title do %>Your Timeline<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<% content_for :extra_head do %> <%= javascript_include_tag "timeline" %> <% end %>
</div>
</div>
<div class="timeline-outer">
<%= image_tag "/images/shadow-line.png", :id => 'shadow-top' %>
<div id="timeline-trim">
<div id="timeline">
<% if @timeline.empty? %>
	<div id="timeline-empty">
		<h1>Oh dear...</h1>
		<p>Looks like you aren't tracking anyone yet, or the people you are tracking have no releases out. Why not search for an artist,
			or look through some recommended artists below...
		</p>
		<div class="row timeline-recommendations"><div class="span8">
			<ul id="ajax-recommended-artists">
  		<% if @user.suggested.count >= 4 %>
				<%= render :partial => 'shared/artist_suggestion', :collection => @user.suggested[0, 4] %>
    		<% else %>
      		<div class="loading load-timeline">
      		<h3>Please wait...</h3>
      		<%= image_tag "/images/loading.png", :id => "loading-icon" %><br/>
      		<p>...while we work our magic and find which artists you?ve already liked on Facebook.</p>
      		</div>		  
  		<% end %>
			</ul>
			<div class="clear"></div>
			</div></div>
	</div>
	<script>
		$(document).ready(function(){
		  	artist_suggestion_replace();
		})
	</script>
<% else %>
	<%= image_tag "/images/timeline-left.png", :alt => "SNGTRKR", :id => "left-logo" %>
	<div id="left-line"></div>
	<ul class="release-list">
	<%= render :partial => 'timeline/release', :collection => @timeline %>
	</ul>
<% end %>
<div class="clear"></div>
</div>
</div>
<%= image_tag "/images/shadow-line-bot.png", :id => 'shadow-bot' %>
</div>
<div class="wrapper2">
<div class="container">
