<% content_for :title do %>Your Timeline<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<div class="content content-pad-160">
</div>
</div>
<div id="timeline-outer">
<%= image_tag "/images/shadow-line.png", :id => 'shadow-top' %>
<div id="timelime-trim">
<div id="timeline">
<%= image_tag "/images/timeline-left.png", :alt => "SNGTRKR", :id => "left-logo" %>
<div id="left-line"></div>
<ul class="release-list">
<%= render :partial => 'timeline/release', :collection => @timeline %>
</ul>
<div class="clear"></div>
</div>
</div>
<%= image_tag "/images/shadow-line-bot.png", :id => 'shadow-bot' %>
</div>
<div class="content content-pad-160-bottom">
