<li class="each-friend" style="background-image:url(<%= friend_artist_suggestion.image.url :recommend %>);background-repeat:no-repeat;background-position:center;">
<div class="new-friend">
		<div class="black-tint"></div>
		<div class="instruct-font font-20 friend-info">
			<%= link_to friend_artist_suggestion.name, friend_artist_suggestion, :class => 'name'  %>
		</div>
		<div class="opac-50"></div>
		<div class="share-artist">
		<h5 class="signika-txt font-20 share-header">Share this artist</h5>
		<ul class="share-list">
		<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com<%= url_for friend_artist_suggestion %>						%2F&t=SNGTRKR','ShareSNGTRKRonFacebook','scrollbars=no,width=620,height=340'); return false;"><li class="left fb-icon sm-trigger fb-button"><i class="icon-facebook"></i></li></a>
		<a href="#" title="Share on Twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com&text=<%= friend_artist_suggestion.name %>+is		+using+SNGTRKR+to+keep+their+fans+up+to+date+with+releases.+Check+them+out+&#45;+www.sngtrkr.com<%= url_for friend_artist_suggestion 																	%>&via=SNGTRKR','ShareSNGTRKRonTwitter','scrollbars=no,width=620,height=340'); return false;"><li class="left twit-icon sm-trigger twitter-button"><i class="icon-twitter"></i></li></a>
		<a href="#" title="Share on Google Plus" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com<%= url_for friend_artist_suggestion 							%>','ShareSNGTRKRonGooglePlus','scrollbars=no,width=620,height=340'); return false;"><li class="left goo-icon sm-trigger google-button"><i class="icon-google-plus"></i></li></a>
		<div class="clear"></div>
		</ul>
		<div class="font-13 o-button norm-o-pad signika-font left share-cancel">Cancel</div>
		</div>
</div>
<div class="friend-trkr-buttons"><%= render :partial => 'shared/trk_artist', :object => friend_artist_suggestion %>
		<div class="mini-share"><i class="icon-share-alt"></i></div></div>
</li>
