<% if(user_signed_in?) %>
<%= link_to(destroy_user_session_path, :method => :delete) do %><div class="logout-button">Logout</div><% end %>
<a href="/users/me"><div class="p-head"><%= image_tag "/images/profile.png", :alt => "Profile", :id => "profile-pad" %></div></a>
<div id="feedback">
<div id="trigger">
<i class="icon-bullhorn"></i>
<span></span>
</div>
<div id="content">
	<p>
	We love feedback. Feel free to tell us what you think about the site or report a bug.
	</p>
	<%= form_for Feedback.new, :remote => true do |f| %>
	<%= f.text_area :feedback, :id => "fedbox", :class => "form-text", :rows => 4, :placeholder => "Tell us what you think..." %>
	<%= f.submit "Submit", :class => :left, :disable_with => 'Submitted!' %>
	<% end %>
	<div class="button cancel">Cancel</div>
	<div class="clear"></div>
</div>
</div>
<% elsif %>
<%= link_to(user_omniauth_authorize_path(:facebook)) do %>
<div class="fb-button fb-o-pad lucida-font font-13 fb-login"><i class="icon-facebook"></i><span class="login-txt">Login</span></div>
<%  end %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-login').click(function(){
    $('.login-txt').html('Logging in...');
  });
});

</script>