<div class="release hero_artist artist">
    <% @following.each do |artist_tracked| %>
          <div class="hero_image">
            <%= link_to artist_tracked, 'data-tracking' => 'true', 'data-tracking-category' => 'timeline', 'data-tracking-name' => 'user-timeline-hero-artist' do %>
              <div style="background-image:url(<%= artist_tracked.image.large.url %>);"></div>
              <div class="grad"></div>
            <% end %>
          </div>
          <div class="pop_releases timeline_artist">
            <% artist_tracked.related_releases.take(4).each do |release| %>
              <%= link_to image_tag(release.image.medium), [artist_tracked, release], 'data-tracking' => 'true', 'data-tracking-category' => 'timeline', 'data-tracking-name' => 'user-timeline-hero-release' %>
            <% end %>
          </div>
          <div class="info">
            <%= link_to artist_tracked, 'data-tracking' => 'true', 'data-tracking-category' => 'timeline', 'data-tracking-name' => 'user-timeline-hero-artist' do %><h2><%= artist_tracked.name %></h2><% end %>
            <h3><%= artist_tracked.label_name %></h3>
          </div>
          <div class="actions">
            <span class="act artist_tracker">
                <div></div>
                <%= pluralize artist_tracked.followers, "tracker" %>
            </span>
            <span class="act artist_release">
                <div></div>
                <%= pluralize artist_tracked.count_release, "release" %>
            </span>
            <span class="share_artist share act" id="<%= artist_tracked.id %>" data-tracking="true" data-tracking-category="timeline" data-tracking-name="user-timeline-hero-share">
              <i class="icon-share-alt"></i>
            </span>
          </div>
          <%= artist_popover artist_tracked %>
    <% end %>
</div>