<li class="release-outer left <%= cycle("odd", "even") -%>">
<div class=" each-release" style="background-image:url(<%= release.image :release %>); background-position:center;">
<div class="r-grad">
<div class="release-info">
<h2><strong><span class="font-18"><%= link_to release.name, [release.artist, release] %></span></strong></h2>
<h3><%= link_to release.artist.name, release.artist %></h3>
<span class="font-11"><%= release.label_name %></span>
	</div>
<div class="release-menu font-13">
	<ul class="menu">
	<li class="left menu-item buy-release">Buy</li>
	<li class="left menu-item">Listen</li>
	<li class="left menu-item share-release">Share</li>
	</ul>
</div>
</div> <!-- r-grad -->
<div class="opac-50"></div>
<div id="share-release">
<h5 class="signika-txt font-22 share-header">Share this track</h5>
<ul class="share-list">
<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com<%= url_for release.artist %>%2F&t=SNGTRKR','ShareSNGTRKRonFacebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><%= image_tag "/images/release-fb.png", :alt => "Facebook", :class => 'sm-trigger' %></li></a>
<a href="#" title="Share on Twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com&text=<%= release.artist.name%>+&#45;+<%= release.name %>+released+on+<%= release.label_name %>.+Check+out+<%= release.artist.name %>+on+SNGTRKR+&#45;+www.sngtrkr.com<%= url_for [release.artist, release] %>&via=SNGTRKR','ShareSNGTRKRonTwitter','scrollbars=no,width=620,height=340'); return false;"><li class="left"><%= image_tag "/images/release-twit.png", :alt => "Twitter", :class => 'sm-trigger' %></li></a>
<a href="#" title="Share on Google Plus" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com<%= url_for release.artist %>','ShareSNGTRKRonGooglePlus','scrollbars=no,width=620,height=340'); return false;"><li class="left"><%= image_tag "/images/release-goo.png", :alt => "Google+", :class => 'sm-trigger' %></li></a>
</ul>
<div class="clear"></div>
<div class="font-13 o-button norm-o-pad signika-font left share-cancel">Cancel</div>
</div>
<div id="buy-release">
<h5 class="signika-txt font-22 buy-header">Buy this track</h5>
<ul class="buy-list">
<li class="left"><%= image_tag "/images/release-it.png", :alt => "iTunes", :class => 'buy-trigger', :title => "iTunes" %></li>
<li class="left"><%= image_tag "/images/release-amaz.png", :alt => "Amazon", :class => 'buy-trigger', :title => "Amazon"  %></li>
<li class="left"><%= image_tag "/images/release-7d.png", :alt => "7Digital", :class => 'buy-trigger', :title => "7Digital"  %></li>
</ul>
<div class="clear"></div>
<div class="font-13 o-button norm-o-pad signika-font left buy-cancel">Cancel</div>
</div>
</div>
<div class="release-line"></div>
<% date_format ||= "%d/%m" %>
<% date_class ||= "font-20" %>
<div class="instruct-font <%= date_class %> release-date"><%= release.date.strftime(date_format)%></div>
<div class="release-join"></div>
</li>