<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Sign up free now to receive an exclusive beta release invite and get the latest updates. Login with Facebook to find artists you like. Listen to & buy tracks, with an easy to use timeline. Free notifications when artists release new tracks.<% end %>
<div class="row"><div class="span10 offset1">
<div class="row">
<div class="span5">
	<h1 class="home-header">Sign up free now to receive an exclusive BETA invite...</h1><br/>
	<p class="home-txt-1">We will be releasing invites in waves; the next wave will be <strong>23rd July</strong>. You will be notified when you can log in. </p>
	<div id="beta-form">
	<%= form_for(@beta_user) do |f| %>
      <%= f.text_field :email, :class => "required email form-text beta-input font-15", :placeholder => "Enter email address..." %>
      <%= f.submit "Sign Up", :id => "mc-embedded-subscribe", :class => "font-13" %>
       <% end %>
   </div>
</div>
<div class="span5">
	<%= image_tag "/images/macbook.png", :alt => "Macbook", :id => "home-macbook" %>
</div></div>
<div class="row">
<div class="span10">
<ul id="home-points">
	<li><h2>Find artists you like</h2>
	<p>SNGTRKR intuitively recognises which artists you've liked on Facebook, and supplies you with recommendations to build up your tracked artists.</p>
	<%= image_tag "/images/home1.png", :alt => 'Recommendations', :id => 'home1' %></li>
	<li><h2>Keep up to date</h2>
	<p>Stay in the loop with <strong>your personalised timeline</strong> of artist releases, old and new. We'll email you whenever an artist you follow releases a new album or single.</p>
	<%= image_tag "/images/home3.png", :alt => 'Timeline', :id => 'home3' %></li>
	<li><h2>Discover new music</h2>
	<p>Looking to expand your music library? SNGTRKR makes it easy to discover new music with user ratings, track previews, similar artists and purchase links.</p>
	<%= image_tag "/images/home2.png", :alt => 'Music', :id => 'home2' %></li>
<div class="clear"></div>
</ul>
</div></div></div></div>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-home-login').click(function(){ $('.fb-home-login > span').html('Logging in...'); }); });
</script>