<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Login with Facebook to find artists you like. Listen to & buy tracks, with an easy to use timeline. Free notifications when artists release new tracks.<% end %>
<% if(user_signed_in?) %>
<% elsif %>
<div class="content content-pad-bottom">
	<h2 class="signika-txt home-white-header font-35">Track your favourite artists and never miss another release...</h2>
	<div id="big-search">
		<%= form_tag artists_path , :method => 'get' do %>
		<%= text_field_tag(:search, nil, :placeholder => 'Which artist are you looking for?') %> <%= image_tag "/images/search-35.png", :alt => "Search", :class => "search-35 right" %>
		<% end %>
	</div>
	<div class="clear"></div>
	<div class="how-to-box">
		<div class="each-box box-pad left">
			<div class="how-to-txt">
				Login with facebook to find artists you like.
			</div><%= image_tag "/images/f-people.png", :alt => "Login", :class => "how-image-nudge" %>
		</div>
		<div class="each-box box-pad left">
			<div class="how-to-txt">
				Listen to & buy tracks, with an easy to use timeline.
			</div><%= image_tag "/images/gears.png", :alt => "Listen", :class => "how-image-nudge" %>
		</div>
		<div class="each-box left">
			<div class="how-to-txt">
				Free notifications when artists release new tracks.
			</div><%= image_tag "/images/calendar.png", :alt => "Notifications", :class => "how-image-nudge" %>
		</div>
	</div>
	<div class="clear"></div>
<% end %>
