<% content_for :og_name, "Track your favourite artists and never miss another release..."
content_for :og_url, request.url
content_for :og_image, File.join(root_url , "/images/icon.png")
content_for :og_description, "Login with Facebook to find artists you like. Listen to & buy tracks, with an easy to use timeline. Free notifications when artists release new tracks."
content_for :og_type, "website"
%>
<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Login with Facebook to find artists you like. Listen to & buy tracks, with an easy to use timeline. Free notifications when artists release new tracks.<% end %>
<div class="row"><div class="span12">
<div class="row">
	<div class="span5">
		<h1 class="home-header">Track your favourite artists and never miss another release...</h1>
		<p class="home-txt-1">Get notified whenever the artists you love release new music, and see it all in your own personalised timeline. 
			<strong>SNGTRKR</strong> is the perfect tool for DJs and music fanatics alike.</p>
		<%= link_to(user_omniauth_authorize_path(:facebook)) do %>
		<div class="fb-home-login"><i class="icon-facebook"></i><span>Login with Facebook</span></div>
		<% end %>
	</div>
	<div class="span7">
		<%= image_tag "/images/home.png", :alt => "Macbook", :id => "home-macbook" %>
	</div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js" ></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
	});
</script>
<div class="row"><div class="span12">

<%= render "releases/featured" %>
<div class="row">
<div class="span12">
<div id="home-points">
	<div class="row">
	<div class="span4">
	<h2>Find artists you like</h2>
	<p>SNGTRKR intuitively recognises which artists you've liked on Facebook, and supplies you with recommendations to build up your tracked artists.</p>
	<%= image_tag "/images/home1.png", :alt => 'Recommendations', :id => 'home1' %></div>
	<div class="span4"><h2>Keep up to date</h2>
	<p>Stay in the loop with <strong>your personalised timeline</strong> of artist releases, old and new. We'll email you whenever an artist you follow releases a new album or single.</p>
	<%= image_tag "/images/home3.png", :alt => 'Timeline', :id => 'home3' %></div>
	<div class="span4 discover"><h2>Discover new music</h2>
	<p>Looking to expand your music library? SNGTRKR makes it easy to discover new music with user ratings, track previews, similar artists and purchase links.</p>
	<%= image_tag "/images/home2.png", :alt => 'Music', :id => 'home2' %></div>
<div class="clear"></div>
	</div></div>
</div>
</div>
</div>
</div>



</div></div>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-home-login').click(function(){ $('.fb-home-login > span').html('Logging in...'); $(this).addClass('fb-disabled'); }); 
  
  });
</script>