<% content_for :og_name, "Please login to gain access to more exciting features..."
content_for :og_url, request.url
content_for :og_image, File.join(root_url , "/images/icon.png")
content_for :og_type, "website"
%>
<% content_for :title do %>Please login to gain access to more exciting features...<% end %>

<h1>Login</h1>

<%= link_to(user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-fb-large btn-large") do %>
    <div class="icon"><span></span><i class="icon-facebook"></i></div><div class="divider"></div>Sign in with Facebook
<% end %>

<%= form_for(resource, :validate => true, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <% if devise_mapping.rememberable? -%>
	    <%= f.label :remember_me, :class => "checkbox" do %><%= f.check_box :remember_me %>Remember me<% end %>
	  <% end -%>

	  <%= f.submit "Login", :class =>'btn' %>
<% end %>

<a data-target="#forgot_password" data-toggle="modal" class="forgot_pass">Forgot password?</a>
