<script><%= content_for :fb_js do %>
	console.log("Including facebook script in content_for");
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			// TODO: FLASH LOGIN CODE HERE
			window.location.replace('<%= File.join(root_url, user_omniauth_authorize_path(:facebook)) %>');
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
		} else {
			// the user isn't logged in to Facebook.
		}
	});

<% end %></script>
<%= render 'shared/fb_async' %>
<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Sign up free now to receive an exclusive beta release invite and get the latest updates. Quickly find and track artists you already like, with Facebook integration.<% end %>
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div>
	<%= f.label :email %>
	<br />
	<%= f.email_field :email %>
</div>

<div>
	<%= f.label :password %>
	<br />
	<%= f.password_field :password %>
</div>

<% if devise_mapping.rememberable? -%>
<div>
	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
</div>
<% end -%>

<div>
	<%= f.submit "Sign in" %>
</div>
<% end %>

<%= render "links" %>
