<script><%= content_for :fb_js do %>
	console.log("Including facebook script in content_for");
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			$('.login-txt').html('Logging in...');
			window.location.replace('<%= File.join(root_url, user_omniauth_authorize_path(:facebook)) %>');
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
		} else {
			// the user isn't logged in to Facebook.
		}
	});

<% end %></script>
<%= render 'shared/fb_async' %>
<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Sign up free now to receive an exclusive beta release invite and get the latest updates. Quickly find and track artists you already like, with Facebook integration.<% end %>
<% content_for :title do %>Internal Server Error - ERROR 403<% end %>
<div class="content content-pad-115-bottom">
<div id="content-home">
<div class="home-left left">
	<h2 class="signika-txt home-white-header font-35">Please login to gain access to more exciting features...</h2><br/>
	<div class="font-14 home-txt-1">Keep up to date with your favourite artists, and discover a new and exciting way to find music online.</div><br/>
	<%= link_to(user_omniauth_authorize_path(:facebook)) do %>
	<div class="left fb-button fb-o-pad lucida-font font-logout fb-home-login"><i class="icon-facebook"></i><span class="home-login-txt">Login with Facebook</span></div>
	<% end %>
</div>
<div class="home-right right">
<%= image_tag "/images/macbook.png", :alt => "Macbook", :id => "macbook" %>
</div>
</div>
<div class="clear"></div>
<div id="home-points">
<ul>
<li class="left"><h3 class="signika-txt font-25 home-titles">Find artists you like</h3><br/>
<div class="font-13">SNGTRKR intuitively recognises which artists you've liked on Facebook, and supplies you with recommendations to build up your TRK'd artists.</div>
<%= image_tag "/images/home1.png", :alt => 'Recommendations', :id => 'home1' %></li>
<li class="left"><h3 class="signika-txt font-25 home-titles">Discover new music</h3><br/>
<div class="font-13">Looking to expand your music library? SNGTRKR makes it fun and exciting to discover new music with track previews, recommendations and purchase links.</div>
<%= image_tag "/images/home2.png", :alt => 'Music', :id => 'home2' %></li>
<li class="left"><h3 class="signika-txt font-25 home-titles">Keep up to date</h3><br/>
<div class="font-13">Stay in the loop with your personalised timeline of artist releases, old and new. Alongside regular notifications straight to your inbox.</div>
<%= image_tag "/images/home3.png", :alt => 'Timeline', :id => 'home3' %></li>
</ul>
</div>
<div class="clear"></div>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-home-login').click(function(){
    $('.home-login-txt').html('Logging in...');
  });
});

</script>
     <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div>
<%= f.label :email %>
<br />
<%= f.email_field :email %>
</div>
<div>
<%= f.label :password %>
<br />
<%= f.password_field :password %>	
</div>
<% if devise_mapping.rememberable? -%>
<div>
<%= f.check_box :remember_me %> <%= f.label :remember_me %>
</div>
<% end -%>	
<div>	
<%= f.submit "Sign in" %>
</div>
<% end %>
