<script><%= content_for :fb_js do %>
	console.log("Including facebook script in content_for");
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			$('.login-txt').html('Logging in...');
			window.location.replace('<%= File.join(root_url, user_omniauth_authorize_path(:facebook)) %>');
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
		} else {
			// the user isn't logged in to Facebook.
		}
	});

<% end %></script>
<%= render 'shared/fb_async' %>
<% content_for :og_name, "Please login to gain access to more exciting features..."
content_for :og_url, request.url
content_for :og_image, File.join(root_url , "/images/icon.png")
content_for :og_description, "Sign up free now to receive an exclusive beta release invite and get the latest updates. Quickly find and track artists you already like, with Facebook integration."
content_for :og_type, "website"
%>
<% content_for :title do %>Please login to gain access to more exciting features...<% end %>
<% content_for :description do %>Sign up free now to receive an exclusive beta release invite and get the latest updates. Quickly find and track artists you already like, with Facebook integration.<% end %>
<div class="row"><div class="span10 offset1">
<div class="row">
<div class="span5">
	<h1 class="home-header">Please login to gain access to more exciting features...</h1>
	<p class="home-txt-1">Keep up to date with your favourite artists, and discover a new and exciting way to find music online.</p>
	<%= link_to(user_omniauth_authorize_path(:facebook)) do %>
	<div class="fb-home-login"><i class="icon-facebook"></i><span>Login with Facebook</span></div>
	<% end %>
</div>
<div class="span5">
	<%= image_tag "/images/macbook.png", :alt => "Macbook", :id => "home-macbook" %>
</div></div>
<div class="row">
<div class="span10">
<ul id="home-points">
	<li><h2>Find artists you like</h2><br/>
	<div>SNGTRKR intuitively recognises which artists you've liked on Facebook, and supplies you with recommendations to build up your TRK'd artists.</div>
	<%= image_tag "/images/home1.png", :alt => 'Recommendations', :id => 'home1' %></li>
	<li><h2>Discover new music</h2><br/>
	<div>Looking to expand your music library? SNGTRKR makes it fun and exciting to discover new music with track previews, recommendations and purchase links.</div>
	<%= image_tag "/images/home2.png", :alt => 'Music', :id => 'home2' %></li>
	<li><h2>Keep up to date</h2><br/>
	<div>Stay in the loop with your personalised timeline of artist releases, old and new. Alongside regular notifications straight to your inbox.</div>
	<%= image_tag "/images/home3.png", :alt => 'Timeline', :id => 'home3' %></li>
<div class="clear"></div>
</ul>
</div></div></div></div>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-home-login').click(function(){ $('.fb-home-login > span').html('Logging in...'); $(this).addClass('fb-disabled'); }); });
</script>
