<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feedback %><br />
    <%= f.text_area :feedback %>
    <%= f.hidden_field :url, :value => "http://#{request.host+request.fullpath}" %>
  </div>
  <div class="actions">
    <%= f.submit "Leave Feedback" %>
  </div>
<% end %>
