<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Please report any errors you have spotted.</p>
  <div class="field">
    <%= f.text_area :feedback, :rows => 5 %>
    <%= f.hidden_field :url, :value => "http://#{request.host}:#{request.port}#{request.fullpath}" %>
  </div>
  <div class="actions">
    <%= f.submit "Leave Feedback", :class => 'left', :style => "margin-right:15px " %> 
    <%= link_to 'Cancel', '#', :class => 'left button', :id => "report-release-cancel" %>
  </div>
<% end %>
