<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @feedback.user.email %>
</p>

<p>
  <b>Feedback:</b>
  <%= @feedback.feedback %>
</p>

<p>
  <b>Url:</b>
  <%= @feedback.url %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
