<html>
<head>
	<style type="text/css">
		html, body{ width:100%; margin-top: 0px !important; padding-top: 0px !important; }
		body{ background-color:#FEFEFE; margin-top: 0px !important; padding-top: 0px !important; font-family:arial; }
		table{ margin-top: 0px !important; padding-top: 0px !important;font-size:13px !important;line-height:1.4em; }
	</style>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title></title>
</head><body style="margin:0; padding:0; width:100%; background-color:#FEFEFE; margin-top:0px; margin-left:0px;" ><table width="100%" cellspacing="0" cellpadding="0" align="center" style="border-collapse: collapse; border-spacing: 0px; border: 0px none; margin: 0px 0px 0px; padding: 0px; background-color:#FEFEFE;">
	<tbody>
		<tr align="center" style="border-collapse: collapse; border-spacing: 0px; border: 0px none;">
			<td valign="top" align="center" style="border-collapse: collapse; border-spacing: 0px; border: 0px none;">
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse; border-spacing: 0px; border: 0px none; margin: 0px; padding: 0px;">
					<tbody>
							<tr align="left" style="border-collapse: collapse; border-spacing: 0px; border: 0px none;">
								<td width="600">
									<table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0px; border: 0px none;">
										<tbody>
											<tr align="left" style="border-collapse: collapse; border-spacing: 0px; border: 0px none;">
												<td width="600">
													<table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0px; border: 0px none;">
														<tbody>
															<tr style="border-collapse: collapse; border-spacing: 0px; border:0; height: 20px;"><td width="600" valign="top" height="20" align="left" style="background-color:#FEFEFE;"><img width="1" height="20" style="display: block; padding: 0px; line-height: 1; border:0;  opacity:0;" src="<%= @domain %>/images/email/clear.gif" alt=""></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
	</tbody>
</table>
<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;border-spacing: 0;border: 0; margin:0; padding:0; margin-top:0px; background-color:#FEFEFE;" ><tr align="center" style="border-collapse: collapse;border-spacing: 0;border: 0;">
						<td align="center" valign="top" style="border-collapse: collapse;border-spacing: 0;border: 0;">
							<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0; margin:0; padding:0;">
								<tbody>
										<tr align="left" style="border-collapse: collapse;border-spacing: 0;border: 0;">
		<td width="600" >
			<table  width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0;">
				<tbody>
					<tr style="border-collapse: collapse;border-spacing: 0;border: 0;"><td width="600" align="left" valign="top" >
	<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0; margin:0; padding:0;">
		<tbody>
				<tr align="left" style="border-collapse: collapse;border-spacing: 0;border: 0;">
		<td width="600" >
			<table  width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0;">
				<tbody>
					<tr style="border-collapse: collapse;border-spacing: 0;border: 0;"><td width="12" align="left" valign="top" style="background-color:#51aecb;" height="52" ></td>
<td  width="147" height="52" align="left" valign="top" style="  " >
	
	<a href="http://www.sngtrkr.com" target="_blank" style="display:block; border:none; height:52px;  text-decoration:none; font-size:0px; padding:0; margin:0; border:none;" >
			<img alt="SNGTRKR" height="52" src="<%= @domain %>/images/email/image-114848-223963.jpg" style="display:block; padding:0; line-height:1; border:0;" width="147" />
</a>
</td>
<td width="286" align="left" valign="top" style="background-color:#51aecb;" height="52" ></td>
<td  width="28" height="52" align="left" valign="top" style="  " >
	
	<a href="https://www.facebook.com/sngtrkr" target="_blank" style="display:block; border:none; height:52px;  text-decoration:none; font-size:0px; padding:0; margin:0; border:none;" >
			<img alt="Facebook" height="52" src="<%= @domain %>/images/email/image-114848-223923.jpg" style="display:block; padding:0; line-height:1; border:0;" width="28" />
</a>
</td>
<td width="20" align="left" valign="top" style="background-color:#51aecb;" height="52" ></td>
<td  width="46" height="52" align="left" valign="top" style="  " >
	
	<a href="https://twitter.com/sngtrkr" target="_blank" style="display:block; border:none; height:52px;  text-decoration:none; font-size:0px; padding:0; margin:0; border:none;" >
			<img alt="Twitter" height="52" src="<%= @domain %>/images/email/image-114848-223925.jpg" style="display:block; padding:0; line-height:1; border:0;" width="46" />
</a>
</td>
<td width="22" align="left" valign="top" style="background-color:#51aecb;" height="52" ></td>
<td  width="27" height="52" align="left" valign="top" style="background-color:#FEFEFE;  " >
	
	<a href="https://plus.google.com/111951759053908858363/posts" target="_blank" style="display:block; border:none; height:52px;  text-decoration:none; font-size:0px; padding:0; margin:0; border:none;" >
			<img alt="Google+" height="52" src="<%= @domain %>/images/email/image-114848-223927.jpg" style="display:block; padding:0; line-height:1; border:0;" width="27" />
</a>
</td>
<td width="12" align="left" valign="top" style="background-color:#51aecb;" height="52" ></td>
</tr>					
				</tbody>
			</table>
		</td>
  </tr>

		</tbody>
	</table>
</td>
</tr>					
				</tbody>
			</table>
		</td>
  </tr>
	<tr align="left" style="border-collapse: collapse;border-spacing: 0;border: 0;">
		<td width="600" >
			<table  width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0;">
				<tbody>
					<tr style="border-collapse: collapse;border-spacing: 0;border: 0;"><td width="600" align="left" valign="top" >
	<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0; margin:0; padding:0;">
		<tbody>
				<tr align="left" style="border-collapse: collapse;border-spacing: 0;border: 0;">
		<td width="600" >
			<table  width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0;">
				<tbody>
					<tr style="border-collapse: collapse;border-spacing: 0;border: 0;"><td width="12" align="left" valign="top" style="background-color:#Fff;" height="14" ></td>
<td width="576" align="left" valign="top" style="background-color:#Fff;" height="14" ></td>
<td width="12" align="left" valign="top" style="background-color:#Fff;" height="14" ></td>
</tr>					
				</tbody>
			</table>
		</td>
  </tr>
	<tr align="left" style="border-collapse: collapse;border-spacing: 0;border: 0;">
		<td width="600" >
			<table  width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0;">
				<tbody>
					<tr style="border-collapse: collapse;border-spacing: 0;border: 0;"><td width="12" align="left" valign="top" style="background-color:#Fff;" height="206" ></td>
<td width="576" align="left" valign="top" style="background-color:#fff;" height="206" ><span style="font-size: 24px;font-weight:bold;">Hello <%= @user.first_name %>,</span><br /><br />
	
<b>Please confirm your SNGTRKR email address.</b><br /><br />

To confirm <%= @user.email %>, click this link:<br /><br />

<%= link_to 'Confirm email address', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :style => "color: #F15A24;font-weight: normal;text-decoration: underline;" %><br /><br />

Once you confirm, all future email from SNGTRKR will be sent to this address.<br /><br />

Regards<br />
<strong>The SNGTRKR Team</strong><br />
<br /></td>
<td width="12" align="left" valign="top" style="background-color:#Fff;" height="206" ></td>
</tr>					
				</tbody>
			</table>
		</td>
  </tr>
	<tr align="left" style="border-collapse: collapse;border-spacing: 0;border: 0;">
		<td width="600" >
			<table  width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;border-spacing: 0;border: 0;">
				<tbody>
					<tr style="border-collapse: collapse;border-spacing: 0;border: 0;"><td width="12" align="left" valign="top" style="background-color:#333;" height="42" ></td>
<td width="576" align="left" valign="top" style="background-color:#333;padding-top:2px;" height="42" ><span style="color:#fff;font-size:11px;">If you received this message in error and did not try to change your account email, please contact <a href="http://sngtrkr.com" style="color: #F15A24;font-weight: normal;text-decoration: underline;">support@sngtrkr.com</a></span></td>
<td width="12" align="left" valign="top" style="background-color:#333;" height="42" ></td>
</tr>					
				</tbody>
			</table>
		</td>
  </tr>

		</tbody>
	</table>
</td>
</tr>					
				</tbody>
			</table>
		</td>
  </tr>

								</tbody>
							</table>
						</td>
					</tr>
			</table>
  </body>
</html>


