<div class="row">
	<div class="span24">
		<div id="featured" >
			 <ul class="ui-tabs-nav">
			  	<% @latest_releases.each_with_index do |release, i| %>
		        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-<%= (i+1) %>">
		        	<a href="#fragment-<%= (i+1) %>" <% if release == @latest_releases.first %> id="arrow-first" 
		        		<% elsif release == @latest_releases.last %> id="arrow-last" <% end %>>
		        	<h3><%= truncate release.artist.name, :length => 30 %> - <%= truncate release.name, :length => 25 %></h3>
		        	<p>Released on <%= release.date.strftime("#{release.date.day.ordinalize} %B") %></p>
			        </a>
			    </li>
		        <% end %>
		     </ul>

		    <% @latest_releases.each_with_index do |release, i| %>
		    <!-- <%= (i+1).ordinalize %> Content -->
		    <% if i==0 then c = "ui-tabs-panel" else c = "ui-tabs-panel ui-tabs-hide" end %>
		    <div id="fragment-<%= (i+1) %>" class="<%= c %>" style="">
			    <div class="release" style="background-image:url(<%= release.image :release_i %>);"></div>
				<div class="artist" style="background-image:url(<%= release.artist.image %>);">
					<div class="info" >
					<h4><%= link_to "#{truncate release.artist.name, :length => 30} - #{truncate release.name, :length => 25}", [release.artist, release] %></h4>
					<p>Released on <%= release.date.strftime("#{release.date.day.ordinalize} %B") %>
						<% if release.label_name? %>
							on <%= release.label_name %>
						<% end %>
					</p>
				 </div>
				</div>			 
		    </div>
		    <% end %>
		</div>
	</div>
</div>