<% content_for :title do %>New release for <%= @artist.name %><% end %>
<% content_for :description do %>Adding a new music release for <%= @artist.name %>, so their fans can track, listen to and buy.<% end %>
<div class="content content-pad-160-bottom">
	<div id="master-form-wrapper">
		<h2 class="signika-txt top-header font-35 add-release-header">Add new release</h2>
		<div id="new-release-form">
			<div id="steps">
			  <%= form_for [@artist, Release.new] do |f| %>
<span id="fields">
					<fieldset class="step">
						<div class="step-back new-avail-step">
							<div class="step-left left">
								<ul>
									<li>
										<label for="itunes"><strong>iTunes link</strong></label>
          					<%= f.text_field :itunes, :class => 'form-text' %>
									</li>
									<li>
										<label for="amazon"><strong>Amazon link</strong></label>
          					<%= f.text_field :amazon, :class => 'form-text' %>
									</li>
									<li>
										<label for="7digi"><strong>7Digital link</strong></label>
          					<%= f.text_field :sdigital, :class => 'form-text' %>
									</li>
								</ul>
							</div>
							<div class="step-right right">
								Add the purchase URLs for your release, then we will work our magic and try to get as much info on the release from these sources.
								<br/>
								<br/>
								<strong>If your track has yet to be released on these music outlets, or you are not planning to, then please ignore this section.</strong>
							</div>
							<div id="avail-line"></div>
							<div class="clear"></div>
						</div>
					</fieldset>
					<fieldset class="step">
						<div class="step-back new-details-step">
							<div class="step-left left">
								<ul>
									<li>
										<label for="t-name"><strong>Release Name</strong></label>
          					<%= f.text_field :name, :class => 'form-text fvalidate' %>
									</li>
									<li>
										<label for="r-date"><strong>Release Date</strong></label>
          					<%= f.datepicker :date, :class => 'form-text' %>
									</li>
									<li>
										<label for="cat-no"><strong>Catalogue Number</strong></label>
          					<%= f.text_field :cat_no, :class => 'form-text fvalidate' %>
									</li>
									<li>
										<label for="rls_type" class="type-pad"><strong>Type</strong></label>
          					<%= f.select :rls_type, {'Single' => 0, 'Album' => 1}, :options => [:class => 'form-text'] %>
									</li>
									<li>
										<label for="label"><strong>Label</strong></label>
          					<%= f.text_field :label_name, :class => 'form-text fvalidate' %>
									</li>
								</ul>
							</div>
							<div class="step-right right">
								Here is the information we have managed to gather from the links you supplied. Please check this information, by completing any missing or incorrect fields.
								<br/>
								<br/>
								If you wish to submit an album release, further options will be made available once you specify the release type.
								<br/>
								<br/>
								<strong>All fields required.</strong>
							</div>
							<div id="details-line"></div>
							<div class="clear"></div>
						</div>
					</fieldset>
					<fieldset class="step">
						<div class="step-back new-artwork-step">
							<div class="step-left left">
								<label for="file_browser"><strong>Artwork:</strong></label>
								<br/>
								<br/>								
                <%= f.file_field 'image' %>
							</div>
							<div class="step-right right">
								Please upload the artwork related to the release you are submitting.
								<br/>
								<br/>
								The artwork needs to be at least 350px height/width and can be no bigger than 1MB in file size.
								<br/>
								<br/>
								<strong>You are required to supply artwork.</strong>
								<br/>
								<br/>
								<div class="default-button">
									<div class="o-button norm-o-pad right signika-font font-13">
										Restore to default
									</div>
								</div>
							</div>
							<div id="artwork-line"></div>
							<div class="clear"></div>
						</div>
					</fieldset>
					<fieldset class="step">
						<div class="step-back new-summary-step">
							<div class="step-left left">
								<ul id="release-summary">
									<li>
										<strong>Release Name:</strong> <span id="name"></span>
									</li>
									<li>
										<strong>Release Date:</strong> <span id="date"></span>
									</li>
									<li>
										<strong>Catalogue Number:</strong> <span id="cat"></span>
									</li>
									<li>
										<strong>Type:</strong> <span id="type"></span>
									</li>
									<li>
										<strong>Label:</strong> <span id="label"></span>
									</li>
									<li>
										<strong>iTunes Link:</strong> <span id="itunes"></span>
									</li>
									<li>
										<strong>Amazon Link:</strong> <span id="amazon"></span>
									</li>
									<li>
										<strong>7Digital Link:</strong> <span id="7d"></span>
									</li>
								</ul>
							</div>
							<div class="step-right right">
								Here is a summary of all the information you have entered for your release. Please read over and check everything.
								<br/>
								<br/>
								If you wish to change anything, please use the menu below to return to previous stages. You will still be able to edit the information on your release,
								even after you submit it.
								<br/>
								<br/>
								<strong>If you would like more information on how to mange your releases, please visit our help page.</strong>
								<br/>
								<br/>
								<div id="submit-pad">
							<div class="o-button right norm-o-pad signika-font">
      					<%= f.submit 'Add Release', :class => 'new_submit' %>
							</div>
						</div>
								
							</div>
							<div id="summary-line"></div>
						</div>
						
					</fieldset>
			</span>   <!-- end of fields -->
			  			<% end %>
			</div> <!-- end of steps -->
			<div id="navigation" style="display:none;">
				<ul>
					<li class="selected signika-font o-button norm-o-pad">
						<a href="#" class="new-avail"><h3>1. Availability</h3><div class="white-tint"></div></a>
					</li>
					<li class="signika-font o-button norm-o-pad">
						<a href="#" class="new-details"><h3>2. Details</h3><div class="white-tint-2"></div></a>
					</li>
					<li class="signika-font o-button norm-o-pad">
						<a href="#" class="new-artwork"><h3>3. Artwork</h3><div class="white-tint-3"></div></a>
					</li>
					<li class="signika-font o-button norm-o-pad">
						<a href="#" class="new-summary"><h3>4. Summary</h3><div class="white-tint-4"></div></a>
					</li>
				</ul>
			</div>
<div id="progress-bar">
				<div class="progress o-button">
					<div class="percent instruct-font">25%</div>
				</div></div>
		</div> <!-- end of #new-release-form -->
		<%= image_tag "/images/f-bulge-left.png", :alt => "Shadow", :id => "bulge-left" %>
		<%= image_tag "/images/f-bulge-right.png", :alt => "Shadow", :id => "bulge-right" %>
	</div> <!-- end of master wrapper -->
	<script type="text/javascript">
		$(document).ready(function() {
			$(".new-avail").click(function() {
				$(".step-back").animate({
					height : 151
				}, "slow");
				$(".step").animate({
					height : 239
				}, "slow");
				$(".progress").animate({
					width : 65
				}, "slow");
				$('#bulge-left').animate({
					height : 329
				}, "slow");
				$('#bulge-left').animate({
					width : 27
				}, 10);
				$('#bulge-right').animate({
					height : 329
				}, "slow");
				$('#bulge-right').animate({
					width : 27
				}, 10);
				$('.percent').html('25%');
				$('.white-tint').hide();
				$('.white-tint-2').show();
				$('.white-tint-3').show();
				$('.white-tint-4').show();
			});
			$(".new-details").click(function() {
				$(".step-back").animate({
					height : 190
				}, "slow");
				$(".step").animate({
					height : 278
				}, "slow");
				$(".progress").animate({
					width : 130
				}, "slow");
				$('#bulge-left').animate({
					height : 372
				}, "slow");
				$('#bulge-left').animate({
					width : 27
				}, 10);
				$('#bulge-right').animate({
					height : 372
				}, "slow");
				$('#bulge-right').animate({
					width : 27
				}, 10);
				$('.percent').html('50%');
				$('.white-tint-2').hide();
				$('.white-tint').show();
				$('.white-tint-3').show();
				$('.white-tint-4').show();
			});
			$(".new-artwork").click(function() {
				$(".step-back").animate({
					height : 187
				}, "slow");
				$(".step").animate({
					height : 275
				}, "slow");
				$(".progress").animate({
					width : 195
				}, "slow");
				$('.percent').html('75%');
				$('.white-tint-3').hide();
				$('.white-tint-2').show();
				$('.white-tint').show();
				$('.white-tint-4').show();
			});
			$(".new-summary").click(function() {
				$(".step-back").animate({
					height : 266
				}, "slow");
				$(".step").animate({
					height : 354
				}, "slow");
				$(".progress").animate({
					width : 265
				}, "slow");
				$('#bulge-left').animate({
					height : 434
				}, "slow");
				$('#bulge-left').animate({
					width : 27
				}, 10);
				$('#bulge-right').animate({
					height : 434
				}, "slow");
				$('#bulge-right').animate({
					width : 27
				}, 10);
				$('.percent').html('100%');
				$('.white-tint-4').hide();
				$('.white-tint-2').show();
				$('.white-tint').show();
				$('.white-tint-3').show();
				// If else for type value
				var valueType = $('#release_rls_type').val();
				if(valueType == 0){
				releaseType = 'Single';			
				} else 
				releaseType = 'Album';
				// Fill in summary info
			$('#release-summary #name').html($('#release_name').val());
			$('#release-summary #date').html($('#release_date').val());
			$('#release-summary #cat').html($('#release_cat_no').val());
			$('#release-summary #type').html(releaseType);
			$('#release-summary #label').html($('#release_label_name').val());
			$('#release-summary #itunes').html($('#release_itunes').val());
			$('#release-summary #amazon').html($('#release_amazon').val());
			$('#release-summary #7d').html($('#release_sdigital').val());		
			});
				
	/*
	if there are errors don't allow the user to submit
	*/
			 $('.new_submit').bind('click',function(){
					if($('#fields').data('errors')){
			alert('Please go back and complete required fields.');
			return false;
		}
	});
		});
		$(function() {
			var fieldsetCount = $('#fields').children().length;
			var current = 1;
			var stepsWidth = 0;
			var widths = new Array();
			$('#steps .step').each(function(i) {
				var $step = $(this);
				widths[i] = stepsWidth;
				stepsWidth += $step.width();
			});
			$('#steps').width(stepsWidth);
			$('#fields').children(':first').find(':input:first').focus();
			$('#navigation').show();
			$('#navigation a').bind('click', function(e) {
				var $this = $(this);
				var prev = current;
				$this.closest('ul').find('li').removeClass('selected');
				$this.parent().addClass('selected');
				current = $this.parent().index() + 1;
				$('#steps').stop().animate({
					marginLeft : '-' + widths[current - 1] + 'px'
				}, 500, function() {
					if(current == fieldsetCount)
						validateSteps();
					else
						validateStep(prev);
					$('#fields').children(':nth-child(' + parseInt(current) + ')').find(':input:first').focus();
				});
				e.preventDefault();
			});
			$('#fields > fieldset').each(function() {
				var $fieldset = $(this);
				$fieldset.children(':last').find(':li').keydown(function(e) {
					if(e.which == 9) {
						$('#navigation li:nth-child(' + (parseInt(current) + 1) + ') a').click();
						/* force the blur for validation */
						$(this).blur();
						e.preventDefault();
					}
				});
			});
	function validateSteps(){
		var FormErrors = false;
		for(var i = 1; i < fieldsetCount; ++i){
			var error = validateStep(i);
			if(error == -1)
				FormErrors = true;
		}
		$('#fields').data('errors',FormErrors);	
	}
	function validateStep(step){
		if(step == fieldsetCount) return;
		
		var error = 1;
		var hasError = false;
		$('#fields').children(':nth-child('+ parseInt(step) +')').find(':input.fvalidate:not("button")').each(function(){
			var $this 		= $(this);
			var valueLength = jQuery.trim($this.val()).length;
			
			if(valueLength == ''){
				hasError = true;
			
			}	
		});
		var $link = $('#navigation li:nth-child(' + parseInt(step) + ') a');
		$link.parent().find('.error,.checked').remove();
		
		var valclass = 'checked';
		if(hasError){
			error = -1;
			valclass = 'error';
		}
		$('<span class="'+valclass+'"></span>').insertAfter($link);
		
		return error;
	}

});
	</script>
