<% content_for :title do %><%= @release.name %> release information by <%= @artist.name %><% end %>
<% content_for :description do %><%= @release.name %> release information by <%= @artist.name %>. <%= @artist.bio %> <% end %>
<div class="content content-pad-187-bottom">
<div id="artist-release">
<div class="release-left left">
<div id="release-image" style="background-image:url(<%= @release.image :release_i %>);background-repeat:no-repeat;background-position:center;">
<div id="opac-50"></div>
<div id="share-release">
<h5 class="signika-txt font-22 center-txt share-header">Share this track</h5>
<ul class="share-list">
<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com<%= url_for [@artist, @release] %>%2F&t=SNGTRKR','ShareSNGTRKRonFacebook','scrollbars=no,width=620,height=340'); return false;"><li class="left fb-icon sm-trigger fb-button"><i class="icon-facebook"></i></li></a>
<a href="#" title="Share on Twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com<%= url_for [@artist, @release] %>&text=<%= @artist.name %>+&#45;+<%= @release.name %>+released+on+<%= @release.label_name %>.+Check+out+<%= @artist.name %>+on+SNGTRKR+&#45;+www.sngtrkr.com<%= url_for [@artist, @release] %>&via=SNGTRKR','ShareSNGTRKRonTwitter','scrollbars=no,width=620,height=340'); return false;"><li class="left twit-icon sm-trigger twitter-button"><i class="icon-twitter"></i></li></a>
<a href="#" title="Share on Google Plus" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com<%= url_for [@artist, @release] %>','ShareSNGTRKRonGooglePlus','scrollbars=no,width=620,height=340'); return false;"><li class="left goo-icon sm-trigger google-button"><i class="icon-google-plus"></i></li></a>
</ul>
<div class="clear"></div>
<div class="font-13 o-button norm-o-pad signika-font left share-cancel">Cancel</div>
</div>
<div id="buy-release">
<h5 class="signika-txt font-22 center-txt buy-header">Buy this track</h5>
<ul class="buy-list">
<li class="left buy-trigger white-button"><%= image_tag "/images/itunes.png", :alt => "iTunes", :title => "iTunes" %></li>
<li class="left buy-trigger white-button"><%= image_tag "/images/amazon.png", :alt => "Amazon", :title => "Amazon" %></li>
<li class="left buy-trigger white-button"><%= image_tag "/images/7digital.png", :alt => "7Digital", :title => "7Digital" %></li>
</ul>
<div class="clear"></div>
<div class="font-13 o-button norm-o-pad signika-font left buy-cancel">Cancel</div>
</div>
</div>
<div class="release-rating font-13">
<ul>
<li class="left"><i class="icon-star-empty"></i></li>
<li class="left"><i class="icon-star-empty"></i></li>
<li class="left"><i class="icon-star-empty"></i></li>
<li class="left"><i class="icon-star-empty"></i></li>
<li class="left"><i class="icon-star-empty"></i></li>
</ul>
<div class="clear"></div>
<span id="rating-txt">0 Fan Ratings</span>
</div>
</div>
<div class="release-right right">
<div id="release-info">
	<h2 class="font-22 release-name"><strong><%= @release.name %></strong></h2>
	<h3 class="font-15 orange-txt"><%= link_to @artist.name, @artist %></h3>
	<i class="icon-tag i-info" title="Genre"></i><% if @release.genre? %><%= truncate((strip_tags @release.genre || "" ), :length => 30) %><% else %><span class="light-gray">No genre set</span><% end %><br/>
	<i class="icon-music i-info" title="Record Label"></i><% if @release.label_name? %><%= truncate((strip_tags @release.label_name || "" ), :length => 50) %><% else %><span class="light-gray">No label set</span><% end %><br/>
	<i class="icon-calendar i-info" title="Release Date"></i><strong><%= @release.date.strftime("#{Date.today.day.ordinalize} %B %Y ") %></strong><br/><br/>
	<i class="icon-list-ul i-info" title="Tracklistings"></i>Tracklisting:
	  <div id="release_jplayer_1" class="jp-jplayer"></div>
	  <div id="release-i-player">
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1"><i class="icon-play"></i></a></li>
          <li><a href="javascript:;" class="jp-pause icon-pause" tabindex="1"></a></li>
          <li><a href="javascript:;" class="jp-mute icon-volume-off" tabindex="1" title="mute"></a></li>
          <li><a href="javascript:;" class="jp-unmute icon-volume-down" tabindex="1" title="unmute"></a></li>
          <li><a href="javascript:;" class="jp-volume-max icon-volume-up" tabindex="1" title="max volume"></a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
	  </div>
</div>
<ul class="menu-user">
<li class="left o-button signika-font norm-o-pad font-13 buy-release"><i class="icon-shopping-cart"></i>Buy</li>
<li class="left o-button signika-font norm-o-pad font-13 share-release"><i class="icon-share-alt"></i>Share</li>
</ul>
<!-- 
MENU FOR ARTIST TO ENABLE EDIT FUNCTION
<ul class="menu-artist">
<li class="left o-button signika-font norm-o-pad font-13 buy-release"><i class="icon-shopping-cart"></i>Buy</li>
<li class="left o-button signika-font norm-o-pad font-13 share-release"><i class="icon-share-alt"></i>Share</li>
<li class="left o-button signika-font norm-o-pad font-13"><i class="icon-edit"></i>Edit</li>
</ul> -->
</div>
<div class="clear"></div>
</div>
<h4 class="signika-txt font-25 also-by">Also by <%= link_to @artist.name, @artist %></h4>
<div class="release-carousel">
<ul class="release-list">
	<% @releases.each do |release| %>
		<li><div style="background-image:url(<%= release.image :release_carousel %>);background-repeat:no-repeat;background-position:center;"></div><span><%= link_to [release.artist, release] do %><%= truncate((strip_tags release.name || "" ), :length => 19) %><% end %></span></li>
		<% end %>
	</ul>
	
	<div class="clearfix"></div>
	<a class="prev o-button" id="rel_prev" href="#"><i class="icon-chevron-left"></i></a>
	<a class="next o-button" id="rel_next" href="#"><i class="icon-chevron-right"></i></a>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".share-release").click(function() {
			$('#opac-50').fadeIn("normal");
			$('#share-release').animate({right : 0}, "slow");
			$('#buy-release').animate({left : -310}, "slow");
		});
		$(".share-cancel").click(function() {
			$('#opac-50').fadeOut("normal");
			$('#share-release').animate({right : -310}, "slow");
		});
		$(".sm-trigger").click(function() {
			$('#opac-50').fadeOut("normal");
			$('#share-release').animate({right : -310}, "slow");
		});
		
		$(".buy-release").click(function() {
			$('#opac-50').fadeIn("normal");
			$('#buy-release').animate({left : 0}, "slow");
			$('#share-release').animate({right : -310}, "slow");
		});
		$(".buy-cancel").click(function() {
			$('#opac-50').fadeOut("normal");
			$('#buy-release').animate({left : -310}, "slow");
		});
		$(".buy-trigger").click(function() {
			$('#opac-50').fadeOut("normal");
			$('#buy-release').animate({left : -310}, "slow");
		});
		$(".release-list").carouFredSel({
	circular: false,
	infinite: false,
	auto 	: false,
	scroll	: {
		items	: "page"
	},
	prev	: {	
		button	: "#rel_prev",
		key		: "left"
	},
	next	: { 
		button	: "#rel_next",
		key		: "right"
	},
});

		});
		</script>
		<script type="text/javascript">
    $(document).ready(function(){
      $("#release_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
            oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
          });
        },
        swfPath: "/js",
        supplied: "m4a, oga"
      });
    });
  </script>