<% content_for :title do %><%= @release.name %> release information by <%= @artist.name %><% end %>
<% content_for :description do %><%= @release.name %> release information by <%= @artist.name %>. <%= @artist.bio %> <% end %>
<div class="row"><div class="span8 offset2">
<div class="row">
<div class="span4">
<% if can? :manage, Resque %>
  <div class="super-admin">
  <%= form_for [@artist,@release] do |f| %>
  <div class="ignore">
    <% if !@release.ignore? %>
      <%= f.hidden_field :ignore, :value => true %>
      <%= f.submit "Ignore Release", :type => :image, :src => "/images/ignore.png", :class => "i-artist" %>
    <% else %>
      <%= f.hidden_field :ignore, :value => false %>
      <%= f.submit "Unignore Release", :type => :image, :src => "/images/unignore.png", :class => "ui-artist" %>
  
    <% end %>
    </div>
  <% end %>
  <!--
  <div class="edit">
  <%= link_to edit_artist_path(@artist) do %><i class="icon-edit"></i><% end %>
  </div>
  -->
  </div>
<% end %>
<div id="release-image" style="background-image:url(<%= @release.image :release_i %>);background-repeat:no-repeat;background-position:center;">
<% if @manager %>
  <i class="icon-edit"></i>
  <div id="release-image-options">
  <i class="icon-remove"></i>
    <% if !@release.image? %>
        <%= form_for [@artist,@release] do |f| %> 
          <%= f.file_field :image %> 
          <%= f.submit "Upload Artwork", :class => "add" %> 
        <% end %>
    <% else %>
        <%= form_for [@artist,@release] do |f| %> 
          <%= f.file_field :image %> 
          <%= f.submit "Replace Artwork", :class => "edit" %> 
        <% end %>
        <%= form_for [@artist,@release] do |f| %>
          <%= f.hidden_field :delete_image, :value => true %>
          <%= f.submit "Delete Artwork", :class => "del" %>
        <% end %>
    <% end %>
  </div>
<% end %>
<div id="report-form">
  <% @feedback = Feedback.new %>
  <%= render 'feedbacks/form' %>
</div>
<div id="opac-50"></div>
<div id="share-release">
<h3>Share this track</h3>
<ul>
<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com<%= url_for [@artist, @release] %>%2F&t=SNGTRKR','ShareSNGTRKRonFacebook','scrollbars=no,width=620,height=340'); return false;"><li class="fb-icon fb-button"><i class="icon-facebook"></i></li></a>
<a href="#" title="Share on Twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com<%= url_for [@artist, @release] %>&text=<%= @artist.name %>+&#45;+<%= @release.name %>+released+on+<%= @release.label_name %>.+Check+out+<%= @artist.name %>+on+SNGTRKR+&#45;+www.sngtrkr.com<%= url_for [@artist, @release] %>&via=SNGTRKR','ShareSNGTRKRonTwitter','scrollbars=no,width=620,height=340'); return false;"><li class="twit-icon twitter-button"><i class="icon-twitter"></i></li></a>
<a href="#" title="Share on Google Plus" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com<%= url_for [@artist, @release] %>','ShareSNGTRKRonGooglePlus','scrollbars=no,width=620,height=340'); return false;"><li class="goo-icon google-button"><i class="icon-google-plus"></i></li></a>
<div class="clear"></div>
</ul>
<div class="share-cancel">Cancel</div>
</div>
<div id="buy-release">
<h3>Buy this track</h3>
<%= render :partial => 'shared/buy_links', :object => @release %>
<div class="clear"></div>
<div class="buy-cancel">Cancel</div>
</div>
</div>
<div class="release-rating">
<%= ratings_for(@release, :remote_options => {:url => rate_artist_release_path(@artist,@release)}) %>
<div class="clear"></div>
<span><% if @release.rates.count > 0 %><%= @release.rates.count %> fan rating<% if @release.rates.count > 1 %>s<% else %><% end %><% else %>No fan ratings. Be the first!<% end %></span>
</div>
 </div>
<div class="span4">
<div id="release-info">
	<h2>
  	<% if @manager %>
  	<%= best_in_place [@artist, @release], :name, :type => :input, :class => 'form-text' %>
  	<% else %>
  	<%= @release.name %>
  	<% end %>
  	</h2>
	<h3><%= link_to @artist.name, @artist %></h3>
	<span class="tooltip-parent" data-title="Genre" data-placement="left"><i class="icon-music" title="Genre"></i></span>
	<% if @manager %>
  	<%= best_in_place [@artist, @release], :genre, :type => :input, :class => 'form-text' %>
  <% else %>
  	<% if @release.genre? %>
    	<%= @release.genre %>
  	<% else %>
  	 <span class="gray">Unknown</span>
  	<% end %>
	<% end %><br/>
	<span class="tooltip-parent" data-title="Record Label" data-placement="left"><i class="icon-tag" title="Record Label"></i></span>
  	<% if @manager %>
  	<%= best_in_place [@artist, @release], :label_name, :type => :input, :class => 'form-text' %>
	<% else %>
  	<% if @release.label_name? %>
    	<%= @release.label_name %>
  	<% else %>
  	<span class="gray">Unknown</span>
  	<% end %>
  <% end %>	 
	<br/>
	<span class="tooltip-parent" data-title="Release Date" data-placement="left"><i class="icon-calendar" title="Release Date"></i></span><strong>
  	<% if @manager %>
  	 <%= best_in_place [@artist, @release], :date, :display_as => 'pretty_date', :type => :date, :class => 'form-text' %>
  	<% else %>
  	 <%= @release.date.strftime("#{Date.today.day.ordinalize} %B %Y ") %>
  	<% end %></strong><br/>
	<% if !@release.tracks.count.zero? %>
  <div id="release_jplayer_1" class="jp-jplayer"></div>
  <div id="release-i-player">
  <div id="jp_container_1" class="jp-audio">
  <i class="icon-list-ul" title="Tracklistings"></i>Tracklisting:
      	<div class="scrollbar">
	<div id="tracklist">
      <div class="jp-playlist">
					<ul>
						<li></li>
					</ul>
				</div>
	</div>
      	</div>
      	 
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1"><i class="icon-play"></i></a></li>
          <li><a href="javascript:;" class="jp-pause icon-pause" tabindex="1"></a></li>
          <li><a href="javascript:;" class="jp-mute icon-volume-off" tabindex="1" title="mute"></a></li>
          <li><a href="javascript:;" class="jp-unmute icon-volume-down" tabindex="1" title="unmute"></a></li>
          <li><a href="javascript:;" class="jp-volume-max icon-volume-up" tabindex="1" title="max volume"></a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
      </div>

      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div> <!-- no-solution -->
    </div> <!-- jp-interface -->
  </div> <!-- type-single -->
	  </div> <! -- jp_container -->
<% else %>
<div id="no-preview">No track preview available for this release.</div><% end %>
</div> <! -- release-i-player -->
  <ul class="menu-user">
  <li class="buy-release"><i class="icon-shopping-cart"></i>Buy</li>
  <li class="share-release"><i class="icon-share-alt"></i>Share</li>
  <li class="report-release popover-parent" data-content="If this release has an issue such as an incorrect name or artist, then please flag it for our attention." data-original-title="Flag Release"><i class="icon-flag"></i></li>
  </ul>
</div><!-- release-info -->
<div class="clear"></div>
</div></div></div>
<div class="row">
<div class="span8 offset2">
<h4 class="also-by">Also by <%= link_to @artist.name, @artist %></h4>
<div class="release-carousel <% if (@releases.count - 1) < 5 %>under-5<% else %><% end %>">
<ul>
	<% @releases.each do |release|
  	 if release == @release 
    	 next
  	 end
	 %>
		<li><%= link_to [release.artist, release] do %><div style="background-image:url(<%= release.image :release_carousel %>);background-repeat:no-repeat;background-position:center;"></div><span><%= truncate((strip_tags release.name || "" ), :length => 15) %></span><% end %></li>
		<% end %>
	</ul>
	
	<div class="clearfix"></div>
	<a class="c-prev" id="rel_prev" href="#"><i class="icon-chevron-left"></i></a>
	<a class="c-next" id="rel_next" href="#"><i class="icon-chevron-right"></i></a>
</div>
</div></div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".ignore").mouseover(function(){ $('.ignore').stop().animate({left : 60}, "slow");}).mouseout(function(){$('.ignore').stop().animate({left : 0}, "slow");});
		$(".share-release").click(function() { $('#opac-50').fadeIn("normal"); $('#share-release').animate({right : 0}, "slow"); $('#buy-release').animate({left : -310}, "slow"); $('#report-form').animate({top : -310}, "slow");});
		$(".share-cancel").click(function() { $('#opac-50').fadeOut("normal"); $('#share-release').animate({right : -310}, "slow"); });
		$(".report-release").click(function(){ $('#opac-50').fadeIn("normal"); $('#report-form ').animate({top : 0}, "slow"); $('#buy-release').animate({left : -310}, "slow"); $('#share-release').animate({right : -310}, "slow"); });
		$("#report-form > #new_feedback > .actions > span").click(function() { $('#opac-50').fadeOut("normal"); $('#report-form').animate({top : -310}, "slow"); });
		$("#share-release ul a li").click(function() { $('#opac-50').fadeOut("normal"); $('#share-release').animate({right : -310}, "slow"); });
	    $(".buy-release").click(function() { $('#opac-50').fadeIn("normal"); $('#buy-release').animate({left : 0}, "slow"); $('#share-release').animate({right : -310}, "slow"); $('#report-form').animate({top : -310}, "slow");});
		$(".buy-cancel").click(function() { $('#opac-50').fadeOut("normal"); $('#buy-release').animate({left : -310}, "slow"); });
		$("#buy-release ul li").click(function() { $('#opac-50').fadeOut("normal"); $('#buy-release').animate({left : -310}, "slow"); });
	  $("#release-image > .icon-edit").click(function () {
	    $('#release-image-options').animate({
	      bottom: 0
	    }, "slow");
	  });
	  $("#release-image > #release-image-options > .icon-remove").click(function () {
	    $('#release-image-options').animate({
	      bottom: -70
	    }, "slow");
	  });
	  $(".release-carousel > ul").carouFredSel({
	    circular: false,
	    infinite: false,
	    auto: false,
	    scroll: {
	      items: "page"
	    },
	    prev: {
	      button: "#rel_prev",
	      key: "left"
	    },
	    next: {
	      button: "#rel_next",
	      key: "right"
	    },
	  });

	});
</script>
		<% if !@release.tracks.count.zero? %>
		<script type="text/javascript">
    $(document).ready(function(){
        new jPlayerPlaylist({
		jPlayer: "#release_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
	<% 
  	i = 1
  	@release.tracks.ordered.each do |track| %>
		{
			title:"<%= i %> - <%= track.name %>",
			m4a:"<%= track.preview %>"
		},
		<% 
		i += 1
		end %>
		
	], {
        swfPath: "/js",
        supplied: "m4a, oga"
      });
    });
  </script>
  <% end %>
