<% content_for :og_name, @release.name  
content_for :og_url, request.url  
content_for :og_image, File.join(root_url , @release.image.url(:release_i)) 
content_for :og_description, "#{@release.name} by #{@artist.name}. Released #{@release.date.strftime("#{@release.date.day.ordinalize} %B %Y ")} by #{@release.label_name}"
content_for :og_id, @release.id.to_s  
content_for :og_type, "sngtrkr:release" 
%>
<% content_for :title do %><%= @release.name %> release information by <%= @artist.name %><% end %>
<% content_for :description do %><%= @release.name %> release information by <%= @artist.name %>. Released <%= @release.date.strftime("#{@release.date.day.ordinalize} %B %Y ") %> by <%= @release.label_name %> <% end %>
<div class="row-fluid">
  <div class="span2 release_artist">
    <%= image_tag 'http://placehold.it/170x170' %>
    <h2><%= link_to @artist.name, @artist %></h2>
    <h3><%= @artist.label_name %></h3>
    <div class="trackers">
      <%= image_tag "/images/ppl_black.png" %>
      <%= @artist.followers %> tracker<% if @artist.followers > 1 %>s<% end %>
    </div>
    <div class="releases">
      <%= image_tag "/images/release_blk.png" %>
      <%= @releases.count %> release<% if @releases.count > 1 %>s<% end %>
    </div>
    <div class="btn track">Track</div>
    <div class="btn share"><i class="icon-share"></i>Share</div>
    <ul>
      <% if @artist.fbid? %>
      <li><a href="http://www.facebook.com/<%= @artist.fbid %>" target="_blank"><%= image_tag "/images/social/fb.png" %><p>Facebook</p></a></li> 
      <% end %>
      <% if @artist.twitter? %>
      <li><a href="http://www.twitter.com/<%= @artist.twitter %>" target="_blank"><%= image_tag "/images/social/twitter.png" %><p>Twitter</p></a></li>
      <% end %>
      <% if @artist.youtube? %>
      <li><a href="http://www.youtube.com/<%= @artist.youtube %>" target="_blank"><%= image_tag "/images/social/yt.png" %><p>YouTube</p></a></li>
      <% end %>
      <% if @artist.soundcloud? %>
      <li><a href="http://www.soundcloud.com/<%= @artist.soundcloud %>" target="_blank"><%= image_tag "/images/social/sc.png" %><p>Soundcloud</p></a></li>
      <% end %>
      <% if @artist.website? %>
      <li><a href="http://<%= @artist.website %>" target="_blank"><%= image_tag "/images/social/www.png" %><p>Website</p></a></li>
      <% end %>
      <% if @artist.sd? %>
      <li><a href="<%= @artist.sd %>" target="_blank"><%= image_tag "/images/social/7d.png" %><p>7Digital</p></a></li>
      <% end %>
      <% if @artist.itunes? %>
      <li><a href="<%= @artist.itunes %>" target="_blank"><%= image_tag "/images/social/it.png" %><p>iTunes</p></a></li>
      <% end %>
    </ul>
  </div>
  <div class="span8 release_info">
    <!-- <%= image_tag @release.image :release %> -->
    <%= image_tag "http://placehold.it/230x230" %>
    <div class="info">
      <h1><%= @release.name %></h1>
      <p class="tip" data-title="Label" data-placement="left"><i class="icon-tag"></i><%= @release.label_name %></p>
      <p class="tip" data-title="Release date" data-placement="left"><i class="icon-calendar"></i><%= @release.date.strftime("#{@release.date.day.ordinalize} %B %Y ") %></p>
      <div class="related">
        <p>Related releases:</p>
        <% @releases.take(6).each do |release|
         if release == @release 
           next
         end
         %>
          <%= link_to [release.artist, release] do %>
            <!-- <%= image_tag release.image :mini_r %> -->
            <%= image_tag "http://placehold.it/45x45" %>
          <% end %>  
        <% end %>
      </div>
      <div class="btn">Buy</div>
      <div class="btn share" data-placement="bottom"><i class="icon-share"></i>Share</div>
      <div class="share_popover">
          <div class="share_content">
            <div>
              <%= image_tag "/images/social/fb.png", :alt => "Facebook" %>
              <%= image_tag "/images/social/twitter.png", :alt => "Twitter" %>
              <%= image_tag "/images/social/tb.png", :alt => "Tumblr" %>
              <%= image_tag "/images/social/gplus.png", :alt => "Google+" %>
            </div>
          <span>Link:</span>
          <input type="text" value="<%= request.url %>">
        </div>
      </div>
      <div class="btn">Report</div>
    </div>
    <div class="clearfix"></div>
    <div class="tracklisting">
      <h2>Tracklisting</h2>
      <ul>
        <li>1. <p>Perferated</p><span>2:45</span></li>
        <li>2. <p>8 Bit Baby (featuring Murs)</p><span>4:59</span></li>
        <li>3. <p>CPU</p><span>4:17</span></li>
        <li>4. <p>Where You Should Be (featuring Sam Frank)</p><span>4:26</span></li>
        <li>5. <p>How Real (featuring Freckles)</p><span>4:33</span></li>
        <li>6. <p>Fields of Emotion</p><span>5:57</span></li>
        <li>7. <p>I Love the Way</p><span>5:12</span></li>
        <li>8. <p>Listenin' to the Records On My Wall</p><span>3:24</span></li>
        <li>9. <p>Wibbler</p><span>4:26</span></li>
        <li>10. <p>Metamorphosis</p><span>5:17</span></li>
        <li>11. <p>Finally (featuring La Roux)</p><span>4:43</span></li>
        <li>12. <p>Reflections (featuring dBridge & Instra:mental)</p><span>5:21</span></li>
        <li>13. <p>A Song for Lenny</p><span>3:04</span></li>
        <li>14. <p>The Epic Last Song</p><span>5:00</span></li>
    </div>
  </div>
</div>