<div class="release artist explore_artist">
  <%= link_to artist do %>
    <div class="hero_image">
      <div style="background-image:url(<%= artist.image.large.url %>);"></div>
      <div></div>
    </div>
  <% end %>
    <div class="info">
      <%= link_to artist do%><h2><%= artist.name %></h2><% end %>
      <h3><%= artist.label_name %></h3>
    </div>
    <div class="actions">
      <span class="act artist_tracker">
          <div></div>
          <%= pluralize artist.followers, "tracker" %>
      </span>
      <span class="act artist_release">
          <div></div>
          <%= pluralize artist.count_release, "release" %>
      </span>
      <span class="share_artist share act" id="<%= artist.id %>">
        <i class="icon-share-alt"></i>
      </span>
    </div>
</div>