<div id="activity-stream">
<div class="header"><%= image_tag "/images/side1.png", :id => "side1" %><h5>Recent Activity</h5></div>
<ul class="mousescroll">
<%= render :partial => 'users/group_activity', :collection => @activities %>
<div class="clear"></div>
</ul>
<hr>
</div>
<div id="recommendations">
<div class="header"><%= image_tag "/images/side2.png", :id => "side2" %><h5>Recommendations</h5></div>
<ul>
<%= render :partial => 'shared/sidebar_suggestion', :collection => @user.suggested[0, 4] %>
<div class="clear"></div>
</ul>
<hr>
</div>
<!--<div id="sngplyr">
<div class="header"><%= image_tag "/images/side3.png", :id => "side3" %><h5>SNGPLYR</h5></div>
<hr>
</div> -->