<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sngtrkr: http://ogp.me/ns/fb/sngtrkr#">
		<%= render 'layouts/head' %>
	</head>
	<body>
		<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started -->
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
		<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		
		<div id="wrapper">
			<% if !user_signed_in? %><% else %><div id="sidebar"><%= render :partial => 'layouts/sidebar' %></div>
			<script type="text/javascript">
			function hideDiv(){

			    if ($(window).width() < 1039) {
			
			            $("#sidebar").hide();
			            $(".info-feed").show();
			            $(".container").css("width", "700");
			            $(".search-query").addClass("search-pad");
			            $(".outer-tools").hide();
			            $(".inner-tools").show();
			            
			    }else{
			
			        $("#sidebar").fadeIn("slow");
			        $(".info-feed").fadeOut("slow");
			        $(".container").css("width", "980");
			        $(".search-query").removeClass("search-pad");
			        $(".inner-tools").hide();
			        $(".outer-tools").show();
			    }
			
			}
			$(document).ready(function () {
					//sidebar
					  //on load
					    hideDiv();
					
					    //on resize
					    $(window).resize(function(){
					        hideDiv();
					    });
		    });
		    </script>
		    <% end %>
			
		<!-- <%= image_tag "/images/beta.png", :alt => "BETA", :id => "beta-corner" %> -->
		<% if flash[:notice] or flash[:error] or flash[:success] %>
  		<div class="flash-outer <% if flash[:success] then %>flash-outer-success<% end %>" <% if flash[:disappear_after] then %>data-disappear-after="<%= flash[:disappear_after] %>"<% end %>>
    		<div id="flash-inner">
    		  <p>
    		  <% if flash[:error] and !flash[:notice] %>
      		  <%= raw flash[:error] %>
    		  <% end %>
    		  <%= raw flash[:notice] %>
    		  <%= raw flash[:success] %>
    		  </p>
    		</div>
    		<div class="flash-close"><i class="icon-remove"></i></div>
  		</div>
		<% end %>
		<%= render :partial => 'layouts/navbar' %>
<div class="wrapper2">
				<div class="container content-padding">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="footer"> <!-- class="container" -->
		<div id="fcontainer">
						<ul class="footer-menu">
					<li><a href="/about">About</a></li>
					<li><a href="http://blog.sngtrkr.com">Blog</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/terms">Terms of Use</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<% if can? :manage, :all %>
					<li><a href="/admin/rails" target="_blank">Administration</a></li>
					<li><a href="/sidekiq" target="_blank">Sidekiq</a></li>
					<li><a href="/feedbacks" target="_blank">Feedback</a></li>
					<% end %>
			   </ul>
				<p>© Copyright SNGTRKR 2012. All Rights Reserved - Artist and release images are the property Last.fm</p>
		</div>
		</div>
		<script type="text/javascript">
		  // Google Analytics
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-32097152-1']);
    	_gaq.push(['_trackPageview']);
    
    	(function() {
    		var ga = document.createElement('script');
    		ga.type = 'text/javascript';
    		ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0];
    		s.parentNode.insertBefore(ga, s);
    	})(); 
    	
    	// Best in place
    	$(document).ready(function() {
        /* Activating Best In Place */
        $(".best_in_place").best_in_place();
        $.datepicker.setDefaults($.datepicker.regional["gb"]);
      });
    </script>
	</body>
</html>