<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sngtrkr: http://ogp.me/ns/fb/sngtrkr#">
	 <% if content_for? :og_name %>
		<meta property="fb:app_id"        content="344989472205984" />
		<meta property="og:type"          content="sngtrkr:artist" />
		<meta property="og:url"           content="<%= yield :og_url %>" />
		<meta property="og:title"         content="<%= yield :og_name %>" />
		<meta property="og:description"   content="<%= yield :og_description %>" />
		<meta property="og:image"   content="<%= yield :og_image %>" />
		<meta property="sngtrkr:id" content="<%= yield :og_id %>" />
	<% end %>
		<title><% if content_for?(:title) %><%= yield :title %> - SNGTRKR <% else %>SNGTRKR<% end %></title>
		<meta name="description" content="<%= yield :description %>">
		<link rel="icon" type="image/ico" href="<%= asset_path "/images/icon.png" %>" >
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "/bootstrap.css", :media => "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Signika+Negative:400,600' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
    <script>window.jQuery || document.write("<%=j javascript_include_tag "/jquery-1.7.2.min.js" %>")</script> 
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js' %>
    <script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="/jquery-ui-1.8.21.custom.min.js'))</script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/bootstrap.min.js" %>
    <%= javascript_include_tag "/bootstrap-ajax-typeahead.js" %>
    <%= csrf_meta_tags %>
		<%= yield :extra_head %>
	</head>
	<body>
		<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started -->
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
		<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div id="wrapper">
		<!-- <%= image_tag "/images/beta.png", :alt => "BETA", :id => "beta-corner" %> -->
		<% if flash[:notice] or flash[:error] or flash[:success] %>
  		<div class="flash-outer <% if flash[:success] then %>flash-outer-success<% end %>" <% if flash[:disappear_after] then %>data-disappear-after="<%= flash[:disappear_after] %>"<% end %>>
    		<div id="flash-inner">
    		  <p>
    		  <% if flash[:error] and !flash[:notice] %>
      		  <%= raw flash[:error] %>
    		  <% end %>
    		  <%= raw flash[:notice] %>
    		  <%= raw flash[:success] %>
    		  </p>
    		</div>
    		<div class="flash-close"><i class="icon-remove"></i></div>
  		</div>
		<% end %>
			<div class="wrapper2">
				<div class="header">
					<!-- IE CSS for sticky footer -->
					<!--[if !IE 7]>
					<style type="text/css">
					#wrap {display:table;height:100%}
					</style>
					<![endif]-->
					<div class="logo-home"><a href="/"><%= image_tag "/images/logo-55.png", :alt => "SNGTRKR" %></a></div>
					<%= render 'shared/login' %>
					<% if(user_signed_in?) %>
					<%= render :partial => 'layouts/artist_mini_search', :locals => { :css => 'mini-search'} %>
					<% else %>
					<%= render :partial => 'layouts/artist_mini_search', :locals => { :css => 'mini-search-2'} %>
					<% end %>
					<div class="clear"></div>
				</div>
				<div class="container">
					<%= yield %>
					<div id="footer-pad"></div>
				</div>
			</div>
		</div>
		<div id="footer" class="container">
		<div  class="row"><div id="fcontainer" class="span10 offset1">
				<ul class="footer-menu">
					<li><a href="/about">About</a></li>
					<li><a href="http://blog.sngtrkr.com">Blog</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/terms">Terms of Use</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<% if can? :manage, :all %>
					<li><a href="/admin/rails" target="_blank">Administration</a></li>
					<li><a href="/sidekiq" target="_blank">Sidekiq</a></li>
					<li><a href="/feedbacks" target="_blank">Feedback</a></li>
					<% end %>
			   </ul>
				<p>© Copyright SNGTRKR 2012. All Rights Reserved - Artist and release images are the property Last.fm</p>
			</div>
		</div>
		</div>
		<script type="text/javascript">
		  // Google Analytics
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-32097152-1']);
    	_gaq.push(['_trackPageview']);
    
    	(function() {
    		var ga = document.createElement('script');
    		ga.type = 'text/javascript';
    		ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0];
    		s.parentNode.insertBefore(ga, s);
    	})(); 
    	
    	// Best in place
    	$(document).ready(function() {
        /* Activating Best In Place */
        $(".best_in_place").best_in_place();
        $.datepicker.setDefaults($.datepicker.regional["gb"]);
      });
    </script>
	</body>
</html>