<% if(user_signed_in?) %>
<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sngtrkr: http://ogp.me/ns/fb/sngtrkr#">
		<h1><title>SNGTRKR - <%= yield :title %></title></h1>
		<meta name="description" content="<%= yield :description %>">
		<link rel="icon" type="image/ico" href="/assets/images/icon.png" >
		<%= render :partial => 'layouts/all_js_css' %>
	</head>
	<body>
		<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started -->
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
		<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div id="wrapper">
			<div class="wrapper2">
				<div class="header header-height-small">
					<!-- IE CSS for sticky footer -->
					<!--[if !IE 7]>
					<style type="text/css">
					#wrap {display:table;height:100%}
					</style>
					<![endif]-->
					<%= render 'shared/login' %>
					<% if(user_signed_in?) %>
					<div class="mini-search right">
						<%= form_tag artists_path , :method => 'get' do %>
						<%= text_field_tag(:search, params[:search]) %><%= image_tag "/images/search-25.png", :alt => "Search", :class => "search-25 right" %>
						<% end %>
					</div>
					<% elsif %>
					<div class="mini-search-2 right">
						<%= form_tag artists_path , :method => 'get' do %>
						<%= text_field_tag(:search, params[:search]) %><%= image_tag "/images/search-25.png", :alt => "Search", :class => "search-25 right" %>
						<% end %>
					</div>
					<% end %>
					<div class="clear"></div>
					<a href="/">
					<div class="small-logo-home"><%= image_tag "/images/logo-55.png", :alt => "SNGTRKR" %>
					</div></a>

				</div>
				<%= yield %>
			</div>
		</div></div>
		<div id="footer">
			<div id="fcontainer">
				<ul class="footer-menu">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/team">Team</a>
					</li>
					<li>
						<a href="/help">Help</a>
					</li>
					<li>
						<a href="/terms">Terms of Use</a>
					</li>
					<li>
						<a href="/privacy">Privacy Policy</a>
					</li>
				</ul>
				<div id="footer-txt">
					© Copyright SNGTRKR 2012. All Rights Reserved.
				</div>
			</div>
		</div>
	</body>
</html>
<% elsif %>
<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sngtrkr: http://ogp.me/ns/fb/sngtrkr#">
		<h1><title>SNGTRKR - <%= yield :title %></title></h1>
		<meta name="description" content="<%= yield :description %>">
		<link rel="icon" type="image/ico" href="/assets/images/icon.png" >
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started -->
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
		<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div id="wrapper">
			<div class="wrapper2">
				<div class="header header-height-big">
					<!-- IE CSS for sticky footer -->
					<!--[if !IE 7]>
					<style type="text/css">
					#wrap {display:table;height:100%}
					</style>
					<![endif]-->
					<div class="right o-button fb-o-pad fb-home-login lucida-font font-logout"><%= image_tag "/images/facebook.png", :alt => "Facebook", :id => "fb-logo" %><%= link_to 						"Login", user_omniauth_authorize_path(:facebook), :id => "fb-txt" %></div>
					<div class="clear"></div>
					<div class="big-logo-home"><%= image_tag "/images/logo-120.png", :alt => "SNGTRKR" %>
					</div>
				</div>
				<%= yield %>
			</div>
		</div></div>
		<div id="footer">
			<div id="fcontainer">
				<ul class="footer-menu">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/team">Team</a>
					</li>
					<li>
						<a href="/help">Help</a>
					</li>
					<li>
						<a href="/terms">Terms of Use</a>
					</li>
					<li>
						<a href="/privacy">Privacy Policy</a>
					</li>
				</ul>
				<div id="footer-txt">
					© Copyright SNGTRKR 2012. All Rights Reserved.
				</div>
			</div>
		</div>
	</body>
</html>
<% end %>
