<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sngtrkr: http://ogp.me/ns/fb/sngtrkr#">
		<%= render 'layouts/head' %>
	</head>
	<body>
		<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started -->
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
		<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		
		<div id="wrapper">
					<% if !user_signed_in? %><% else %>
			<script type="text/javascript">
			function hideDiv(){

			    if ($(window).width() < 1039) {
		            $(".search-query").addClass("search-pad");
		            $(".outer-tools").hide();
		            $(".inner-tools").show();
			            
			    }else{
			        $(".container").css("width", "980");
			        $(".search-query").removeClass("search-pad");
			        $(".inner-tools").hide();
			        $(".outer-tools").show();
			    }
			
			}
			$(document).ready(function () {
					//sidebar
					  //on load
					    hideDiv();
					
					    //on resize
					    $(window).resize(function(){
					        hideDiv();
					    });
		    });
		    </script>
		    <% end %>
		<!-- <%= image_tag "/images/beta.png", :alt => "BETA", :id => "beta-corner" %> -->
		<% if flash[:notice] or flash[:error] or flash[:success] %>
  		<div class="flash-outer <% if flash[:success] then %>flash-outer-success<% end %>" <% if flash[:disappear_after] then %>data-disappear-after="<%= flash[:disappear_after] %>"<% end %>>
    		<div id="flash-inner">
    		  <p>
    		  <% if flash[:error] and !flash[:notice] %>
      		  <%= raw flash[:error] %>
    		  <% end %>
    		  <%= raw flash[:notice] %>
    		  <%= raw flash[:success] %>
    		  </p>
    		</div>
    		<div class="flash-close"><i class="icon-remove"></i></div>
  		</div>
		<% end %>
			<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
  			<div class="container">
						<div class="wrapper2">
						<div class="header">
						<!-- IE CSS for sticky footer -->
						<!--[if !IE 7]>
						<style type="text/css">
						#wrap {display:table;height:100%}
						</style>
						<![endif]-->
		      				<a class="brand" href="/">
						      <%= image_tag "/images/logo-45.png" %></a>
						      <% if !user_signed_in? %><% else %>
						      <ul class="nav pull-left">
						      <li class="active"><a href="/"><i class="icon-sitemap"></i>Timeline</a></li>
						      <li><%= link_to user_path(current_user) do %><i class="icon-user"></i>You<% end %></li>
						      </ul>
						<% end %>
						      
						      <%= form_tag artists_path , :method => 'get', :class => 'navbar-search pull-left' do %>
							  <% if !user_signed_in? %>
							  <%= text_field_tag(:search, params[:search], :autocomplete => 'off', :placeholder => "Search artists...", :id => 'mini_search_field', :class => 'search-query search-pad-2') %>
							  <% else %>	
							  <%= text_field_tag(:search, params[:search], :autocomplete => 'off', :placeholder => "Search artists...", :id => 'mini_search_field', :class => 'search-query') %>
							  <% end %><% end %>
								<% if !user_signed_in? %><%= link_to(user_omniauth_authorize_path(:facebook)) do %><div class="facebook-login nav pull-right"><i class="icon-facebook"></i> <span>Login</span></div><% end %>
<% else %><div class="nav pull-right inner-tools"><%= link_to(destroy_user_session_path, :method => :delete, :class => "btn btn-navbar toolbutton tooltip-parent", "data-title" => "Logout", "data-placement" => "bottom" ) do %><i class="icon-signout"></i><% end %>
			<%= link_to edit_user_path(@user), :class => "btn btn-navbar toolbutton tooltip-parent", "data-title" => "Settings", "data-placement" => "bottom" do %><i class="icon-cog"></i><% end %><a href="#feedback" data-toggle="modal" class="btn btn-navbar toolbutton tooltip-parent" data-title="Feedback" data-placement="bottom"><i class="icon-comment"></i></a></div><% end %>
				      			</div></div></div>	
				      			<%= render :partial => 'shared/nav_tools' %>
  </div></div>
  										  <div class="modal hide" id="feedback">
										  <div class="modal-header">
										    <h3>Feedback</h3>
										  </div>
										  <div class="modal-body">
										  <p>We love feedback. Feel free to tell us what you think of the site or report a bug!</p>
										    <%= form_for Feedback.new, :remote => true do |f| %>
													<%= f.text_area :feedback, :id => "fedbox", :rows => 4, :placeholder => "Tell us what you think..." %>
										  </div>
										  <div class="modal-footer">
										  <%= f.submit "Submit", :id => 'ajax-feedback-submit-button' %>
										    <div class="cancel" data-dismiss="modal">Cancel</div>
										    
										    <% end %>
										  </div>
										</div>
<div class="wrapper2">
				<div class="container content-padding">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="footer"> <!-- class="container" -->
		<div id="fcontainer">
						<ul class="footer-menu">
					<li><a href="/about">About</a></li>
					<li><a href="http://blog.sngtrkr.com">Blog</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/terms">Terms of Use</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<% if can? :manage, :all %>
					<li><a href="/admin/rails" target="_blank">Administration</a></li>
					<li><a href="/sidekiq" target="_blank">Sidekiq</a></li>
					<li><a href="/feedbacks" target="_blank">Feedback</a></li>
					<% end %>
			   </ul>
				<p>© Copyright SNGTRKR 2012. All Rights Reserved - Artist and release images are the property Last.fm</p>
		</div>
		</div>
		<script type="text/javascript">
		  // Google Analytics
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-32097152-1']);
    	_gaq.push(['_trackPageview']);
    
    	(function() {
    		var ga = document.createElement('script');
    		ga.type = 'text/javascript';
    		ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0];
    		s.parentNode.insertBefore(ga, s);
    	})(); 
    	
    	// Best in place
    	$(document).ready(function() {
        /* Activating Best In Place */
        $(".best_in_place").best_in_place();
        $.datepicker.setDefaults($.datepicker.regional["gb"]);
      });
    </script>
	</body>
</html>